openapi: 3.0.0
info:
  contact:
    email: supportautoload@avito.ru
  description: 'API для взаимодействия с иерархией аккаунтов в Авито

    **Авито API для бизнеса предоставляется согласно [Условиям использования](https://www.avito.ru/legal/pro_tools/public-api).**

    '
  title: Иерархия Аккаунтов Access Evaluation API
  version: '1'
servers:
- url: https://api.avito.ru/
tags:
- name: Evaluation
  x-displayName: Оценка и характеристики автомобиля
  x-subdivName: Оценка и характеристики автомобиля
paths:
  /autoteka/v1/catalogs/resolve:
    post:
      description: 'Метод для получения возможных параметров для заполнения пользователем.

        Первый запрос можно сделать без параметров, получить данные и далее, передавая нужные id и valueId в повторном запросе, получить все параметры.

        '
      operationId: catalogsResolve
      parameters:
      - $ref: '#/components/parameters/authHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestCatalogsResolve'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogsResolveResponseBodyAutoteka'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Ошибка валидации входных параметров
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Операцию невозможно выполнить
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
          description: Информация не найдена
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalError'
          description: Информация об ошибке
      security:
      - ClientCredentials: []
      summary: 'Получение актуальных параметров Автокаталога

        '
      tags:
      - Evaluation
  /autoteka/v1/specifications/by-plate-number:
    x-gateway:
      timeouts:
        connect: 200ms
        envoy: 5.0s
        read: 5s
        send: 5s
    post:
      description: 'Метод для запроса на получение спецификации по регистрационному номеру, возвращает идентификатор спецификации, по которому можно получить спецификацию в [методе для получения спецификации](#operation/specificationGetById).


        Чтобы подключить эту возможность, обратитесь к менеджеру Автотеки. Обратите внимание, что для её подключения надо завести отдельную учётную запись Автотеки.

        '
      operationId: specificationByPlateNumber
      parameters:
      - $ref: '#/components/parameters/authHeader'
      requestBody:
        content:
          application/json:
            example:
              plateNumber: X793YX77
            schema:
              $ref: '#/components/schemas/RequestReportByPlateNumberAutoteka'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSpecificationResponseBodyAutoteka'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Ошибка валидации входных параметров
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Операцию невозможно выполнить
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
          description: Информация не найдена
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalError'
          description: Информация об ошибке
      security:
      - ClientCredentials: []
      summary: 'Запрос характеристик по регистрационному номеру

        '
      tags:
      - Evaluation
  /autoteka/v1/specifications/by-vehicle-id:
    x-gateway:
      timeouts:
        connect: 200ms
        envoy: 5.0s
        read: 5s
        send: 5s
    post:
      description: 'Метод для запроса на получение спецификации по идентификатору авто (vin/frame), возвращает идентификатор спецификации, по которому можно получить спецификацию в [методе для получения спецификации](#operation/specificationGetById).


        Чтобы подключить эту возможность, обратитесь к менеджеру Автотеки. Обратите внимание, что для её подключения надо завести отдельную учётную запись Автотеки.

        '
      operationId: specificationByVehicleId
      parameters:
      - $ref: '#/components/parameters/authHeader'
      requestBody:
        content:
          application/json:
            example:
              vehicleId: XTA210990Y2766111
            schema:
              $ref: '#/components/schemas/RequestReportByVehicleIdAutoteka'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSpecificationResponseBodyAutoteka'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Ошибка валидации входных параметров
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Операцию невозможно выполнить
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
          description: Информация не найдена
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalError'
          description: Информация об ошибке
      security:
      - ClientCredentials: []
      summary: 'Запрос характеристик по идентификатору авто (vin/frame)

        '
      tags:
      - Evaluation
  /autoteka/v1/specifications/specification/{specificationID}:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - description: Идентификатор спецификации
      in: path
      name: specificationID
      required: true
      schema:
        minimum: 1
        type: integer
    get:
      description: 'Метод для получения спецификации по ее идентификатору.


        Чтобы подключить эту возможность, обратитесь к менеджеру Автотеки. Обратите внимание, что для её подключения надо завести отдельную учётную запись Автотеки.

        '
      operationId: specificationGetById
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSpecificationResponseBodyAutoteka'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Ошибка валидации входных параметров
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Операцию невозможно выполнить
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
          description: Информация не найдена
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalError'
          description: Информация об ошибке
      security:
      - ClientCredentials: []
      summary: 'Получение характеристик по ID запроса

        '
      tags:
      - Evaluation
  /autoteka/v1/valuation/by-specification:
    x-gateway:
      timeouts:
        connect: 200ms
        envoy: 5.0s
        read: 5s
        send: 5s
    post:
      description: 'Метод для получения оценки по параметрам, полученным из методов [получения спецификации по ее идентификатору](#operation/specificationID) и [получения параметров автокаталога Авито](#operation/catalogsResolve)


        Чтобы подключить эту возможность, обратитесь к менеджеру Автотеки. Обратите внимание, что для её подключения надо завести отдельную учётную запись Автотеки.

        '
      operationId: valuationBySpecification
      parameters:
      - $ref: '#/components/parameters/authHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestValuationBySpecificationResolve'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValuationBySpecificationResponseBodyAutoteka'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Ошибка валидации входных параметров
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Операцию невозможно выполнить
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
          description: Информация не найдена
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalError'
          description: Информация об ошибке
      security:
      - ClientCredentials: []
      summary: 'Получение оценки по параметрам

        '
      tags:
      - Evaluation
components:
  schemas:
    CatalogsResolveResponseDataAutoteka:
      properties:
        fields:
          items:
            $ref: '#/components/schemas/CatalogsFieldAutoteka'
          type: array
      required:
      - fields
      type: object
    GetSpecificationResponseDataAutoteka:
      properties:
        documents:
          $ref: '#/components/schemas/DocumentsResultAutoteka'
        newCarValuations:
          description: 'Массив оценок новых авто с аналогичной спецификацией.


            Чтобы подключить эту возможность, обратитесь к менеджеру Автотеки.

            '
          items:
            $ref: '#/components/schemas/NewCarValuation'
          nullable: true
          type: array
        specification:
          $ref: '#/components/schemas/SpecificationResultAutoteka'
        valuation:
          $ref: '#/components/schemas/AvitoPriceValuation'
      type: object
    RequestReportByPlateNumberAutoteka:
      properties:
        plateNumber:
          description: Регистрационный номер запрашиваемого авто.
          minLength: 1
          type: string
      required:
      - plateNumber
      type: object
    tooManyRequestsError:
      properties:
        error:
          properties:
            code:
              description: Код ошибки
              example: 429
              format: int32
              type: integer
          required:
          - code
          type: object
      type: object
    NewCarValuation:
      description: Оценка нового авто на основе рынка Авито
      properties:
        avgPrice:
          description: Средняя цена на основе объявлений
          example: 2010000
          type: integer
        bodyType:
          description: Тип автомобиля
          example: Универсал
          type: string
        brand:
          description: Бренд
          example: ВАЗ (LADA)
          type: string
        complectation:
          description: Комплектация
          example: Enjoy'24
          type: string
        drive:
          description: Привод
          example: Передний
          type: string
        engineType:
          description: Тип двигателя
          example: Бензин
          type: string
        maxPrice:
          description: Максимальная цена на основе объявлений
          example: 2050000
          type: integer
        medianPrice:
          description: Средняя цена на основе объявлений
          example: 2020000
          type: integer
        minPrice:
          description: Минимальная цена на основе объявлений
          example: 2000000
          type: integer
        model:
          description: Модель
          example: Largus Cross
          type: string
        modification:
          description: Модификация
          example: 1.6 MT (106 л.с.)
          type: string
        transmission:
          description: Коробка передач
          example: Механика
          type: string
        year:
          description: Год выпуска
          example: 2025
          type: integer
      required:
      - brand
      - model
      - year
      - modification
      - bodyType
      - complectation
      - drive
      - transmission
      - engineType
      - avgPrice
      - medianPrice
      - minPrice
      - maxPrice
      type: object
    RequestCatalogsResolve:
      properties:
        fieldsValueIds:
          description: Выбранные значения параметров
          items:
            properties:
              id:
                description: Идентификатор параметра из каталога Авито
                example: 110000
                format: int64
                minimum: 1
                type: integer
              valueId:
                description: Идентификатор значения из каталога Авито
                example: 403153
                format: int64
                minimum: 1
                type: integer
            required:
            - id
            - valueId
            type: object
          type: array
      required:
      - fieldsValueIds
      type: object
    SpecificationNormalizedSpecificationAutoteka:
      nullable: true
      properties:
        bodyType:
          description: Кузов
          nullable: true
          properties:
            value:
              description: Значение
              example: Внедорожник
              type: string
            valueId:
              description: Идентификатор значения
              example: 331231
              format: int64
              type: integer
          required:
          - valueId
          - value
          type: object
        brand:
          description: Бренд
          nullable: true
          properties:
            value:
              description: Значение
              example: Chery
              type: string
            valueId:
              description: Идентификатор значения
              example: 329210
              format: int64
              type: integer
          required:
          - valueId
          - value
          type: object
        capacity:
          description: Емкость
          nullable: true
          properties:
            value:
              description: Значение
              example: 129
              format: float64
              type: number
          required:
          - value
          type: object
        complectation:
          description: Комплектация
          nullable: true
          properties:
            value:
              description: Значение
              example: Comfort
              type: string
            valueId:
              description: Идентификатор значения
              example: 369961
              format: int64
              type: integer
          required:
          - valueId
          - value
          type: object
        doorsCount:
          description: Количество дверей
          nullable: true
          properties:
            value:
              description: Значение
              example: 5
              format: int64
              type: integer
            valueId:
              description: Идентификатор значения
              example: 331245
              format: int64
              type: integer
          required:
          - valueId
          - value
          type: object
        drive:
          description: Привод
          nullable: true
          properties:
            value:
              description: Значение
              example: Передний
              type: string
            valueId:
              description: Идентификатор значения
              example: 331251
              format: int64
              type: integer
          required:
          - valueId
          - value
          type: object
        engine:
          description: Объем двигателя
          nullable: true
          properties:
            value:
              description: Значение
              example: 2.4
              format: float64
              type: number
            valueId:
              description: Идентификатор значения
              example: 331775
              format: int64
              type: integer
          required:
          - valueId
          - value
          type: object
        engineType:
          description: Тип двигателя
          nullable: true
          properties:
            value:
              description: Значение
              example: Бензин
              type: string
            valueId:
              description: Идентификатор значения
              example: 331247
              format: int64
              type: integer
          required:
          - valueId
          - value
          type: object
        generation:
          description: Поколение
          nullable: true
          properties:
            value:
              description: Значение
              example: T11 (2005—2013)
              type: string
            valueId:
              description: Идентификатор значения
              example: 332287
              format: int64
              type: integer
          required:
          - valueId
          - value
          type: object
        model:
          description: Модель
          nullable: true
          properties:
            value:
              description: Значение
              example: Tiggo (T11)
              type: string
            valueId:
              description: Идентификатор значения
              example: 330887
              format: int64
              type: integer
          required:
          - valueId
          - value
          type: object
        modification:
          description: Модификация
          nullable: true
          properties:
            value:
              description: Значение
              example: 2.4 MT (129 л.с.)
              type: string
            valueId:
              description: Идентификатор значения
              example: 408424
              format: int64
              type: integer
          required:
          - valueId
          - value
          type: object
        transmission:
          description: Тип КПП
          nullable: true
          properties:
            value:
              description: Значение
              example: Механика
              type: string
            valueId:
              description: Идентификатор значения
              example: 331254
              format: int64
              type: integer
          required:
          - valueId
          - value
          type: object
        wheel:
          description: Руль
          nullable: true
          properties:
            value:
              description: Значение
              example: Левый
              type: string
          required:
          - value
          type: object
        year:
          description: Год выпуска
          nullable: true
          properties:
            value:
              description: Значение
              example: 2007
              format: int64
              type: integer
            valueId:
              description: Идентификатор значения
              example: 331123
              format: int64
              type: integer
          required:
          - valueId
          - value
          type: object
      required:
      - brand
      - model
      - bodyType
      - doorsCount
      - drive
      - wheel
      - engineType
      - engine
      - capacity
      - transmission
      - generation
      - modification
      - complectation
      - year
      type: object
    SpecificationIdResultAutoteka:
      properties:
        specificationId:
          description: Идентификатор спецификации, по которому ее можно получить
          example: 1
          format: int64
          minimum: 1
          type: integer
      required:
      - specificationId
      type: object
    forbiddenError:
      properties:
        error:
          properties:
            code:
              description: Код ошибки
              example: 403
              format: int32
              type: integer
            message:
              description: Сообщение об ошибке
              example: Forbidden
              type: string
          required:
          - code
          - message
          type: object
      type: object
    SpecificationResultAutoteka:
      properties:
        equipment:
          $ref: '#/components/schemas/SpecificationEquipmentAutoteka'
        normalizedSpecification:
          $ref: '#/components/schemas/SpecificationNormalizedSpecificationAutoteka'
        plateNumber:
          description: Регистрационный номер
          example: X777XX777
          nullable: true
          type: string
        specificationId:
          description: Идентификатор спецификации
          example: 157987
          format: int64
          type: integer
        status:
          description: Статус `success`, `processing`, `notFound`
          example: success
          type: string
        vehicleId:
          description: Идентификатор запрашиваемого авто (vin/frame)
          example: XUUNF487JA0007223
          nullable: true
          type: string
      required:
      - equipment
      - normalizedSpecification
      - specificationId
      - plateNumber
      - status
      - vehicleId
      type: object
    internalError:
      properties:
        error:
          properties:
            code:
              description: Код ошибки
              example: 500
              format: int32
              type: integer
            message:
              description: Сообщение об ошибке
              example: Service is temporary unavailable
              type: string
          required:
          - code
          - message
          type: object
      type: object
    AvitoPriceValuation:
      description: Оценка подержаного автомобиля от Авито
      nullable: true
      properties:
        avgMarketPrice:
          description: Оценка на основе объявлений
          example: 950000
          nullable: true
          type: integer
        avgMileage:
          description: Средний пробег аналогов
          example: 50000
          nullable: true
          type: integer
        avgPriceWithCondition:
          description: Оценка с учетом состояния автомобилей на основе реальных сделок
          example: 936000
          type: integer
        avgYear:
          description: Средний год выпуска аналогов
          example: 2012.9999
          format: float
          nullable: true
          type: number
        imvUrl:
          deprecated: true
          description: Поле больше не заполняется. Ссылка на страницу Авито IMV вида https://www.avito.ru/au-imv-info/2963331288
          example: https://www.avito.ru/au-imv-info/2963331288
          nullable: true
          type: string
        itemsCount:
          description: Количество машин, учтенных в оценке
          example: 121
          nullable: true
          type: integer
        marketNormalPriceRange:
          description: Диапазон "рыночной" оценки данного автомобиля по закрытым сделкам
          nullable: true
          properties:
            max:
              description: Максимальная граница "рыночной" оценки данного автомобиля по закрытым сделкам
              example: 5248900
              type: integer
            min:
              description: Минимальная граница "рыночной" оценки данного автомобиля по закрытым сделкам
              example: 3248900
              type: integer
          required:
          - min
          - max
          type: object
        maxPrice:
          description: Максимальная цена похожих авто на основе объявлений
          example: 1000000
          nullable: true
          type: integer
        minPrice:
          description: Минимальная цена похожих авто на основе объявлений
          example: 800000
          nullable: true
          type: integer
      required:
      - avgPriceWithCondition
      type: object
    CreateSpecificationResponseDataAutoteka:
      properties:
        specification:
          $ref: '#/components/schemas/SpecificationIdResultAutoteka'
      type: object
    validatingError:
      properties:
        error:
          properties:
            code:
              description: Код ошибки
              example: 400
              format: int32
              type: integer
            message:
              description: Сообщение об ошибке
              example: Validation error
              type: string
          required:
          - code
          - message
          type: object
      type: object
    CreateSpecificationResponseBodyAutoteka:
      properties:
        result:
          $ref: '#/components/schemas/CreateSpecificationResponseDataAutoteka'
      type: object
    notFoundError:
      properties:
        error:
          properties:
            code:
              description: Код ошибки
              example: 404
              format: int32
              type: integer
            message:
              description: Сообщение об ошибке
              example: Not found
              type: string
          required:
          - code
          - message
          type: object
      type: object
    RequestValuationBySpecificationResolve:
      properties:
        location:
          nullable: true
          properties:
            lat:
              example: 55.755863189697266
              format: float64
              type: number
            long:
              example: 37.617698669433594
              format: float64
              type: number
          required:
          - lat
          - long
          type: object
        mileage:
          description: Пробег в км
          example: 15000
          format: int32
          nullable: true
          type: integer
        specification:
          properties:
            bodyType:
              description: Тип ТС
              nullable: true
              properties:
                label:
                  description: Значение параметра
                  example: Кроссовер
                  type: string
                valueId:
                  description: Идентификатор значения параметра
                  example: 13815
                  format: int64
                  minimum: 1
                  type: integer
              required:
              - label
              - valueId
              type: object
            brand:
              description: Марка
              properties:
                label:
                  description: Значение параметра
                  example: BMW
                  type: string
                valueId:
                  description: Идентификатор значения параметра
                  example: 13815
                  format: int64
                  minimum: 1
                  type: integer
              required:
              - label
              - valueId
              type: object
            color:
              description: Цвет
              nullable: true
              properties:
                label:
                  description: Значение параметра
                  example: Серебряный
                  type: string
                valueId:
                  description: Идентификатор значения параметра
                  example: 13815
                  format: int64
                  minimum: 1
                  type: integer
              required:
              - label
              - valueId
              type: object
            complectation:
              description: Комплектация
              nullable: true
              properties:
                label:
                  description: Значение параметра
                  example: Престиж
                  type: string
                valueId:
                  description: Идентификатор значения параметра
                  example: 13815
                  format: int64
                  minimum: 1
                  type: integer
              required:
              - label
              - valueId
              type: object
            doorsCount:
              description: Количество дверей
              nullable: true
              properties:
                label:
                  description: Значение параметра
                  example: 4
                  type: string
                valueId:
                  description: Идентификатор значения параметра
                  example: 13815
                  format: int64
                  minimum: 1
                  type: integer
              required:
              - label
              - valueId
              type: object
            generation:
              description: 'Поколение


                Для оценки нового авто, параметр является необязательным, в таком случае возможно заполнение `{"label": "", "valueId": 0}`

                '
              properties:
                label:
                  description: Значение параметра
                  example: 1 поколение
                  type: string
                valueId:
                  description: Идентификатор значения параметра
                  example: 13815
                  format: int64
                  minimum: 0
                  type: integer
              required:
              - label
              - valueId
              type: object
            model:
              description: Модель
              properties:
                label:
                  description: Значение параметра
                  example: X3
                  type: string
                valueId:
                  description: Идентификатор значения параметра
                  example: 13815
                  format: int64
                  minimum: 1
                  type: integer
              required:
              - label
              - valueId
              type: object
            modification:
              description: 'Модификация


                Для оценки нового авто, параметр является необязательным, в таком случае возможно заполнение `{"label": "", "valueId": 0}`

                '
              properties:
                label:
                  description: Значение параметра
                  example: Люкс
                  type: string
                valueId:
                  description: Идентификатор значения параметра
                  example: 13815
                  format: int64
                  minimum: 0
                  type: integer
              required:
              - label
              - valueId
              type: object
            ownersCount:
              description: 'Количество владельцев


                Для оценки нового авто, параметр является необязательным, в таком случае возможно заполнение `{"label": "", "valueId": 0}`

                '
              properties:
                label:
                  description: Значение параметра
                  example: 4+
                  type: string
                valueId:
                  description: Идентификатор значения параметра
                  example: 13815
                  format: int64
                  minimum: 0
                  type: integer
              required:
              - label
              - valueId
              type: object
            year:
              description: Год выпуска
              properties:
                label:
                  description: Значение параметра
                  example: 2013
                  type: string
                valueId:
                  description: Идентификатор значения параметра
                  example: 13815
                  format: int64
                  minimum: 1
                  type: integer
              required:
              - label
              - valueId
              type: object
          required:
          - brand
          - model
          - year
          - generation
          - modification
          - ownersCount
          type: object
        vehicleId:
          description: Идентификатор авто (vin/frame).
          example: XTA21110987654321
          nullable: true
          type: string
      required:
      - specification
      type: object
    ValuationBySpecificationResultAutoteka:
      properties:
        brand:
          description: Марка
          example: BMW
          type: string
        mileage:
          description: Пробег запрашиваемого авто
          example: 30000
          format: int64
          nullable: true
          type: integer
        model:
          description: Модель
          example: X5
          type: string
        newCarValuations:
          description: 'Массив оценок новых авто с аналогичной спецификацией.


            Чтобы подключить эту возможность, обратитесь к менеджеру Автотеки.

            '
          items:
            $ref: '#/components/schemas/NewCarValuation'
          nullable: true
          type: array
        ownersCount:
          description: Количество владельцев
          example: 4+
          type: string
        status:
          description: Статус `success`, `notFound`
          example: success
          type: string
        valuation:
          $ref: '#/components/schemas/AvitoPriceValuation'
        vehicleId:
          description: Идентификатор запрашиваемого авто (vin/frame)
          example: XUU09876543215671
          minLength: 3
          nullable: true
          type: string
        year:
          description: Год выпуска запрашиваемого авто
          example: 2005
          format: int64
          type: integer
      required:
      - valuation
      - brand
      - model
      - year
      - ownersCount
      - status
      - vehicleId
      type: object
    GetSpecificationResponseBodyAutoteka:
      properties:
        result:
          $ref: '#/components/schemas/GetSpecificationResponseDataAutoteka'
      type: object
    SpecificationEquipmentAutoteka:
      nullable: true
      properties:
        bodyNumber:
          description: Номер кузова
          nullable: true
          properties:
            title:
              description: Номер кузова
              example: Номер кузова
              type: string
            value:
              description: Строковое значение
              type: string
          required:
          - title
          - value
          type: object
        bodyType:
          description: Тип ТС
          nullable: true
          properties:
            title:
              description: Заголовок
              example: Категория ТС
              type: string
            value:
              description: Текстовое значение
              enum:
              - Автобусы прочие
              - Грузовой бортовой
              - Грузовой прочий
              - Грузовой фургон
              - Грузовые автомобили бортовые
              - Грузовые автомобили фургоны
              - Легковое купе
              - Легковой прочий
              - Легковой седан
              - Легковой универсал
              - Легковой хэтчбек (комби)
              - Легковые автомобили кабриолет
              - Легковые автомобили комби (хэтчбек)
              - Легковые автомобили купе
              - Легковые автомобили прочие
              - Легковые автомобили седан
              - Легковые автомобили универсал
              - Мотоциклы
              type: string
          required:
          - title
          - value
          type: object
        brand:
          description: Бренд
          nullable: true
          properties:
            title:
              description: Заголовок
              example: Бренд
              type: string
            value:
              description: Текстовое значение
              enum:
              - AUDI
              - BENTLEY
              - BMW
              - CADILLAC
              - CHERY
              - CHEVROLET
              - CHRYSLER
              - CITROEN
              - DACIA
              - DAEWOO
              - DAF
              - DATSUN
              - DODGE
              - FIAT
              - FORD
              - FREIGHTLINER
              - GAZ
              - GEELY
              - GENESIS
              - GREAT WALL
              - HONDA
              - HYUNDAI
              - Honda
              - INFINITI
              - ISUZU
              - IVECO
              - JEEP
              - Jaguar
              - KAMAZ
              - KIA
              - LADA
              - LEXUS
              - LIFAN
              - Land Rover
              - MAN
              - MAZ
              - MAZDA
              - MERCEDES
              - MERCEDES-BENZ
              - MINI
              - MITSUBISHI
              - NISSAN
              - OPEL
              - PEUGEOT
              - PORSCHE
              - RENAULT
              - ROVER
              - SEAZ
              - SKODA
              - SMART
              - SSANGYONG
              - SUBARU
              - Suzuki
              - TAGAZ
              - TOYOTA
              - UAZ
              - VAZ
              - VOLKSWAGEN
              - VOLVO
              - YAMAHA
              - ZAZ
              example: BMW
              type: string
          required:
          - title
          - value
          type: object
        color:
          description: Цвет кузова
          nullable: true
          properties:
            description:
              description: Текстовое значение
              example: Синий
              type: string
            title:
              description: Заголовок
              example: Цвет
              type: string
            value:
              description: Текстовое значение
              enum:
              - Бежево-Серый
              - Бежевый
              - Белый
              - Белый Металлик
              - Белый Перламутр
              - Белый Черный
              - Белый-Желтый-Серый
              - Белый/Черный
              - Бордовый
              - Бронзовый
              - Вишнево-Красный
              - Жемчужно-Белый
              - Зеленый
              - Золотисто-Коричневый
              - Золотисто-Охристый
              - Коричневый
              - Красный
              - Мальва
              - Многоцветный (Красный, Чёрный)
              - Мурена (Тёмно-Синий)
              - Оранжево-Красный
              - Оранжево-Черный
              - Оранжевый
              - Оранжевый Перламутровый
              - Оранжевый Черный
              - Перлам-Серебристый
              - Перламутрово-Серебристый
              - Светло-Коричневый
              - Светло-Серый
              - Светло-Синий
              - Серебристо-Белый
              - Серебристый
              - Серо Зеленый
              - Серо-Зеленый
              - Серо-Золотистый
              - Серо-Коричневый
              - Серо-Сине-Зеленый Металлик
              - Серо-Синий
              - Серый
              - Сине-Черный
              - Синий
              - Синий Темный
              - Скат
              - Средний Серо-Зеленый
              - Стальной
              - Темно Серый
              - Темно-Бордовый
              - Темно-Вишневый
              - Темно-Голубой
              - Темно-Зеленый
              - Темно-Серый
              - Темно-Синий
              - Черно-Серый
              - Черный
              - Черный Металлик
              example: Синий
              type: string
          required:
          - description
          - title
          - value
          type: object
        engineNumber:
          description: Номер двигателя
          nullable: true
          properties:
            title:
              description: Номер двигателя
              example: Номер двигателя
              type: string
            value:
              description: Строковое значение
              type: string
          required:
          - title
          - value
          type: object
        engineType:
          description: Тип двигателя
          nullable: true
          properties:
            title:
              description: Заголовок
              example: Тип двигателя
              type: string
            value:
              description: Текстовое значение
              enum:
              - Бензин
              - Дизель
              - Электро
              - Газ
              - Гибрид
              - Бензиновый на сжиженном газе
              - Бензиновый на сжатом газе
              - Дизельный на сжиженном газе
              - Дизельный на сжатом газе
              - Электро-бензиновый
              - Электро-дизельный
              example: Бензиновый
              type: string
          required:
          - title
          - value
          type: object
        horsepower:
          description: Количество лошадиных сил
          nullable: true
          properties:
            description:
              description: Текстовое значение
              example: 265 л.с.
              type: string
            title:
              description: Заголовок
              example: Мощность
              type: string
            value:
              description: Числовое значение
              example: 265
              format: int64
              type: integer
          required:
          - description
          - title
          - value
          type: object
        maxWeight:
          description: Разрешенная максимальная масса
          nullable: true
          properties:
            description:
              description: Текстовое значение
              example: 1645 кг
              type: string
            title:
              description: Заголовок
              example: Разрешенная максимальная масса
              type: string
            value:
              description: Числовое значение
              example: 1645
              format: int64
              type: integer
          required:
          - title
          - value
          - description
          type: object
        model:
          description: Модель
          nullable: true
          properties:
            title:
              description: Заголовок
              example: Модель
              type: string
            value:
              description: Текстовое значение
              example: Serie 1
              type: string
          required:
          - title
          - value
          type: object
        netWeight:
          description: Масса без нагрузки
          nullable: true
          properties:
            description:
              description: Текстовое значение
              example: 1245 кг
              type: string
            title:
              description: Заголовок
              example: Масса без нагрузки
              type: string
            value:
              description: Числовое значение
              example: 1245
              format: int64
              type: integer
          required:
          - title
          - value
          - description
          type: object
        vehicleCategory:
          description: Категория ТС
          nullable: true
          properties:
            title:
              description: Заголовок
              example: Категория ТС
              type: string
            value:
              description: Текстовое значение
              enum:
              - A
              - B
              - C
              - D
              - E
              - O
              - M1
              - M1G
              - N1
              example: D
              type: string
          required:
          - title
          - value
          type: object
        volume:
          description: Объем двигателя
          nullable: true
          properties:
            description:
              description: Текстовое значение
              example: 2 996 см³
              type: string
            title:
              description: Заголовок
              example: Объем двигателя
              type: string
            value:
              description: Числовое значение
              example: 2996
              format: int64
              type: integer
          required:
          - description
          - title
          - value
          type: object
        year:
          description: Год выпуска
          nullable: true
          properties:
            title:
              description: Заголовок
              example: Год выпуска
              type: string
            value:
              description: Числовое значение
              example: 2008
              format: int64
              type: integer
          required:
          - title
          - value
          type: object
      required:
      - bodyNumber
      - brand
      - color
      - engineNumber
      - engineType
      - horsepower
      - maxWeight
      - model
      - netWeight
      - vehicleCategory
      - bodyType
      - volume
      - year
      type: object
    CatalogsResolveResponseBodyAutoteka:
      properties:
        result:
          $ref: '#/components/schemas/CatalogsResolveResponseDataAutoteka'
      type: object
    RequestReportByVehicleIdAutoteka:
      properties:
        vehicleId:
          description: Идентификатор запрашиваемого авто (vin/frame).
          minLength: 1
          type: string
      required:
      - vehicleId
      type: object
    DocumentsResultAutoteka:
      nullable: true
      properties:
        pts:
          description: Информация о ПТС
          nullable: true
          properties:
            date:
              description: Дата выдачи ПТС
              example: '2024-07-31'
              nullable: true
              type: string
            number:
              description: Номер ПТС
              example: '1234567890'
              nullable: true
              type: string
            organization:
              description: Организация, выдавшая ПТС
              example: Название организации
              nullable: true
              type: string
          type: object
        sts:
          description: Информация об СТС
          nullable: true
          properties:
            date:
              description: Дата выдачи СТС
              example: '2024-07-31'
              nullable: true
              type: string
            number:
              description: Серия и номер СТС
              example: '1234567890'
              nullable: true
              type: string
          type: object
      type: object
    ValuationBySpecificationResponseBodyAutoteka:
      properties:
        result:
          $ref: '#/components/schemas/ValuationBySpecificationResultAutoteka'
      type: object
    CatalogsFieldAutoteka:
      description: Параметр из каталога Авито
      properties:
        dataType:
          description: Тип значения параметра
          example: integer
          type: string
        id:
          description: Идентификатор параметра
          example: 110000
          format: int64
          minimum: 1
          type: integer
        label:
          description: Название параметра
          example: Марка
          type: string
        values:
          items:
            properties:
              label:
                description: Значение параметра
                example: Accent
                type: string
              valueId:
                description: Идентификатор значения параметра
                example: 403154
                format: int64
                minimum: 1
                type: integer
            required:
            - label
            - valueId
            type: object
          type: array
      required:
      - id
      - label
      - dataType
      - values
      type: object
  headers:
    X-RateLimit-Limit:
      description: Количество запросов в минуту
      schema:
        format: int32
        type: integer
    X-RateLimit-Remaining:
      description: Доступное количество запросов в текущем временном окне
      schema:
        format: int32
        type: integer
  parameters:
    authHeader:
      description: Токен для авторизации
      example: Bearer ACCESS_TOKEN
      in: header
      name: Authorization
      schema:
        type: string
  securitySchemes:
    AuthorizationCode:
      description: Это API использует OAuth 2 с механизмом authorization_code. Используйте его для доступа к данным других пользователей при разработке стороннего приложения. [Подробнее](/api-catalog/auth/documentation#tag/ApplicationAccess)
      flows:
        authorizationCode:
          authorizationUrl: https://avito.ru/oauth
          scopes:
            ah:access: Взаимодействие с иерархией аккаунтов
          tokenUrl: https://api.avito.ru/token
      type: oauth2
    ClientCredentials:
      description: Это API использует OAuth 2 с механизмом client_credentials. Используйте его для доступа к возможностям своей личной учетной записи. [Подробнее](#tag/Access)
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://api.avito.ru/token
      type: oauth2
