openapi: 3.2.0
info:
  description: API для агентств Авито Promo
  title: Авито Promo Balance API
  version: 1.0.0
servers:
- url: https://api.avito.ru/
tags:
- description: 'С помощью API данного раздела вы можете получить информацию о балансе средств агентства и всех операций с ним.


    ### Типы авторизации


    Для использования данного API запрос должен быть авторизован.

    API Авито Promo использует следующие механизмы авторизации:


    -->'
  name: Balance
  x-displayName: Баланс агентства
paths:
  /api/1/agency/finances/balance:
    get:
      description: 'Данный метод позволяет получить текущий баланс средств агентства.


        ### Успешный ответ


        Метод возвращает назад информацию о балансе агентства `result`:


        - `full` — сумма полного баланса средств агентства в копейках.

        - `pending` — сумма баланса средств агентства, находящихся «в обработке», в копейках.'
      operationId: agencyFinancesBalance
      parameters:
      - $ref: '#/components/parameters/authHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  full:
                    $ref: '#/components/schemas/amountKopecks'
                  pending:
                    $ref: '#/components/schemas/amountKopecks'
                required:
                - full
                - pending
                type: object
          description: Успешный ответ
        '400':
          $ref: '#/components/responses/defaultBadRequest'
        '401':
          $ref: '#/components/responses/defaultUnauthorized'
        '403':
          $ref: '#/components/responses/defaultForbidden'
        '429':
          $ref: '#/components/responses/defaultTooManyRequests'
        '500':
          $ref: '#/components/responses/defaultInternalServerError'
      security:
      - ClientCredentials: []
      summary: Получение баланса агентства
      tags:
      - Balance
  /api/1/agency/finances/transactionsHistory:
    post:
      description: 'Данный метод позволяет получить список всех операций с балансом средств агентства.


        ### Параметры тела запроса


        - `dateFrom` — дата в формате RFC3339, с которой требуется получить операции с балансом.

        - `dateTo` — дата в формате RFC3339, по которую требуется получить операции с балансом.

        - `limit` — инструмент пагинации, ограничивает количество операций в ответе (максимум 1000).

        - `offset` — инструмент пагинации, выполняет смещение, с которого начинается выборка операций.


        ### Успешный ответ


        Метод возвращает назад список транзакций `result.items` — операции с балансом средств агентства.


        #### Транзакция


        Транзакция содержит в себе следующую информацию:


        - `transactionId` — идентификатор транзакции.

        - `operationDateTime` — дата и время проведения транзакции.

        - `amount` — сумма транзакции в копейках.

        - `status` — статус транзакции.

        - `clientId` — идентификатор клиента, которому был совершён перевод.

        Если не указан, значит, транзакция является пополнением баланса агентства.


        #### Статус транзакции


        - `success` — транзакция успешно завершена.

        - `pending` — транзакция в обработке.

        - `failed` — при обработке транзакции произошла ошибка.

        - `blocked` — попытка провести транзакцию за 2 дня до окончания отчётного периода.

        Такие транзакции не выполняются.'
      operationId: agencyFinancesTransactionsHistory
      parameters:
      - $ref: '#/components/parameters/authHeader'
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                dateFrom:
                  $ref: '#/components/schemas/dateTime'
                dateTo:
                  $ref: '#/components/schemas/dateTime'
                limit:
                  $ref: '#/components/schemas/limit'
                offset:
                  $ref: '#/components/schemas/offset'
              required:
              - dateFrom
              - dateTo
              - limit
              - offset
              type: object
        description: Тело запроса
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  items:
                    description: Информация об операциях с балансом агентства
                    items:
                      additionalProperties: false
                      description: Информация об операции с балансом агентства
                      properties:
                        amount:
                          $ref: '#/components/schemas/amountKopecks'
                        clientId:
                          $ref: '#/components/schemas/id'
                        operationDateTime:
                          $ref: '#/components/schemas/dateTime'
                        status:
                          description: Статус транзакции
                          enum:
                          - pending
                          - success
                          - blocked
                          - failed
                          example: success
                          type: string
                        transactionId:
                          $ref: '#/components/schemas/transactionId'
                      required:
                      - transactionId
                      - operationDateTime
                      - amount
                      - status
                      type: object
                    type: array
                required:
                - items
                type: object
          description: Успешный ответ
        '400':
          $ref: '#/components/responses/defaultBadRequest'
        '401':
          $ref: '#/components/responses/defaultUnauthorized'
        '403':
          $ref: '#/components/responses/defaultForbidden'
        '429':
          $ref: '#/components/responses/defaultTooManyRequests'
        '500':
          $ref: '#/components/responses/defaultInternalServerError'
      security:
      - ClientCredentials: []
      summary: Получение всех операций с балансом агентства
      tags:
      - Balance
components:
  schemas:
    defaultErrorResponse:
      additionalProperties: false
      properties:
        error:
          additionalProperties: false
          description: Ошибка
          properties:
            code:
              description: Код ошибки
              example: 1001
              type: integer
            message:
              $ref: '#/components/schemas/errorMessage'
          required:
          - code
          - message
          type: object
      required:
      - error
      type: object
    errorMessage:
      description: Сообщение об ошибке
      example: Ошибка
      type: string
    dateTime:
      description: Дата в формате RFC3339
      example: '2025-05-02T11:00:00+03:00'
      format: date-time
      type: string
    limit:
      description: Ограничение количества сущностей в выборке
      example: 100
      maximum: 1000
      minimum: 1
      type: integer
    transactionId:
      description: Идентификатор транзакции
      example: b52717c26fbc027acc34f165490fd4fdf404f3aa
      minLength: 1
      type: string
    amountKopecks:
      description: Сумма в копейках
      example: 100000
      type: integer
    id:
      description: Идентификатор
      example: 123456
      minimum: 1
      type: integer
    offset:
      description: Смещение, с которого начинается выборка
      example: 10
      minimum: 0
      type: integer
  responses:
    defaultUnauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/defaultErrorResponse'
      description: Требуется авторизация
    defaultInternalServerError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/defaultErrorResponse'
      description: Ошибка сервера
    defaultTooManyRequests:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/defaultErrorResponse'
      description: Превышено количество запросов
    defaultForbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/defaultErrorResponse'
      description: Действие запрещено
    defaultBadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/defaultErrorResponse'
      description: Неверный запрос
  parameters:
    authHeader:
      description: Токен для авторизации
      in: header
      name: Authorization
      required: true
      schema:
        example: Bearer ACCESS_TOKEN
        type: string
  securitySchemes:
    ClientCredentials:
      description: 'Используйте OAuth2 с механизмом `client_credentials` для доступа к возможностям учётной записи агентства. [Подробнее](#tag/Access)

        '
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://api.avito.ru/token
      type: oauth2
