openapi: 3.2.0
info:
  contact:
    email: supportautoload@avito.ru
  description: 'Получение и обновление авторизационных токенов для персональной авторизации и авторизации приложений

    **Авито API для бизнеса предоставляется согласно Условиям использования.**'
  title: Авторизация Application Access API
  version: '1'
servers:
- url: https://api.avito.ru/
tags:
- description: Для работы с API приложений от лица пользователя есть возможность получить токен через Authorization Code механизм протокола OAuth2.
  name: ApplicationAccess
  x-displayName: Авторизация для приложений
paths:
  /token‎:
    post:
      description: Получения временного ключа для авторизации запроса от лица пользователя
      operationId: getAccessTokenAuthorizationCode
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GetTokenOAuthRequest'
      responses:
        '200':
          content:
            application/json:
              example:
                access_token: kChqt9ewQNAcwgbHp4yFd5
                expires_in: 86400
                refresh_token: QNAcwgbHQNAcwgbHkChqt9ewQNAcwgbHp4yFd5
                scope: messenger:read,messenger:write
                token_type: Bearer
              schema:
                properties:
                  access_token:
                    description: Ключ для временной авторизации в системе
                    type: string
                  expires_in:
                    description: Время жизни ключа в секундах
                    format: int32
                    type: number
                  refresh_token:
                    description: Ключ для обновления токена доступа
                    type: string
                  scope:
                    description: Полученный скоуп
                    type: string
                  token_type:
                    description: Тип ключа авторизации
                    type: string
                type: object
          description: Успешный ответ
      summary: Получение access token
      tags:
      - ApplicationAccess
  /token‎‎:
    post:
      description: Обновление временного ключа для авторизации запроса от лица пользователя
      operationId: refreshAccessTokenAuthorizationCode
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          content:
            application/json:
              example:
                access_token: 5dFy4pHbgwcANQwe9tqhCk
                expires_in: 86400
                refresh_token: 5dFy4pHbgwcANQwe9tqhCkHbgwcANQHbgwcANQ
                scope: messenger:read,messenger:write
                token_type: Bearer
              schema:
                properties:
                  access_token:
                    description: Новый ключ для временной авторизации в системе
                    type: string
                  expires_in:
                    description: Время жизни ключа в секундах
                    format: int32
                    type: number
                  refresh_token:
                    description: Новый ключ для обновления токена доступа
                    type: string
                  scope:
                    description: Полученный скоуп
                    type: string
                  token_type:
                    description: Тип ключа авторизации
                    type: string
                type: object
          description: Успешный ответ
      summary: Обновление access token
      tags:
      - ApplicationAccess
components:
  schemas:
    RefreshRequest:
      properties:
        client_id:
          type: string
        client_secret:
          type: string
        grant_type:
          default: refresh_token
          description: Тип OAuth flow. Строка refresh_token
          type: string
        refresh_token:
          type: string
      required:
      - grant_type
      - client_id
      - client_secret
      - refresh_token
      type: object
    GetTokenOAuthRequest:
      properties:
        client_id:
          type: string
        client_secret:
          type: string
        code:
          type: string
        grant_type:
          default: authorization_code
          type: string
      required:
      - grant_type
      - client_id
      - client_secret
      - code
      type: object
  securitySchemes:
    AuthorizationCode:
      description: Это API использует OAuth 2 с механизмом authorization_code. Используйте его для доступа к данным других пользователей при разработке стороннего приложения. [Подробнее](#tag/ApplicationAccess)
      flows:
        authorizationCode:
          authorizationUrl: https://avito.ru/oauth
          scopes:
            autoload:reports: Получение отчетов Автозагрузки
            items:apply_vas: Применение дополнительных услуг
            items:info: Получение информации об объявлениях
            job:applications: Получение информации об откликах на вакансии
            job:cv: Получение информации резюме
            job:vacancy: Работа с вакансиями
            job:write: Изменение объявлений вертикали Работа
            messenger:read: Чтение сообщений в мессенджере Авито
            messenger:write: Модифицирование сообщений в мессенджере Авито
            short_term_rent:read: Получение информации об объявлениях краткосрочной аренды
            short_term_rent:write: Изменение объявлений краткосрочной аренды
            stats:read: Получение статистики объявлений
            user:read: Получение информации о пользователе
            user_balance:read: Получение баланса пользователя
            user_operations:read: Получение истории операций пользователя
          tokenUrl: https://api.avito.ru/token
      type: oauth2
    ClientCredentials:
      description: Это API использует OAuth 2 с механизмом client_credentials. Используйте его для доступа к возможностям своей личной учетной записи. [Подробнее](#tag/Access)
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://api.avito.ru/token
      type: oauth2
