openapi: 3.2.0
info:
  contact:
    email: supportautoload@avito.ru
  description: 'Получение и обновление авторизационных токенов для персональной авторизации и авторизации приложений

    **Авито API для бизнеса предоставляется согласно Условиям использования.**'
  title: Авторизация Access API
  version: '1'
servers:
- url: https://api.avito.ru/
tags:
- description: Для работы с API от своего лица необходимо получить токен авторизации — отдельный для каждой учетной записи на Авито.
  name: Access
  x-displayName: Персональная авторизация
paths:
  /token:
    post:
      description: Получения временного ключа для авторизации
      operationId: getAccessToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GetTokenRequest'
      responses:
        '200':
          content:
            application/json:
              example:
                access_token: kChqt9ewQNAcwgbHp4yFd5
                expires_in: 86400
                token_type: Bearer
              schema:
                properties:
                  access_token:
                    description: Ключ для временной авторизации в системе
                    type: string
                  expires_in:
                    description: Время жизни ключа в секундах
                    format: int32
                    type: number
                  token_type:
                    description: Тип ключа авторизации
                    type: string
                type: object
          description: Успешный ответ
      summary: Получение access token
      tags:
      - Access
components:
  schemas:
    GetTokenRequest:
      properties:
        client_id:
          type: string
        client_secret:
          type: string
        grant_type:
          default: client_credentials
          type: string
      required:
      - grant_type
      - client_id
      - client_secret
      type: object
  securitySchemes:
    AuthorizationCode:
      description: Это API использует OAuth 2 с механизмом authorization_code. Используйте его для доступа к данным других пользователей при разработке стороннего приложения. [Подробнее](#tag/ApplicationAccess)
      flows:
        authorizationCode:
          authorizationUrl: https://avito.ru/oauth
          scopes:
            autoload:reports: Получение отчетов Автозагрузки
            items:apply_vas: Применение дополнительных услуг
            items:info: Получение информации об объявлениях
            job:applications: Получение информации об откликах на вакансии
            job:cv: Получение информации резюме
            job:vacancy: Работа с вакансиями
            job:write: Изменение объявлений вертикали Работа
            messenger:read: Чтение сообщений в мессенджере Авито
            messenger:write: Модифицирование сообщений в мессенджере Авито
            short_term_rent:read: Получение информации об объявлениях краткосрочной аренды
            short_term_rent:write: Изменение объявлений краткосрочной аренды
            stats:read: Получение статистики объявлений
            user:read: Получение информации о пользователе
            user_balance:read: Получение баланса пользователя
            user_operations:read: Получение истории операций пользователя
          tokenUrl: https://api.avito.ru/token
      type: oauth2
    ClientCredentials:
      description: Это API использует OAuth 2 с механизмом client_credentials. Используйте его для доступа к возможностям своей личной учетной записи. [Подробнее](#tag/Access)
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://api.avito.ru/token
      type: oauth2
