openapi: 3.0.0
info:
  contact:
    email: supportautoload@avito.ru
  description: 'API для взаимодействия с иерархией аккаунтов в Авито

    **Авито API для бизнеса предоставляется согласно [Условиям использования](https://www.avito.ru/legal/pro_tools/public-api).**

    '
  title: Иерархия Аккаунтов Access Autoload API
  version: '1'
servers:
- url: https://api.avito.ru/
tags:
- description: Методы API для получения информации об автозагрузке объявлений
  name: Autoload
  x-displayName: Сервис Автозагрузка
paths:
  /autoload/v1/profile:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    get:
      deprecated: true
      description: 'Возвращает настройки профиля пользователя автозагрузки.

        С 23.12.2024 вместо поля upload_url используйте поле feeds_data. В нём содержится название файла и ссылка на него. [Новая версия](https://developers.avito.ru/api-catalog/autoload/documentation#operation/getProfileV2)'
      operationId: getProfile
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  autoload_enabled:
                    description: Статус автозагрузки (вкл/выкл)
                    type: boolean
                  report_email:
                    description: Почта, на которую будут приходить отчеты о выгрузках
                    nullable: true
                    type: string
                  schedule:
                    $ref: '#/components/schemas/ExportSchedule'
                  upload_url:
                    description: URL-адрес фида, для которого настроены регулярные выгрузки. Должен начинаться с http или https.
                    nullable: true
                    type: string
                required:
                - upload_url
                - autoload_enabled
                - report_email
                - schedule
                type: object
          description: 'Успешное получение данных пользователя

            '
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Неверный запрос
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Доступ запрещён
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Профиль не найден
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Внутренняя ошибка метода API
      summary: Получение профиля пользователя автозагрузки (deprecated)
      tags:
      - Autoload
    post:
      deprecated: true
      description: "Предназначен для создания и управления профилем автозагрузки. Если профиля еще не существует - через этот метод можно его создать. \n\nС 23.12.2024 вместо поля upload_url используйте поле feeds_data. В нём содержится название файла и ссылка на него. [Новая версия](https://developers.avito.ru/api-catalog/autoload/documentation#operation/createOrUpdateProfileV2)\n"
      operationId: createOrUpdateProfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertProfileIn'
      responses:
        '200':
          description: Успешное обновление настроек профиля
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Неверный запрос
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Доступ запрещён
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Внутренняя ошибка метода API
      summary: Создание/редактирование настроек профиля пользователя автозагрузки (deprecated)
      tags:
      - Autoload
  /autoload/v1/upload:
    post:
      description: 'Метод запускает процесс выгрузки объявлений из файла по ссылке, которая указана

        [в настройках автозагрузки](https://www.avito.ru/autoload/settings) в профиле Авито.

        В течение часа таким способом можно запустить только одну выгрузку.


        **Важно**: на загрузки с помощью этого метода не распространяются лимиты на количество публикаций, которые указаны в настройках автозагрузки в профиле Авито.

        Все объявления из файла, которые могут быть опубликованы или активированы, будут опубликованы или активированы.


        📝 [Напишите нам](https://docs.google.com/forms/d/e/1FAIpQLSdfTHlP6PKtOb08fxD7BaJ0VjtkaLXoRAswhF9gnKvrEyY16g/viewform?usp=sf_link),

        если в методе вам не хватает каких-либо данных.

        '
      operationId: upload
      responses:
        '200':
          description: Выгрузка файла по ссылке запущена успешно
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Информация об ошибке
      summary: Загрузка файла по ссылке
      tags:
      - Autoload
  /autoload/v1/user-docs/node/{node_slug}/fields:
    parameters:
    - $ref: '#/components/parameters/NodeSlug'
    - $ref: '#/components/parameters/IfModifiedSinceHeader'
    get:
      description: 'Метод позволяет получить поля конкретной категории и их параметры, зависимости полей, возможные значения и их типы, предупреждения (например, когда поле станет обязательным) и ссылки на каталоги значений.


        📝 [Напишите нам](https://docs.google.com/forms/d/e/1FAIpQLSdfTHlP6PKtOb08fxD7BaJ0VjtkaLXoRAswhF9gnKvrEyY16g/viewform?usp=sf_link), если в методе вам не хватает каких-либо данных.

        '
      operationId: userDocsNodeFields
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIFieldsOut'
          description: Успешное получение полей для переданной категории
          headers:
            Last-Modified:
              $ref: '#/components/headers/LastModifiedSinceHeader'
        '304':
          description: Вернётся пустой ответ, если дата в заголовке If-Modified-Since раньше даты последней сборки документации.
          headers:
            Last-Modified:
              $ref: '#/components/headers/LastModifiedSinceHeader'
        '400':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Код ошибки
                    type: integer
                  message:
                    description: Текст ошибки
                    type: string
                required:
                - code
                - message
                type: object
          description: Неправильный запрос
        '403':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Код ошибки
                    type: integer
                  message:
                    description: Текст ошибки
                    type: string
                required:
                - code
                - message
                type: object
          description: Ошибка авторизации пользователя
        '404':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Код ошибки
                    type: integer
                  message:
                    description: Текст ошибки
                    type: string
                required:
                - code
                - message
                type: object
          description: Запрашиваемый ресурс не найден
      summary: Получения полей категории
      tags:
      - Autoload
  /autoload/v1/user-docs/tree:
    parameters:
    - $ref: '#/components/parameters/IfModifiedSinceHeader'
    get:
      description: "Метод позволяет получить дерево категорий Авито в виде массива.  \n\U0001F4DD [Напишите нам](https://docs.google.com/forms/d/e/1FAIpQLSdfTHlP6PKtOb08fxD7BaJ0VjtkaLXoRAswhF9gnKvrEyY16g/viewform?usp=sf_link), если в методе вам не хватает каких-либо данных.\n"
      operationId: userDocsTree
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APICategoryTreeOut'
          description: Успешное получение дерева категорий
          headers:
            Last-Modified:
              $ref: '#/components/headers/LastModifiedSinceHeader'
        '304':
          description: Вернётся пустой ответ, если дата в заголовке If-Modified-Since раньше даты последней сборки документации.
          headers:
            Last-Modified:
              $ref: '#/components/headers/LastModifiedSinceHeader'
        '403':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Код ошибки
                    type: integer
                  message:
                    description: Текст ошибки
                    type: string
                required:
                - code
                - message
                type: object
          description: Ошибка авторизации пользователя
      summary: Получение дерева категорий
      tags:
      - Autoload
  /autoload/v2/items/ad_ids:
    get:
      description: 'Метод позволяет получить идентификаторы (ID) объявлений из файла автозагрузки по ID объявлений на Авито.


        📝 [Напишите нам](https://docs.google.com/forms/d/e/1FAIpQLSdfTHlP6PKtOb08fxD7BaJ0VjtkaLXoRAswhF9gnKvrEyY16g/viewform?usp=sf_link),

        если в методе вам не хватает каких-либо данных.

        '
      operationId: getAdIdsByAvitoIds
      parameters:
      - description: 'Список ID объявлений.

          Формат значения: строка с идентификаторами объявлений на Авито, перечисленными через «,» или «|».

          '
        in: query
        name: query
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  items:
                    description: Список связанных идентификаторов (ID) объявлений из файла с идентификаторами (ID) на Авито
                    items:
                      properties:
                        ad_id:
                          description: Идентификатор объявления из файла
                          nullable: true
                          type: string
                        avito_id:
                          description: Идентификатор объявления на Авито
                          type: integer
                      required:
                      - avito_id
                      type: object
                    type: array
                required:
                - items
                type: object
          description: Успешный ответ
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Все ошибки
      summary: ID объявлений из файла
      tags:
      - Autoload
  /autoload/v2/items/avito_ids:
    get:
      description: 'Метод позволяет получить идентификаторы (ID) объявлений на Авито по идентификаторам объявлений из файла автозагрузки.


        📝 [Напишите нам](https://docs.google.com/forms/d/e/1FAIpQLSdfTHlP6PKtOb08fxD7BaJ0VjtkaLXoRAswhF9gnKvrEyY16g/viewform?usp=sf_link),

        если в методе вам не хватает каких-либо данных.

        '
      operationId: getAvitoIdsByAdIds
      parameters:
      - description: 'Список ID объявлений.

          Формат значения: строка с [идентификаторами объявлений из файла](https://autoload.avito.ru/format/realty/#Id),

          перечисленными через «,» или «|»

          '
        in: query
        name: query
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  items:
                    description: Список связанных идентификаторов (ID) объявлений из файла с идентификаторами (ID) на Авито
                    items:
                      properties:
                        ad_id:
                          description: Идентификатор объявления из файла
                          type: string
                        avito_id:
                          description: Идентификатор объявления на Авито
                          nullable: true
                          type: integer
                      required:
                      - ad_id
                      type: object
                    type: array
                required:
                - items
                type: object
          description: Успешный ответ
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Информация об ошибке
      summary: ID объявлений на Авито
      tags:
      - Autoload
  /autoload/v2/profile:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    get:
      description: Возвращает настройки профиля пользователя автозагрузки. С 23.12.2024 вместо поля upload_url используйте поле feeds_data. В нём содержится название файла и ссылка на него.
      operationId: getProfileV2
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  autoload_enabled:
                    description: Статус автозагрузки (вкл/выкл)
                    type: boolean
                  feeds_data:
                    $ref: '#/components/schemas/FeedsData'
                  report_email:
                    description: Почта, на которую будут приходить отчеты о выгрузках
                    nullable: true
                    type: string
                  schedule:
                    $ref: '#/components/schemas/ExportSchedule'
                required:
                - feeds_data
                - autoload_enabled
                - report_email
                - schedule
                type: object
          description: 'Успешное получение данных пользователя

            '
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Неверный запрос
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Доступ запрещён
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Профиль не найден
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Внутренняя ошибка метода API
      summary: Получение профиля пользователя автозагрузки
      tags:
      - Autoload
    post:
      description: 'Предназначен для создания и управления профилем автозагрузки. Если профиля еще не существует - через этот метод можно его создать. С 23.12.2024 вместо поля feed_url используйте поле feeds_data. В нём содержится название файла и ссылка на него.

        '
      operationId: createOrUpdateProfileV2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertProfileInV2'
      responses:
        '200':
          description: Успешное обновление настроек профиля
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Неверный запрос
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Доступ запрещён
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Внутренняя ошибка метода API
      summary: Создание/редактирование настроек профиля пользователя автозагрузки
      tags:
      - Autoload
  /autoload/v2/reports:
    get:
      deprecated: true
      description: 'По запросу вы получите список отчётов автозагрузки.

        Они будут отсортированы в порядке убывания: самый свежий отчёт — в начале списка.


        📝 [Напишите нам](https://docs.google.com/forms/d/e/1FAIpQLSdfTHlP6PKtOb08fxD7BaJ0VjtkaLXoRAswhF9gnKvrEyY16g/viewform?usp=sf_link),

        если в методе вам не хватает каких-либо данных.


        Метод будет отключен 08.03.2027. С 08.09.2026 метод начнёт возвращать меньше данных. Подробнее читайте в [плане миграции](https://developers.avito.ru/api-catalog/autoload/documentation#migration-v4).

        '
      operationId: getReportsV2
      parameters:
      - description: 'Количество отчётов на странице: целое число больше 0 и меньше или равно 200.

          '
        in: query
        name: per_page
        schema:
          default: 50
          type: integer
      - description: 'Номер страницы: целое число больше или равно 0.

          '
        in: query
        name: page
        schema:
          default: 0
          type: integer
      - description: 'Фильтр по дате создания отчёта «от» (от такой-то даты).

          Формат значения: RFC3339

          '
        example: '2022-05-27T14:48:50.52Z'
        in: query
        name: date_from
        schema:
          format: date-time
          type: string
      - description: 'Фильтр по дате создания отчёта «до» (до такой-то даты).

          Формат значения: RFC3339

          '
        example: '2022-05-27T14:48:50.52Z'
        in: query
        name: date_to
        schema:
          format: date-time
          type: string
      - $ref: '#/components/parameters/authHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/MetaReportsAutoloadV2'
                  reports:
                    $ref: '#/components/schemas/ReportShortAutoloadV2'
                type: object
          description: Успешный ответ
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Информация об ошибке
      summary: Список отчётов автозагрузки (deprecated)
      tags:
      - Autoload
  /autoload/v2/reports/items:
    get:
      deprecated: true
      description: 'По запросу API отдаст данные по конкретным объявлениям.


        📝 [Напишите нам](https://docs.google.com/forms/d/e/1FAIpQLSdfTHlP6PKtOb08fxD7BaJ0VjtkaLXoRAswhF9gnKvrEyY16g/viewform?usp=sf_link),

        если в методе вам не хватает каких-либо данных.


        Метод будет отключен 08.03.2027. С 08.09.2026 метод начнёт возвращать меньше данных. Подробнее читайте в [плане миграции](https://developers.avito.ru/api-catalog/autoload/documentation#migration-v4).

        '
      operationId: getAutoloadItemsInfoV2
      parameters:
      - description: 'Идентификаторы объявлений из файла ([параметр Id](https://autoload.avito.ru/format/realty/#Id)).

          Формат значения: строка, содержащая от 1 до 100 идентификаторов, перечисленных через «,» или «|».

          '
        in: query
        name: query
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  items:
                    description: Список объявлений
                    items:
                      $ref: '#/components/schemas/ItemInfoAutoloadV2'
                    type: array
                required:
                - items
                type: object
          description: Успешный ответ
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Информация об ошибке
      summary: Объявления по ID в автозагрузке (deprecated)
      tags:
      - Autoload
  /autoload/v2/reports/last_completed_report:
    get:
      deprecated: true
      description: 'Метод возвращает сводную статистику с результатами последней завершённой выгрузки.

        Например, сколько объявлений было в файле и сколько из них было опубликовано с ошибками или без.


        📝 [Напишите нам](https://docs.google.com/forms/d/e/1FAIpQLSdfTHlP6PKtOb08fxD7BaJ0VjtkaLXoRAswhF9gnKvrEyY16g/viewform?usp=sf_link),

        если в методе вам не хватает каких-либо данных.


        С 23.12.2024 вместо поля feed_url используйте поле feeds_urls. В нём содержится название файла и ссылка на него.


        Метод будет отключен 08.03.2027. С 08.09.2026 метод начнёт возвращать меньше данных. Подробнее читайте в [плане миграции](https://developers.avito.ru/api-catalog/autoload/documentation#migration-v4).

        '
      operationId: getLastCompletedReport
      parameters:
      - $ref: '#/components/parameters/authHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportAutoloadV2'
          description: Успешный ответ
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Информация об ошибке
      summary: Статистика по последней выгрузке (deprecated)
      tags:
      - Autoload
  /autoload/v2/reports/{report_id}:
    get:
      deprecated: true
      description: 'Метод возвращает сводную статистику с результатами конкретной выгрузки — по ID отчёта.

        Например, сколько объявлений было в файле и сколько из них было опубликовано с ошибками или без.


        📝 [Напишите нам](https://docs.google.com/forms/d/e/1FAIpQLSdfTHlP6PKtOb08fxD7BaJ0VjtkaLXoRAswhF9gnKvrEyY16g/viewform?usp=sf_link),

        если в методе вам не хватает каких-либо данных.


        С 23.12.2024 вместо поля feed_url используйте поле feeds_urls. В нём содержится название файла и ссылка на него.


        Метод будет отключен 08.03.2027. С 08.09.2026 метод начнёт возвращать меньше данных. Подробнее читайте в [плане миграции](https://developers.avito.ru/api-catalog/autoload/documentation#migration-v4).

        '
      operationId: getReportByIdV2
      parameters:
      - description: Идентификатор отчёта (ID)
        in: path
        name: report_id
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/authHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportAutoloadV2'
          description: Успешный ответ
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Информация об ошибке
      summary: Статистика по конкретной выгрузке (deprecated)
      tags:
      - Autoload
  /autoload/v2/reports/{report_id}/items:
    get:
      deprecated: true
      description: 'С помощью этого метода можно получить результаты обработки каждого объявления в конкретной выгрузке.


        📝 [Напишите нам](https://docs.google.com/forms/d/e/1FAIpQLSdfTHlP6PKtOb08fxD7BaJ0VjtkaLXoRAswhF9gnKvrEyY16g/viewform?usp=sf_link),

        если в методе вам не хватает каких-либо данных.


        С 23.12.2024 добавляется поле feed_name. В нём содержится название файла.


        Метод будет отключен 08.03.2027. С 08.09.2026 метод начнёт возвращать меньше данных. Подробнее читайте в [плане миграции](https://developers.avito.ru/api-catalog/autoload/documentation#migration-v4).

        '
      operationId: getReportItemsById
      parameters:
      - description: Идентификатор отчёта (ID)
        in: path
        name: report_id
        required: true
        schema:
          type: integer
      - description: 'Количество объявлений на странице: целое число больше 0 и меньше или равно 200

          '
        in: query
        name: per_page
        schema:
          default: 50
          type: integer
      - description: 'Номер страницы: целое число больше или равно 0

          '
        in: query
        name: page
        schema:
          default: 0
          type: integer
      - description: 'Фильтр по ID объявления.

          Формат значения: строка с [идентификаторами объявлений из файла](https://autoload.avito.ru/format/realty/#Id)

          или идентификаторами объявлений на Авито, перечисленными через «,» или «|».

          '
        in: query
        name: query
        schema:
          type: string
      - description: 'Фильтр объявлений по разделам. Формат значения: строка с идентификаторами разделов, перечисленными через «,» или «|».

          Получить список разделов для конкретного отчёта можно с помощью метода

          [Статистика по конкретной выгрузке](https://developers.avito.ru/api-catalog/autoload/documentation#operation/getReportByIdV3).

          '
        in: query
        name: sections
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  items:
                    description: Список объявлений
                    items:
                      $ref: '#/components/schemas/ItemInfoReportAutoloadV2'
                    type: array
                  meta:
                    $ref: '#/components/schemas/MetaReportItemsAutoloadV2'
                  report_id:
                    description: Идентификатор отчёта (ID)
                    type: integer
                required:
                - report_id
                - items
                - meta
                type: object
          description: Успешный ответ
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Информация об ошибке
      summary: Все объявления из конкретной выгрузки (deprecated)
      tags:
      - Autoload
  /autoload/v2/reports/{report_id}/items/fees:
    get:
      deprecated: true
      description: 'С помощью этого метода можно получить информацию о списаниях за размещение каждого объявления в конкретной выгрузке.


        📝 [Напишите нам](https://docs.google.com/forms/d/e/1FAIpQLSdfTHlP6PKtOb08fxD7BaJ0VjtkaLXoRAswhF9gnKvrEyY16g/viewform?usp=sf_link),

        если в методе вам не хватает каких-либо данных.


        Метод будет отключен 08.03.2027. С 08.09.2026 метод начнёт возвращать меньше данных. Подробнее читайте в [плане миграции](https://developers.avito.ru/api-catalog/autoload/documentation#migration-v4).

        '
      operationId: getReportItemsFeesById
      parameters:
      - description: Идентификатор отчёта (ID)
        in: path
        name: report_id
        required: true
        schema:
          type: integer
      - description: 'Количество объявлений на странице: целое число больше 0 и меньше или равно 200

          '
        in: query
        name: per_page
        schema:
          default: 100
          type: integer
      - description: 'Номер страницы: целое число больше или равно 0

          '
        in: query
        name: page
        schema:
          default: 0
          type: integer
      - description: 'Фильтр по ID объявления.

          Формат значения: строка с [идентификаторами объявлений из файла](https://autoload.avito.ru/format/realty/#Id),

          перечисленными через «,» или «|».

          '
        in: query
        name: ad_ids
        schema:
          type: string
      - description: 'Фильтр по AvitoID объявления.

          Формат значения: строка с идентификаторами объявлений на Авито, перечисленными через «,» или «|».

          '
        in: query
        name: avito_ids
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  fees:
                    description: Список списаний за размещение объявлений
                    items:
                      $ref: '#/components/schemas/ItemFeesInfoReportAutoloadV2'
                    type: array
                  meta:
                    description: Данные пагинации
                    properties:
                      page:
                        description: Номер страницы
                        type: integer
                      pages:
                        description: Общее количество страниц
                        type: integer
                      per_page:
                        description: Количество списаний на странице
                        type: integer
                      total:
                        description: Общее количество списаний в отчёте
                        type: integer
                    type: object
                  report_id:
                    description: Идентификатор отчёта (ID)
                    type: integer
                required:
                - report_id
                - items
                - meta
                type: object
          description: Успешный ответ
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Информация об ошибке
      summary: Списания за объявления в конкретной выгрузке (deprecated)
      tags:
      - Autoload
  /autoload/v3/reports/last_completed_report:
    get:
      deprecated: true
      description: 'Метод возвращает сводную статистику с результатами последней завершённой выгрузки.

        Например, сколько объявлений было в файле и сколько из них было опубликовано с ошибками или без.


        📝 [Напишите нам](https://docs.google.com/forms/d/e/1FAIpQLSdfTHlP6PKtOb08fxD7BaJ0VjtkaLXoRAswhF9gnKvrEyY16g/viewform?usp=sf_link),

        если в методе вам не хватает каких-либо данных.


        С 23.12.2024 вместо поля feed_url используйте поле feeds_urls. В нём содержится название файла и ссылка на него.


        Метод будет отключен 08.03.2027. С 08.09.2026 метод начнёт возвращать меньше данных. Подробнее читайте в [плане миграции](https://developers.avito.ru/api-catalog/autoload/documentation#migration-v4).

        '
      operationId: getLastCompletedReportV3
      parameters:
      - $ref: '#/components/parameters/authHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportAutoloadV3'
          description: Успешный ответ
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Информация об ошибке
      summary: Статистика по последней выгрузке (deprecated)
      tags:
      - Autoload
  /autoload/v3/reports/{report_id}:
    get:
      deprecated: true
      description: 'Метод возвращает сводную статистику с результатами конкретной выгрузки — по ID отчёта.

        Например, сколько объявлений было в файле и сколько из них было опубликовано с ошибками или без.


        📝 [Напишите нам](https://docs.google.com/forms/d/e/1FAIpQLSdfTHlP6PKtOb08fxD7BaJ0VjtkaLXoRAswhF9gnKvrEyY16g/viewform?usp=sf_link),

        если в методе вам не хватает каких-либо данных.


        С 23.12.2024 вместо поля feed_url используйте поле feeds_urls. В нём содержится название файла и ссылка на него.


        Метод будет отключен 08.03.2027. С 08.09.2026 метод начнёт возвращать меньше данных. Подробнее читайте в [плане миграции](https://developers.avito.ru/api-catalog/autoload/documentation#migration-v4).

        '
      operationId: getReportByIdV3
      parameters:
      - description: Идентификатор отчёта (ID)
        in: path
        name: report_id
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/authHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportAutoloadV3'
          description: Успешный ответ
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Информация об ошибке
      summary: Статистика по конкретной выгрузке (deprecated)
      tags:
      - Autoload
  /autoload/v4/uploads:
    get:
      description: 'Возвращает список загрузок. Самая свежая загрузка — в начале списка.

        '
      operationId: getUploads
      parameters:
      - description: 'Количество загрузок на странице

          '
        in: query
        name: perPage
        schema:
          default: 10
          maximum: 50
          minimum: 1
          type: integer
      - description: 'Номер страницы

          '
        in: query
        name: page
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: 'Фильтр по дате загрузки «от» (от такой-то даты).

          Формат значения: RFC3339

          '
        example: '2026-05-20T10:00:00Z'
        in: query
        name: dateFrom
        schema:
          format: date-time
          type: string
      - description: 'Фильтр по дате загрузки «до» (до такой-то даты).

          Формат значения: RFC3339

          '
        example: '2026-05-27T10:00:00Z'
        in: query
        name: dateTo
        schema:
          format: date-time
          type: string
      - $ref: '#/components/parameters/authHeader'
      responses:
        '200':
          content:
            application/json:
              example:
                meta:
                  page: 1
                  pages: 5
                  perPage: 10
                  total: 47
                uploads:
                - events: []
                  feed_urls:
                  - name: файл 1
                    url: https://www.avito.ru/
                  source: OpenAPI
                  started_at: '2026-05-27T08:42:00+03:00'
                  stats:
                    count: 0
                    sections: []
                    slug: sections_stats
                    title: Обработано объявлений
                  status: processing
                  upload_id: 1234567890
                - events:
                  - code: 600
                    description: В ваших файлах суммарно слишком много объявлений — автозагрузка обработает только 100000 из них.
                    type: warning
                  feed_urls:
                  - name: файл 1
                    url: https://www.avito.ru/
                  source: OpenAPI
                  started_at: '2026-05-20T10:15:30+03:00'
                  stats:
                    count: 3
                    sections:
                    - count: 1
                      sections:
                      - count: 1
                        slug: error_params
                        title: Ошибки описания
                      slug: error
                      title: Не удалось опубликовать
                    - count: 2
                      sections: []
                      slug: successful
                      title: Успешно опубликовано
                    slug: sections_stats
                    title: Обработано объявлений
                  status: success_warning
                  upload_id: 1234567889
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/PaginationMetaV4'
                  uploads:
                    description: Список загрузок
                    items:
                      $ref: '#/components/schemas/UploadAutoloadV4'
                    type: array
                required:
                - uploads
                - meta
                type: object
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Невалидные параметры запроса
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Доступ запрещён
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Загрузка не найдена
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Превышен лимит запросов
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Внутренняя ошибка метода API
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Метод API временно недоступен
      summary: История загрузок
      tags:
      - Autoload
  /autoload/v4/uploads/current:
    get:
      description: 'Возвращает текущую загрузку пользователя, т.е. последнюю загрузку, которая обработала хотя бы одно объявление фида. Подходит, когда нужны самые актуальные данные. Но эти данные могут меняться в процессе загрузки - для получения стабильных данных лучше использовать метод [последней завершённой загрузки](#operation/getLastSuccessfulUpload).

        Если подходящей загрузки нет — возвращается ответ `404`.

        '
      operationId: getCurrentUpload
      parameters:
      - $ref: '#/components/parameters/authHeader'
      responses:
        '200':
          content:
            application/json:
              example:
                events:
                - code: 600
                  description: В ваших файлах суммарно слишком много объявлений — автозагрузка обработает только 100000 из них.
                  type: warning
                feed_urls:
                - name: файл 1
                  url: https://www.avito.ru/
                source: OpenAPI
                started_at: '2026-05-20T10:15:30+03:00'
                stats:
                  count: 3
                  sections:
                  - count: 1
                    sections:
                    - count: 1
                      slug: error_params
                      title: Ошибки описания
                    slug: error
                    title: Не удалось опубликовать
                  - count: 2
                    sections: []
                    slug: successful
                    title: Успешно опубликовано
                  slug: sections_stats
                  title: Обработано объявлений
                status: success_warning
                upload_id: 1234567890
              schema:
                $ref: '#/components/schemas/UploadAutoloadV4'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Невалидные параметры запроса
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Доступ запрещён
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Загрузка не найдена
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Превышен лимит запросов
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Внутренняя ошибка метода API
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Метод API временно недоступен
      summary: Текущая загрузка
      tags:
      - Autoload
  /autoload/v4/uploads/current/items:
    get:
      description: 'Возвращает объявления [текущей загрузки](#operation/getCurrentUpload).


        Если подходящей загрузки нет — возвращается ответ `404`.

        '
      operationId: getCurrentUploadItems
      parameters:
      - description: 'Поиск по одному или нескольким [идентификаторам объявлений из файла](https://www.avito.ru/autoload/documentation/templates/66940?fileFormat=xml#field-Id),

          перечисленным через «,» или «|».

          Без параметра — возвращаются все объявления с пагинацией.

          '
        in: query
        name: query
        schema:
          type: string
      - description: 'Фильтр по разделам отчёта. Формат значения: строка со slug разделов,

          перечисленными через запятую.

          '
        in: query
        name: sections
        schema:
          type: string
      - description: 'Количество объявлений на странице

          '
        in: query
        name: perPage
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - description: 'Номер страницы

          '
        in: query
        name: page
        schema:
          default: 1
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/authHeader'
      responses:
        '200':
          content:
            application/json:
              example:
                items:
                - ad_id: ad1
                  avito_date_end: '2026-12-31T23:59:59+03:00'
                  avito_id: 777
                  avito_status: active
                  feed_name: файл 1
                  messages: []
                  section:
                    slug: success_activated
                    title: Активировано
                  url: https://www.avito.ru/
                - ad_id: ad2
                  avito_date_end: null
                  avito_id: null
                  avito_status: null
                  feed_name: файл 1
                  messages:
                  - code: 4012
                    description: Для объявлений категории «Недвижимость» поле price обязательно.
                    title: Не указана цена
                    type: error
                    updated_at: '2026-05-20T10:15:25+03:00'
                  section:
                    slug: error_params
                    title: Ошибки описания
                  url: null
                meta:
                  page: 1
                  pages: 73
                  perPage: 20
                  total: 1450
              schema:
                properties:
                  items:
                    description: Список объявлений
                    items:
                      $ref: '#/components/schemas/UploadItemAutoloadV4'
                    type: array
                  meta:
                    $ref: '#/components/schemas/PaginationMetaV4'
                required:
                - items
                - meta
                type: object
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Невалидные параметры запроса
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Доступ запрещён
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Загрузка не найдена
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Превышен лимит запросов
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Внутренняя ошибка метода API
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Метод API временно недоступен
      summary: Объявления текущей загрузки
      tags:
      - Autoload
  /autoload/v4/uploads/last_successful:
    get:
      description: 'Возвращает последнюю успешно завершённую загрузку, т.е. загрузку, которая обработала все объявления фида. Для самой последней загрузки возможны задержки при определении того, что загрузка завершена — в таком случае смотрите актуальные данные в методе [текущей загрузки](#operation/getCurrentUpload).


        Если подходящей загрузки нет — возвращается ответ `404`.

        '
      operationId: getLastSuccessfulUpload
      parameters:
      - $ref: '#/components/parameters/authHeader'
      responses:
        '200':
          content:
            application/json:
              example:
                events:
                - code: 600
                  description: В ваших файлах суммарно слишком много объявлений — автозагрузка обработает только 100000 из них.
                  type: warning
                feed_urls:
                - name: файл 1
                  url: https://www.avito.ru/
                source: OpenAPI
                started_at: '2026-05-20T10:15:30+03:00'
                stats:
                  count: 3
                  sections:
                  - count: 1
                    sections:
                    - count: 1
                      slug: error_params
                      title: Ошибки описания
                    slug: error
                    title: Не удалось опубликовать
                  - count: 2
                    sections: []
                    slug: successful
                    title: Успешно опубликовано
                  slug: sections_stats
                  title: Обработано объявлений
                status: success_warning
                upload_id: 1234567890
              schema:
                $ref: '#/components/schemas/UploadAutoloadV4'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Невалидные параметры запроса
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Доступ запрещён
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Загрузка не найдена
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Превышен лимит запросов
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Внутренняя ошибка метода API
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Метод API временно недоступен
      summary: Последняя успешно завершённая загрузка
      tags:
      - Autoload
  /autoload/v4/uploads/last_successful/items:
    get:
      description: 'Возвращает объявления [последней успешно завершённой загрузки](#operation/getLastSuccessfulUpload).


        Если подходящей загрузки нет — возвращается ответ `404`.

        '
      operationId: getLastSuccessfulUploadItems
      parameters:
      - description: 'Поиск по одному или нескольким [идентификаторам объявлений из файла](https://www.avito.ru/autoload/documentation/templates/66940?fileFormat=xml#field-Id),

          перечисленным через «,» или «|».

          Без параметра — возвращаются все объявления с пагинацией.

          '
        in: query
        name: query
        schema:
          type: string
      - description: 'Фильтр по разделам отчёта. Формат значения: строка со slug разделов,

          перечисленными через запятую.

          '
        in: query
        name: sections
        schema:
          type: string
      - description: 'Количество объявлений на странице

          '
        in: query
        name: perPage
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - description: 'Номер страницы

          '
        in: query
        name: page
        schema:
          default: 1
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/authHeader'
      responses:
        '200':
          content:
            application/json:
              example:
                items:
                - ad_id: ad1
                  avito_date_end: '2026-12-31T23:59:59+03:00'
                  avito_id: 777
                  avito_status: active
                  feed_name: файл 1
                  messages: []
                  section:
                    slug: success_activated
                    title: Активировано
                  url: https://www.avito.ru/
                - ad_id: ad2
                  avito_date_end: null
                  avito_id: null
                  avito_status: null
                  feed_name: файл 1
                  messages:
                  - code: 4012
                    description: Для объявлений категории «Недвижимость» поле price обязательно.
                    title: Не указана цена
                    type: error
                    updated_at: '2026-05-20T10:15:25+03:00'
                  section:
                    slug: error_params
                    title: Ошибки описания
                  url: null
                meta:
                  page: 1
                  pages: 73
                  perPage: 20
                  total: 1450
              schema:
                properties:
                  items:
                    description: Список объявлений
                    items:
                      $ref: '#/components/schemas/UploadItemAutoloadV4'
                    type: array
                  meta:
                    $ref: '#/components/schemas/PaginationMetaV4'
                required:
                - items
                - meta
                type: object
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Невалидные параметры запроса
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Доступ запрещён
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Загрузка не найдена
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Превышен лимит запросов
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Внутренняя ошибка метода API
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldErrorV2'
          description: Метод API временно недоступен
      summary: Объявления последней успешно завершённой загрузки
      tags:
      - Autoload
components:
  schemas:
    SectionStatsV4:
      description: 'Дерево разделов загрузки с количеством объявлений в каждом разделе.

        Структура трёхуровневая: корень (общий итог) → разделы → подразделы.


        У корня значения `title="Обработано объявлений"`, `slug="sections_stats"`.

        Сами разделы и их `count` зависят от содержимого загрузки.


        Для раздела `successful` подкатегории не возвращаются — поле `sections`

        всегда содержит пустой массив. Для остальных разделов (например, `error`)

        подкатегории возвращаются.

        '
      properties:
        count:
          description: Общее количество объявлений
          type: integer
        sections:
          description: Разделы второго уровня
          items:
            properties:
              count:
                description: Количество объявлений в разделе
                type: integer
              sections:
                description: Подразделы (третий уровень)
                items:
                  properties:
                    count:
                      description: Количество объявлений в подразделе
                      type: integer
                    slug:
                      description: ID подраздела
                      type: string
                    title:
                      description: Название подраздела
                      type: string
                  required:
                  - title
                  - slug
                  - count
                  type: object
                type: array
              slug:
                description: ID раздела
                type: string
              title:
                description: Название раздела
                type: string
            required:
            - title
            - slug
            - count
            - sections
            type: object
          type: array
        slug:
          description: ID корневого узла
          type: string
        title:
          description: Название корневого узла
          type: string
      required:
      - title
      - slug
      - count
      - sections
      type: object
    ItemSectionV4:
      description: Раздел отчёта, в котором находится объявление
      properties:
        slug:
          description: ID раздела
          type: string
        title:
          description: Название раздела
          type: string
      required:
      - slug
      - title
      type: object
    MetaReportsAutoloadV2:
      description: Данные пагинации
      properties:
        page:
          description: Номер страницы
          type: integer
        pages:
          description: Общее количество страниц
          type: integer
        per_page:
          description: Количество отчётов на странице
          type: integer
        total:
          description: Общее количество отчётов
          type: integer
      type: object
    ItemInfoError:
      properties:
        code:
          description: Код ошибки или предупреждения
          type: integer
        description:
          description: Описание ошибки или предупреждения
          type: string
        title:
          description: Название ошибки или предупреждения
          type: string
        type:
          description: "Тип ошибки или предупреждения\n  - error – Критическая ошибка, которая влияет на выгрузку: объявление не редактируется или не публикуется\n  - warning – Некритическая ошибка, которая в будущем может повлиять на выгрузку или влияет сейчас на необязательный параметр\n  - alarm – Предупреждение, которое не влияет на выгрузку\n  - info – Информационное сообщение\n"
          enum:
          - error
          - warning
          - info
          - alarm
          type: string
        updated_at:
          description: Дата актуальности ошибки или предупреждения
          format: date-time
          type: string
      required:
      - code
      - title
      - type
      - description
      - updated_at
      type: object
    UpsertProfileIn:
      properties:
        agreement:
          description: 'Согласие с [правилами](https://support.avito.ru/articles/203867776) использования Авито Автозагрузки.


            Обязательно, если профиль еще не существует.

            '
          nullable: true
          type: boolean
        autoload_enabled:
          description: Статус автозагрузки (вкл/выкл)
          type: boolean
        report_email:
          description: Почта, на которую будут приходить отчеты о выгрузках
          type: string
        schedule:
          $ref: '#/components/schemas/ExportSchedule'
        upload_url:
          description: URL-адрес фида, для которого настроены регулярные выгрузки. Должен начинаться с http или https.
          type: string
      required:
      - upload_url
      - schedule
      - autoload_enabled
      - report_email
      type: object
    ItemMessageV4:
      description: Сообщение по объявлению (ошибка, предупреждение, информационное сообщение)
      properties:
        code:
          description: Код сообщения
          type: integer
        description:
          description: Описание сообщения
          type: string
        title:
          description: Название сообщения
          type: string
        type:
          description: 'Тип сообщения

            - `error` — критическая ошибка, объявление не редактируется/не публикуется

            - `warning` — некритическая ошибка

            - `alarm` — предупреждение, не влияющее на загрузку

            - `info` — информационное сообщение

            '
          enum:
          - error
          - warning
          - alarm
          - info
          type: string
        updated_at:
          description: Дата актуальности сообщения
          format: date-time
          type: string
      required:
      - code
      - title
      - description
      - type
      - updated_at
      type: object
    APFieldsNodeAlert:
      description: Предупреждение для запрошенной категории
      nullable: true
      properties:
        description:
          description: Описание предупреждения
          example: Категория будет разбита на подкатегории
          type: string
        title:
          description: Заголовок предупреждения
          example: Изменения в категории
          type: string
        type:
          description: Тип предупреждения
          enum:
          - error
          - warning
          - info
          example: warning
          type: string
      type: object
    APICategoryTreeOut:
      properties:
        categories:
          items:
            $ref: '#/components/schemas/APICategoryNode'
          type: array
      required:
      - categories
      type: object
    APIDependency:
      properties:
        action:
          description: 'Что нужно сделать с полем после применения правил.

            - visible означает, что поле становится доступным для заполнения.

            - required означает, что поле становится обязательным. Поле до применения этого правила считается доступным для заполнения, меняется только обязательность.

            - hidden означает, что поле становится недоступным для заполнения.

            '
          enum:
          - visible
          - required
          - hidden
          type: string
        clause:
          description: Логический оператор для определения применимости — нужно применить все правила или только одно из них.
          enum:
          - or
          - and
          type: string
        pairs:
          description: Список правил
          items:
            $ref: '#/components/schemas/APIDependencyPair'
          type: array
      type: object
    ItemInfoAutoloadV2:
      properties:
        ad_id:
          description: 'Идентификатор объявления из файла ([параметр Id](https://autoload.avito.ru/format/realty/#Id))

            '
          type: string
        avito_date_end:
          description: Дата окончания оплаченного периода размещения объявления
          format: date-time
          nullable: true
          type: string
        avito_id:
          description: Идентификатор объявления на Авито
          nullable: true
          type: integer
        avito_status:
          description: "Статус объявления на Авито\n  - active – Объявление активно\n  - old – Срок размещения объявления истёек\n  - blocked – Объявление заблокировано\n  - rejected – Объявление отклонено для исправления нарушений\n  - archived – Объявление находится в Архиве\n  - removed – Объявление удалено навсегда\n"
          enum:
          - active
          - old
          - blocked
          - rejected
          - archived
          - removed
          nullable: true
          type: string
        fee_info:
          description: Информация о списании за размещение объявления
          nullable: true
          properties:
            amount:
              description: Сумма средств, списанных из кошелька за это объявление (передаётся, если type = single)
              nullable: true
              type: integer
            package_id:
              description: ID пакета размещений, из которого было списание за это объявление (передаётся, если type = package)
              nullable: true
              type: integer
            type:
              description: "Способ оплаты\n  - single – Оплата из кошелька\n  - package – Оплата из пакета размещений\n"
              enum:
              - single
              - package
              type: string
          type: object
        messages:
          description: Ошибки или предупреждения по объявлению
          items:
            $ref: '#/components/schemas/ItemInfoError'
          type: array
        processing_time:
          description: Дата и время последней обработки объявления
          format: date-time
          nullable: true
          type: string
        section:
          description: Раздел отчёта, в котором находится объявление — то есть результат обработки объявления в последней выгрузке
          properties:
            slug:
              description: ID раздела
              type: string
            title:
              description: Название раздела
              type: string
          required:
          - slug
          - title
          type: object
        url:
          description: Ссылка на объявление на Авито
          nullable: true
          type: string
      required:
      - ad_id
      - avito_id
      - url
      - messages
      - fee_info
      - processing_time
      - avito_date_end
      - avito_status
      type: object
    ItemInfoVas:
      properties:
        price:
          description: Сумма средств, списанных из кошелька за эту услугу
          type: integer
        slug:
          description: 'ID услуги

            - highlight – «Выделение цветом» (действует 7 дней)

            - xl – «XL-объявление» (действует 7 дней)

            - x2_1 – «До 2 раз больше просмотров на 1 день»

            - x2_7 – «До 2 раз больше просмотров на 7 дней»

            - x5_1 – «До 5 раз больше просмотров на 1 день»

            - x5_7 – «До 5 раз больше просмотров на 7 дней»

            - x10_1 – «До 10 раз больше просмотров на 1 день»

            - x10_7 – «До 10 раз больше просмотров на 7 дней»

            - x15_1 – «До 15 раз больше просмотров на 1 день»

            - x15_7 – «До 15 раз больше просмотров на 7 дней»

            - x20_1 – «До 20 раз больше просмотров на 1 день»

            - x20_7 – «До 20 раз больше просмотров на 7 дней»

            '
          enum:
          - xl
          - highlight
          - x2_1
          - x2_7
          - x5_1
          - x5_7
          - x10_1
          - x10_7
          - x15_1
          - x15_7
          - x20_1
          - x20_7
          type: string
        title:
          description: Название услуги
          type: string
      required:
      - slug
      - title
      - price
      type: object
    ReportAutoloadV3:
      properties:
        events:
          description: Ошибки и предупреждения, которые относятся ко всей выгрузке
          items:
            properties:
              code:
                description: Код события
                type: integer
              description:
                description: Описание события
                type: string
              type:
                description: Тип события
                type: string
            required:
            - code
            - type
            - description
            type: object
          type: array
        feeds_urls:
          items:
            properties:
              name:
                description: Название фида
                type: string
              url:
                description: Ссылка на копию файла с объявлениями в момент начала загрузки
                type: string
            type: object
          type: array
        finished_at:
          description: Дата и время закрытия отчёта (окончания выгрузки)
          format: date-time
          type: string
        listing_fees:
          description: Статистика по списаниям за размещения объявлений, которые произошли в результате выгрузки
          properties:
            packages:
              description: Статистика по списаниям из пакетов размещений
              items:
                properties:
                  count:
                    description: Количество объявлений, размещения которых были оплачены из этого пакета
                    type: integer
                  package_id:
                    description: ID пакета размещений
                    type: integer
                type: object
              type: array
            single:
              description: Статистика по списаниям из кошелька
              properties:
                count:
                  description: Количество объявлений, размещения которых были оплачены из кошелька
                  type: integer
                total_amount:
                  description: Общая сумма средств, списанных из кошелька
                  type: integer
              type: object
          required:
          - single
          - packages
          type: object
        report_id:
          description: Идентификатор отчёта (ID)
          type: integer
        section_stats:
          description: Разделы отчёта с количеством объявлений в каждом
          properties:
            count:
              description: Количество объявлений в разделе
              type: integer
            sections:
              description: Разделы второго уровня с количеством объявлений в каждом
              items:
                properties:
                  count:
                    description: Количество объявлений в разделе второго уровня
                    type: integer
                  sections:
                    description: Разделы третьего уровня с количеством объявлений в каждом
                    items:
                      properties:
                        count:
                          description: Количество объявлений в разделе третьего уровня
                          type: integer
                        slug:
                          description: ID раздела третьего уровня
                          type: string
                        title:
                          description: Название раздела третьего уровня
                          type: string
                      required:
                      - slug
                      - count
                      - title
                      type: object
                    type: array
                  slug:
                    description: ID раздела второго уровня
                    type: string
                  title:
                    description: Название раздела второго уровня
                    type: string
                required:
                - slug
                - count
                - title
                type: object
              type: array
            slug:
              description: ID раздела
              type: string
            title:
              description: Название раздела
              type: string
          required:
          - slug
          - title
          - count
          type: object
        source:
          description: "Источник загрузки\n - email – Загрузка файла по почте\n - url – Загрузка файла по ссылке\n - web – Загрузка файла вручную в профиле Авито\n - openapi – Загрузка по API с помощью метода Загрузка файла по ссылке\n"
          enum:
          - email
          - url
          - web
          - openapi
          type: string
        started_at:
          description: Дата и время создания отчёта (начала выгрузки)
          format: date-time
          type: string
        status:
          description: 'Статус отчёта

            - processing – Отчёт в процессе, загрузка ещё не завершена

            - success – Загрузка прошла без ошибок

            - success_warning – В части объявлений есть ошибки

            - error – Загрузка не удалась

            '
          enum:
          - processing
          - success
          - success_warning
          - error
          type: string
      required:
      - report_id
      - started_at
      - finished_at
      - status
      - section_stats
      - feed_url
      - source
      - events
      type: object
    FieldErrorV2:
      properties:
        error:
          properties:
            code:
              description: Код ошибки
              type: integer
            message:
              description: Описание ошибки
              type: string
          required:
          - code
          - message
          type: object
      type: object
    PaginationMetaV4:
      description: Данные пагинации
      properties:
        page:
          description: Номер страницы
          type: integer
        pages:
          description: Общее количество страниц
          type: integer
        perPage:
          description: Количество ресурсов на странице
          type: integer
        total:
          description: Общее количество ресурсов
          type: integer
      required:
      - perPage
      - page
      - pages
      - total
      type: object
    FieldWarning:
      properties:
        content:
          description: Содержание предупреждения
          example: Поле станет обязательным после 12.12.2022
          type: string
        title:
          description: Заголовок предупреждения
          example: Изменяется обязательность
          type: string
      required:
      - title
      - content
      type: object
    ExportSchedule:
      description: "Расписание регулярных выгрузок. Содержит в себе периоды и сколько объявлений загружать за каждый период. \nКаждый период означает часовой промежуток, в течение которого будет запущена выгрузка.\nВремя указывается по Москве.\n"
      items:
        properties:
          rate:
            description: Количество объявлений за период
            type: integer
          time_slots:
            description: 'Период, в который будет запущена выгрузка.

              Допустимые значения: целые числа от 0 до 23, где 0 - это промежуток времени 00:00-01:00, а 23 - промежуток 23:00-24:00

              '
            items:
              type: integer
            type: array
          weekdays:
            description: 'День недели периода.

              Допустимые значения: целые числа от 0 до 6, где 0 - понедельник, 6 - воскресенье.

              '
            items:
              type: integer
            type: array
        required:
        - rate
        - weekdays
        - time_slots
        type: object
      type: array
    FeedsData:
      items:
        properties:
          feed_name:
            description: Название фида. Будет отображаться в отчете, показывает откуда взято объявление
            type: string
          feed_url:
            description: URL-адрес фида, для которого настроены регулярные выгрузки. Должен начинаться с http или https.
            type: string
        required:
        - feed_name
        - feed_url
        type: object
      nullable: true
      type: array
    UpsertProfileInV2:
      properties:
        agreement:
          description: 'Согласие с [правилами](https://support.avito.ru/articles/203867776) использования Авито Автозагрузки.


            Обязательно, если профиль еще не существует.

            '
          nullable: true
          type: boolean
        autoload_enabled:
          description: Статус автозагрузки (вкл/выкл)
          type: boolean
        feeds_data:
          $ref: '#/components/schemas/FeedsData'
        report_email:
          description: Почта, на которую будут приходить отчеты о выгрузках
          type: string
        schedule:
          $ref: '#/components/schemas/ExportSchedule'
      required:
      - feeds_data
      - schedule
      - autoload_enabled
      - report_email
      type: object
    APIFieldsNode:
      description: Данные запрашиваемой категории
      properties:
        name:
          description: Название категории
          example: Ремонт
          type: string
        slug:
          description: Уникальный идентификатор категории (slug)
          example: remont
          type: string
      required:
      - name
      - slug
      type: object
    ItemFeesInfoReportAutoloadV2:
      properties:
        ad_id:
          description: 'Идентификатор объявления из файла ([параметр Id](https://autoload.avito.ru/format/realty/#Id))

            '
          type: string
        avito_id:
          description: Идентификатор объявления на Авито
          type: integer
        fees_amount:
          description: 'Сумма средств, списанных из кошелька, при разовой оплате либо количество размещений, списанных из пакета

            '
          type: integer
        fees_package_id:
          description: ID пакета размещений
          nullable: true
          type: integer
        fees_type:
          description: Тип списания (разовая оплата или из пакета размещений)
          enum:
          - single
          - package
          type: string
      required:
      - ad_id
      - avito_id
      - fees_type
      - fees_amount
      type: object
    ItemInfoReportAutoloadV2:
      properties:
        ad_id:
          description: 'Идентификатор объявления из файла ([параметр Id](https://autoload.avito.ru/format/realty/#Id))

            '
          type: string
        applied_vas:
          description: Список примененных в конкретной выгрузке [услуг продвижения](https://support.avito.ru/partitions/131)
          items:
            $ref: '#/components/schemas/ItemInfoVas'
          type: array
        avito_date_end:
          description: Дата окончания оплаченного периода размещения объявления
          format: ISO 8601
          nullable: true
          type: string
        avito_id:
          description: Идентификатор объявления на Авито
          nullable: true
          type: integer
        avito_status:
          description: "Статус объявления на Авито\n  - active – Объявление активно\n  - old – Срок размещения объявления истёк\n  - blocked – Объявление заблокировано\n  - rejected – Объявление отклонено для исправления нарушений\n  - archived – Объявление находится в архиве\n  - removed – Объявление удалено навсегда\n"
          enum:
          - active
          - old
          - blocked
          - rejected
          - archived
          - removed
          nullable: true
          type: string
        feed_name:
          description: Название фида из которого был взято объявление
          nullable: true
          type: string
        messages:
          description: Ошибки или предупреждения по объявлению
          items:
            $ref: '#/components/schemas/ItemInfoError'
          type: array
        section:
          description: Раздел отчёта, в котором находится объявление — то есть результат обработки объявления в конкретной выгрузке
          properties:
            slug:
              description: ID раздела
              type: string
            title:
              description: Название раздела
              type: string
          required:
          - slug
          - title
          type: object
        url:
          description: Ссылка на объявление на Авито
          nullable: true
          type: string
      required:
      - section
      - ad_id
      - avito_id
      - url
      - messages
      - avito_date_end
      - avito_status
      type: object
    APIFieldsOut:
      properties:
        alert:
          $ref: '#/components/schemas/APFieldsNodeAlert'
        fields:
          description: Массив полей категории
          items:
            $ref: '#/components/schemas/APIField'
          type: array
        node:
          $ref: '#/components/schemas/APIFieldsNode'
      required:
      - node
      - fields
      type: object
    UploadAutoloadV4:
      properties:
        events:
          description: События, относящиеся ко всей загрузке
          items:
            $ref: '#/components/schemas/UploadEventV4'
          type: array
        feed_urls:
          description: Список файлов, которые входили в загрузку
          items:
            properties:
              name:
                description: Название файла
                type: string
              url:
                description: Ссылка на копию файла на момент начала загрузки
                type: string
            required:
            - name
            - url
            type: object
          type: array
        source:
          description: 'Источник загрузки.

            - `Email` — загрузка файла по почте

            - `Url` — загрузка файла по ссылке

            - `Web` — загрузка файла вручную в профиле Авито

            - `OpenAPI` — загрузка по API через [метод `upload`](#operation/upload)

            '
          nullable: true
          type: string
        started_at:
          description: Время загрузки
          format: date-time
          nullable: true
          type: string
        stats:
          $ref: '#/components/schemas/SectionStatsV4'
        status:
          description: 'Статус загрузки.

            - `processing` — загрузка в процессе

            - `success` — загрузка завершилась без ошибок

            - `success_warning` — загрузка завершилась, в части объявлений есть ошибки

            - `error` — загрузка завершилась с ошибкой

            '
          nullable: true
          type: string
        upload_id:
          description: Идентификатор загрузки
          type: integer
      required:
      - upload_id
      - stats
      - events
      - feed_urls
      type: object
    APIFieldContent:
      properties:
        data_type:
          description: Тип данных в поле.
          enum:
          - string
          - integer
          - float
          example: string
          type: string
        default:
          $ref: '#/components/schemas/FieldValue'
        dependencies:
          description: Список зависимостей одного поля от других. Информация в этих объектах нужна для определения, какое именно правило заполнения поля применить.
          items:
            $ref: '#/components/schemas/APIDependency'
          type: array
        dependencies_text:
          description: Текстовое представление описания зависимостей поля.
          items:
            type: string
          type: array
        field_type:
          description: "Тип поля. \n- input означает, что поле может быть заполнено произвольным значением.\n- select означает, что поле может принимать одно из заданных значений.   Заданные значения указаны в поле values или доступны по ссылке.\n- checkbox означает, что поле может принимать одно или несколько заданных значений. Заданные значения указаны в поле values или доступны по ссылке.\n"
          enum:
          - input
          - select
          - checkbox
          example: select
          type: string
        is_catalog:
          description: 'Являются ли значения поля каталожными.

            '
          example: 'true'
          type: boolean
        name_in_catalog:
          description: 'Название поля в каталоге.

            '
          example: vendor
          nullable: true
          type: string
        required:
          description: Признак обязательности поля
          example: true
          type: boolean
        required_by_dependency:
          description: Признак того, что поле может быть обязательным в зависимости от значения другого поля. Чтобы понять, есть ли зависимость, надо смотреть содержание атрибута dependencies.
          example: true
          type: boolean
        values:
          description: Список возможных значений для поля.
          items:
            $ref: '#/components/schemas/FieldValue'
          type: array
        values_link_json:
          description: 'Ссылка для получения списка полей в формате json. Структура значений по этой ссылке строго определена. Иногда бывает так, что ссылки нет.

            '
          example: https://api.avito.ru/autoload/v1/user-docs/node/zapchasti_i_aksessuary/field/115633/values-json
          nullable: true
          type: string
        values_link_xml:
          description: 'Ссылка для получения списка полей в формате xml. Нет строгого формата значений по этой ссылке. Иногда бывает так, что ссылки нет, — вместо неё отображается атрибут values.

            '
          example: https://api.avito.ru/autoload/v1/user-docs/node/zapchasti_i_aksessuary/field/115633/values-xml
          nullable: true
          type: string
        values_range:
          $ref: '#/components/schemas/FieldValueRange'
        warnings:
          items:
            $ref: '#/components/schemas/FieldWarning'
          nullable: true
          type: array
      required:
      - field_type
      - data_type
      - required
      - required_by_dependency
      type: object
    APIField:
      description: Поля для категории, включая поля вложенных подкатегорий.
      properties:
        children:
          items:
            $ref: '#/components/schemas/ChildAPIField'
          type: array
        content:
          description: 'Набор правил для заполнения тега. У одного тега может быть набор правил с разными условиями их применения. Одновременно они не применяются — все, кроме одного, должны быть исключены по правилам, описанным в атрибуте dependencies.


            Иногда ни один из элементов не применяется. Так бывает, если текущее поле зависит от значения другого поля — пока не будет удовлетворено условие заполнения другого поля, текущее поле будет недоступно.


            Если у поля нет аттрибута dependencies, поле считается доступным для заполнения.

            '
          items:
            $ref: '#/components/schemas/APIFieldContent'
          type: array
        descriptions:
          description: Описание тега
          example: Категория объявления
          type: string
        feed_format:
          example:
            xml: null
          items:
            enum:
            - xml
            - excel
            type: string
          type: array
        label:
          description: Label (на русском) для указания в файле загрузки
          example: Категория
          type: string
        tag:
          description: Тег для указания в файле загрузки
          example: Category
          type: string
      type: object
    ChildAPIField:
      description: Поля для категории, включая поля вложенных подкатегорий.
      properties:
        content:
          description: 'Набор правил для заполнения тега. У одного тега может быть набор правил с разными условиями их применения. Одновременно они не применяются — все, кроме одного, должны быть исключены по правилам, описанным в атрибуте dependencies.


            Иногда ни один из элементов не применяется. Так бывает, если текущее поле зависит от значения другого поля — пока не будет удовлетворено условие заполнения другого поля, текущее поле будет недоступно.


            Если у поля нет аттрибута dependencies, поле считается доступным для заполнения.

            '
          items:
            $ref: '#/components/schemas/APIFieldContent'
          type: array
        descriptions:
          description: Описание тега
          example: Категория объявления
          type: string
        feed_format:
          example:
            xml: null
          items:
            enum:
            - xml
            - excel
            type: string
          type: array
        label:
          description: Label (на русском) для указания в файле загрузки
          example: Категория
          type: string
        tag:
          description: Тег для указания в файле загрузки
          example: Category
          type: string
      type: object
    ReportShortAutoloadV2:
      description: Список отчетов (новый)
      items:
        properties:
          finished_at:
            description: Дата и время закрытия отчёта (окончания выгрузки)
            format: date-time
            type: string
          id:
            description: Идентификатор отчёта (ID)
            type: integer
          started_at:
            description: Дата и время создания отчёта (начала выгрузки)
            format: date-time
            type: string
          status:
            description: 'Статус отчёта

              - processing – Отчёт в процессе, загрузка ещё не завершена

              - success – Загрузка прошла без ошибок

              - success_warning – В части объявлений есть ошибки

              - error – Загрузка не удалась

              '
            enum:
            - processing
            - success
            - success_warning
            - error
            type: string
        required:
        - id
        - started_at
        - finished_at
        - status
        type: object
      type: array
    UploadEventV4:
      description: Событие загрузки (ошибка или предупреждение, относящееся ко всей загрузке)
      properties:
        code:
          description: Код события
          type: integer
        description:
          description: Описание события
          type: string
        type:
          description: Тип события
          type: string
      required:
      - code
      - type
      - description
      type: object
    FieldValueRange:
      description: Промежуток допустимых значений. Применимо для типов данных int и float. Для типа данных string является ограничением длины строки.
      nullable: true
      properties:
        max:
          example: 42
          nullable: true
          type: integer
        min:
          example: 0
          nullable: true
          type: integer
      type: object
    APIDependencyPair:
      properties:
        clause:
          enum:
          - value
          - filled
          - empty
          type: string
        source_field_tag:
          type: string
        values:
          items:
            type: string
          type: array
      type: object
    MetaReportItemsAutoloadV2:
      description: Данные пагинации
      properties:
        page:
          description: Номер страницы
          type: integer
        pages:
          description: Общее количество страниц
          type: integer
        per_page:
          description: Количество объявлений на странице
          type: integer
        total:
          description: Общее количество объявлений в отчёте
          type: integer
      type: object
    ReportAutoloadV2:
      properties:
        events:
          description: Ошибки и предупреждения, которые относятся ко всей выгрузке
          items:
            properties:
              code:
                description: Код события
                type: integer
              description:
                description: Описание события
                type: string
              type:
                description: Тип события
                type: string
            required:
            - code
            - type
            - description
            type: object
          type: array
        feed_url:
          description: Ссылка на копию файла с объявлениями в момент начала загрузки
          type: string
        finished_at:
          description: Дата и время закрытия отчёта (окончания выгрузки)
          format: date-time
          type: string
        listing_fees:
          description: Статистика по списаниям за размещения объявлений, которые произошли в результате выгрузки
          properties:
            packages:
              description: Статистика по списаниям из пакетов размещений
              items:
                properties:
                  count:
                    description: Количество объявлений, размещения которых были оплачены из этого пакета
                    type: integer
                  package_id:
                    description: ID пакета размещений
                    type: integer
                type: object
              type: array
            single:
              description: Статистика по списаниям из кошелька
              properties:
                count:
                  description: Количество объявлений, размещения которых были оплачены из кошелька
                  type: integer
                total_amount:
                  description: Общая сумма средств, списанных из кошелька
                  type: integer
              type: object
          required:
          - single
          - packages
          type: object
        report_id:
          description: Идентификатор отчёта (ID)
          type: integer
        section_stats:
          description: Разделы отчёта с количеством объявлений в каждом
          properties:
            count:
              description: Количество объявлений в разделе
              type: integer
            sections:
              description: Разделы второго уровня с количеством объявлений в каждом
              items:
                properties:
                  count:
                    description: Количество объявлений в разделе второго уровня
                    type: integer
                  sections:
                    description: Разделы третьего уровня с количеством объявлений в каждом
                    items:
                      properties:
                        count:
                          description: Количество объявлений в разделе третьего уровня
                          type: integer
                        slug:
                          description: ID раздела третьего уровня
                          type: string
                        title:
                          description: Название раздела третьего уровня
                          type: string
                      required:
                      - slug
                      - count
                      - title
                      type: object
                    type: array
                  slug:
                    description: ID раздела второго уровня
                    type: string
                  title:
                    description: Название раздела второго уровня
                    type: string
                required:
                - slug
                - count
                - title
                type: object
              type: array
            slug:
              description: ID раздела
              type: string
            title:
              description: Название раздела
              type: string
          required:
          - slug
          - title
          - count
          type: object
        source:
          description: "Источник загрузки\n - email – Загрузка файла по почте\n - url – Загрузка файла по ссылке\n - web – Загрузка файла вручную в профиле Авито\n - openapi – Загрузка по API с помощью метода Загрузка файла по ссылке\n"
          enum:
          - email
          - url
          - web
          - openapi
          type: string
        started_at:
          description: Дата и время создания отчёта (начала выгрузки)
          format: date-time
          type: string
        status:
          description: 'Статус отчёта

            - processing – Отчёт в процессе, загрузка ещё не завершена

            - success – Загрузка прошла без ошибок

            - success_warning – В части объявлений есть ошибки

            - error – Загрузка не удалась

            '
          enum:
          - processing
          - success
          - success_warning
          - error
          type: string
      required:
      - report_id
      - started_at
      - finished_at
      - status
      - section_stats
      - feed_url
      - source
      - events
      type: object
    FieldValue:
      nullable: true
      properties:
        description:
          description: Опциональное описание значения
          type: string
        value:
          description: Текстовое значение
          example: Предложение услуг
          type: string
      type: object
    APICategoryNode:
      properties:
        name:
          description: Название категории
          type: string
        nested:
          description: Дочерние категории
          items:
            additionalProperties:
              items:
                $ref: '#/components/schemas/APICategoryNode'
          type: array
        slug:
          description: Slug категории для получения полей
          type: string
      required:
      - name
      type: object
    UploadItemAutoloadV4:
      properties:
        ad_id:
          description: 'Идентификатор объявления из файла ([параметр Id](https://www.avito.ru/autoload/documentation/templates/66940?fileFormat=xml#field-Id))

            '
          type: string
        avito_date_end:
          description: Дата окончания оплаченного периода размещения
          format: date-time
          nullable: true
          type: string
        avito_id:
          description: Идентификатор объявления на Авито
          nullable: true
          type: integer
        avito_status:
          description: 'Статус объявления на Авито

            - `active` — объявление активно

            - `old` — срок размещения объявления истёк

            - `blocked` — объявление заблокировано

            - `rejected` — объявление отклонено для исправления нарушений

            - `archived` — объявление находится в архиве

            - `removed` — объявление удалено навсегда

            '
          enum:
          - active
          - old
          - blocked
          - rejected
          - archived
          - removed
          nullable: true
          type: string
        feed_name:
          description: Название файла, из которого было взято объявление
          nullable: true
          type: string
        messages:
          description: Сообщения по объявлению (ошибки, предупреждения)
          items:
            $ref: '#/components/schemas/ItemMessageV4'
          type: array
        section:
          $ref: '#/components/schemas/ItemSectionV4'
        url:
          description: Ссылка на объявление на Авито
          nullable: true
          type: string
      required:
      - ad_id
      - section
      - messages
      type: object
  headers:
    LastModifiedSinceHeader:
      description: Дата и время последней полученной версии в формате RFC1123 в UTC
      schema:
        type: string
      example: Mon, 01 Jan 0001 00:00:00 UTC
  parameters:
    authHeader:
      description: Токен для авторизации
      in: header
      name: Authorization
      required: true
      schema:
        example: Bearer ACCESS_TOKEN
        type: string
    NodeSlug:
      description: slug узла дерева категории
      example: remont
      in: path
      name: node_slug
      required: true
      schema:
        type: string
    IfModifiedSinceHeader:
      description: Дата и время последней полученной версии в формате RFC1123 в UTC
      example: Mon, 01 Jan 0001 00:00:00 UTC
      in: header
      name: If-Modified-Since
      schema:
        nullable: true
        type: string
  securitySchemes:
    AuthorizationCode:
      description: Это API использует OAuth 2 с механизмом authorization_code. Используйте его для доступа к данным других пользователей при разработке стороннего приложения. [Подробнее](/api-catalog/auth/documentation#tag/ApplicationAccess)
      flows:
        authorizationCode:
          authorizationUrl: https://avito.ru/oauth
          scopes:
            ah:access: Взаимодействие с иерархией аккаунтов
          tokenUrl: https://api.avito.ru/token
      type: oauth2
    ClientCredentials:
      description: Это API использует OAuth 2 с механизмом client_credentials. Используйте его для доступа к возможностям своей личной учетной записи. [Подробнее](#tag/Access)
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://api.avito.ru/token
      type: oauth2
