openapi: 3.2.0
info:
  description: API для агентств Авито Promo
  title: Авито Promo Invite API
  version: 1.0.0
servers:
- url: https://api.avito.ru/
tags:
- description: С помощью API данного раздела вы можете приглашать в агентство новых клиентов.
  name: Invite
  x-displayName: Приглашения новых клиентов
paths:
  /api/1/agency/users/invite/send:
    post:
      description: 'Данный метод отправляет приглашение новому клиенту.


        ### Параметры тела запроса


        - `userId` — идентификатор приглашаемого пользователя.

        - `type` — тип необходимой связи клиента с агентством: `adv` — по рекламной, `trx` — по транзакционной модели.


        ### Успешный ответ


        Метод возвращает назад идентификатор приглашения `result.inviteId`,

        с помощью которого можно будет получить его статус

        (см. метод Получение статуса приглашения нового клиента),

        а также статус верификации рекламного аккаунта клиента

        (см. метод Получение статуса верификации нового клиента).'
      operationId: agencyUsersInviteSend
      parameters:
      - $ref: '#/components/parameters/authHeader'
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                type:
                  $ref: '#/components/schemas/linkType'
                userId:
                  $ref: '#/components/schemas/id'
              required:
              - userId
              - type
              type: object
        description: Тело запроса
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  result:
                    $ref: '#/components/schemas/inviteId'
                  status:
                    $ref: '#/components/schemas/okResponseStatus'
                required:
                - status
                - result
                type: object
          description: Успешный ответ
        '400':
          $ref: '#/components/responses/badRequestWithStatus'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFoundWithStatus'
        '429':
          $ref: '#/components/responses/defaultTooManyRequests'
        '500':
          $ref: '#/components/responses/defaultInternalServerError'
      security:
      - ClientCredentials: []
      summary: Отправка приглашения нового клиента
      tags:
      - Invite
  /api/1/agency/users/invite/status:
    post:
      description: 'Данный метод позволяет получить статус отправленного приглашения нового клиента.


        ### Параметры тела запроса


        - `inviteId` — идентификатор отправленного приглашения

        (см. метод Отправка приглашения нового клиента).


        ### Успешный ответ


        Метод возвращает назад статус приглашения `result.status`:


        - `pending` — приглашение ожидает подтверждения клиентом.

        - `success` — приглашение успешно подтверждено.

        - `decline` — приглашение отклонено клиентом.'
      operationId: agencyUsersInviteStatus
      parameters:
      - $ref: '#/components/parameters/authHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inviteId'
        description: Тело запроса
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  result:
                    additionalProperties: false
                    description: Информация о приглашении нового клиента
                    properties:
                      status:
                        description: Статус приглашения нового клиента
                        enum:
                        - pending
                        - success
                        - decline
                        example: success
                        type: string
                    required:
                    - status
                    type: object
                  status:
                    $ref: '#/components/schemas/okResponseStatus'
                required:
                - status
                - result
                type: object
          description: Успешный ответ
        '400':
          $ref: '#/components/responses/badRequestFieldsWithStatus'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFoundWithStatus'
        '429':
          $ref: '#/components/responses/defaultTooManyRequests'
        '500':
          $ref: '#/components/responses/defaultInternalServerError'
      security:
      - ClientCredentials: []
      summary: Получение статуса приглашения нового клиента
      tags:
      - Invite
  /api/1/agency/users/verificationStatus:
    post:
      description: 'Данный метод позволяет получить статус верификации подтвердившего приглашение клиента.


        ### Параметры тела запроса


        - `inviteId` — идентификатор приглашения клиента

        (см. метод Отправка приглашения нового клиента).


        ### Успешный ответ


        Метод возвращает назад статус приглашения `result.status`:


        - `verified` — клиент верифицирован.

        - `not-verified` — клиент ещё не верифицирован.


        В том числе метод возвращает идентификатор подтвердившего приглашение клиента `result.userId`.

        Если при приглашении был указан тип связи по рекламной модели

        (см. метод Отправка приглашения нового клиента),

        то также возвращается идентификатор рекламного аккаунта клиента `result.agencyClientUserId`.'
      operationId: agencyUsersVerificationStatus
      parameters:
      - $ref: '#/components/parameters/authHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inviteId'
        description: Тело запроса
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  result:
                    additionalProperties: false
                    description: Информация о статусе верификации нового клиента
                    properties:
                      agencyClientUserId:
                        $ref: '#/components/schemas/id'
                      status:
                        description: Статус верификации нового клиента
                        enum:
                        - verified
                        - not-verified
                        example: verified
                        type: string
                      userId:
                        $ref: '#/components/schemas/id'
                    required:
                    - status
                    - userId
                    type: object
                  status:
                    $ref: '#/components/schemas/okResponseStatus'
                required:
                - status
                - result
                type: object
          description: Успешный ответ
        '400':
          $ref: '#/components/responses/badRequestFieldsWithStatus'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFoundWithStatus'
        '429':
          $ref: '#/components/responses/defaultTooManyRequests'
        '500':
          $ref: '#/components/responses/defaultInternalServerError'
      security:
      - ClientCredentials: []
      summary: Получение статуса верификации нового клиента
      tags:
      - Invite
components:
  responses:
    defaultInternalServerError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/defaultErrorResponse'
      description: Ошибка сервера
    badRequestWithStatus:
      content:
        application/json:
          schema:
            additionalProperties: false
            properties:
              result:
                $ref: '#/components/schemas/errorResult'
              status:
                $ref: '#/components/schemas/badRequestResponseStatus'
            required:
            - status
            - result
            type: object
      description: Неверный запрос
    unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: Требуется авторизация
    notFoundWithStatus:
      content:
        application/json:
          schema:
            additionalProperties: false
            properties:
              result:
                $ref: '#/components/schemas/errorResult'
              status:
                $ref: '#/components/schemas/notFoundResponseStatus'
            required:
            - status
            - result
            type: object
      description: Не найдено
    forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: Действие запрещено
    badRequestFieldsWithStatus:
      content:
        application/json:
          schema:
            additionalProperties: false
            properties:
              result:
                $ref: '#/components/schemas/errorFields'
              status:
                $ref: '#/components/schemas/badRequestResponseStatus'
            required:
            - status
            - result
            type: object
      description: Неверный запрос
    defaultTooManyRequests:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/defaultErrorResponse'
      description: Превышено количество запросов
  schemas:
    errorResponse:
      additionalProperties: false
      properties:
        result:
          $ref: '#/components/schemas/errorResult'
      required:
      - result
      type: object
    badRequestResponseStatus:
      description: Статус ответа
      enum:
      - bad-request
      example: bad-request
      type: string
    inviteId:
      additionalProperties: false
      description: Идентификатор приглашения нового клиента
      properties:
        inviteId:
          $ref: '#/components/schemas/id'
      required:
      - inviteId
      type: object
    notFoundResponseStatus:
      description: Статус ответа
      enum:
      - not-found
      example: not-found
      type: string
    okResponseStatus:
      description: Статус результата ответа
      enum:
      - ok
      example: ok
      type: string
    linkType:
      description: Тип связи с клиентом
      enum:
      - adv
      - trx
      example: adv
      type: string
    errorField:
      description: Наименование поля
      example: userId
      type: string
    errorResult:
      additionalProperties: false
      description: Результат с ошибкой
      properties:
        message:
          $ref: '#/components/schemas/errorMessage'
      required:
      - message
      type: object
    defaultErrorResponse:
      additionalProperties: false
      properties:
        error:
          additionalProperties: false
          description: Ошибка
          properties:
            code:
              description: Код ошибки
              example: 1001
              type: integer
            message:
              $ref: '#/components/schemas/errorMessage'
          required:
          - code
          - message
          type: object
      required:
      - error
      type: object
    errorFields:
      description: Ошибки валидации
      items:
        additionalProperties: false
        description: Ошибка валидации поля
        properties:
          field:
            $ref: '#/components/schemas/errorField'
          message:
            $ref: '#/components/schemas/errorMessage'
        required:
        - field
        - message
        type: object
      type: array
    id:
      description: Идентификатор
      example: 123456
      minimum: 1
      type: integer
    errorMessage:
      description: Сообщение об ошибке
      example: Ошибка
      type: string
  parameters:
    authHeader:
      description: Токен для авторизации
      in: header
      name: Authorization
      required: true
      schema:
        example: Bearer ACCESS_TOKEN
        type: string
  securitySchemes:
    ClientCredentials:
      description: 'Используйте OAuth2 с механизмом `client_credentials` для доступа к возможностям учётной записи агентства. [Подробнее](#tag/Access)

        '
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://api.avito.ru/token
      type: oauth2
