openapi: 3.0.0
info:
  contact:
    email: supportautoload@avito.ru
  description: 'API для взаимодействия с иерархией аккаунтов в Авито

    **Авито API для бизнеса предоставляется согласно [Условиям использования](https://www.avito.ru/legal/pro_tools/public-api).**

    '
  title: Иерархия Аккаунтов Access Auction API
  version: '1'
servers:
- url: https://api.avito.ru/
tags:
- name: Auction
paths:
  /auction/1/bids:
    get:
      description: 'Метод позволяет получать доступные ставки (ставка указана в копейках), а также показывает действующую ставку и время ее действия (если время действия не указано значит ставка действует бессрочно)по юзеру.

        Максимальное количество запросов в минуту - 200.

        '
      operationId: getUserBids
      parameters:
      - $ref: '#/components/parameters/authHeader'
      - description: Идентификатор последнего объявления в предыдущей пачке (по умолчанию 0)
        in: query
        name: fromItemID
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: Кол-во объявлений в пачке (максимум 200)
        in: query
        name: batchSize
        schema:
          default: 200
          maximum: 200
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  items:
                    items:
                      description: Информация о ставке для объявления
                      properties:
                        availablePrices:
                          items:
                            description: Доступная ставка
                            properties:
                              goodness:
                                description: Показатель "хорошести" цены
                                example: 0
                                type: integer
                              pricePenny:
                                description: Цена в копейках
                                example: 120000
                                type: integer
                            required:
                            - pricePenny
                            - goodness
                            type: object
                          type: array
                        expirationTime:
                          description: Время истечения срока действия ставки (RFC3339)
                          example: '2023-06-29T12:34:34+03:00'
                          type: string
                        itemID:
                          description: Идентификатор объявления
                          example: 123456789
                          type: integer
                        pricePenny:
                          description: Текущая цена в копейках
                          example: 147000
                          type: integer
                      required:
                      - itemID
                      - pricePenny
                      - expirationTime
                      - availablePrices
                      type: object
                    type: array
                type: object
          description: Ok
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          $ref: '#/components/responses/internalError'
      security:
      - AuthorizationCode:
        - cpa-auction:bids
      - ClientCredentials: []
      summary: Получение информации о действующих и доступных ставках
      tags:
      - Auction
    post:
      description: "Метод позволяет сохранить для объявлений ставку (ставка указана в копейках) и время ее действия. Доступные ставки можно получить с помощью метода getUserBids \nМаксимальное число идентификаторов объявления в запросе = 200.\nМаксимальное количество запросов в минуту - 200.\n"
      operationId: saveItemBids
      parameters:
      - $ref: '#/components/parameters/authHeader'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                items:
                  items:
                    description: Ставка по объявлению
                    properties:
                      expirationTime:
                        description: Время окончания действия ставки в формате RFC3339 (2022-06-29T12:34:34+03:00). Отсутствие поля либо null означает бесконечно действующую ставку
                        example: '2023-06-29T12:34:34+03:00'
                        nullable: true
                        type: string
                      itemID:
                        description: Идентификатор объявления
                        example: 123456789
                        type: integer
                      pricePenny:
                        description: Цена в копейках
                        example: 147000
                        type: integer
                    required:
                    - itemID
                    - pricePenny
                    type: object
                  maxItems: 200
                  minItems: 1
                  type: array
              required:
              - items
              type: object
        required: true
      responses:
        '200':
          description: Ok
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          $ref: '#/components/responses/internalError'
      security:
      - AuthorizationCode:
        - cpa-auction:bids
      - ClientCredentials: []
      summary: Сохранение новых ставок
      tags:
      - Auction
components:
  responses:
    internalError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Internal Error
    badRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Bad request
    unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Unauthorized
  headers:
    X-RateLimit-Limit:
      description: Количество запросов в минуту
      schema:
        format: int32
        type: integer
    X-RateLimit-Remaining:
      description: Доступное количество запросов в текущем временном окне
      schema:
        format: int32
        type: integer
  schemas:
    error:
      additionalProperties: false
      properties:
        message:
          description: Текст ошибки
          example: Что-то пошло не так
          type: string
      required:
      - message
      type: object
    tooManyRequestsError:
      properties:
        error:
          properties:
            code:
              description: Код ошибки
              example: 429
              format: int32
              type: integer
          required:
          - code
          type: object
      type: object
  parameters:
    authHeader:
      description: Токен для авторизации
      in: header
      name: Authorization
      required: true
      schema:
        example: Bearer ACCESS_TOKEN
        type: string
  securitySchemes:
    AuthorizationCode:
      description: Это API использует OAuth 2 с механизмом authorization_code. Используйте его для доступа к данным других пользователей при разработке стороннего приложения. [Подробнее](/api-catalog/auth/documentation#tag/ApplicationAccess)
      flows:
        authorizationCode:
          authorizationUrl: https://avito.ru/oauth
          scopes:
            ah:access: Взаимодействие с иерархией аккаунтов
          tokenUrl: https://api.avito.ru/token
      type: oauth2
    ClientCredentials:
      description: Это API использует OAuth 2 с механизмом client_credentials. Используйте его для доступа к возможностям своей личной учетной записи. [Подробнее](#tag/Access)
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://api.avito.ru/token
      type: oauth2
