openapi: 3.2.0
info:
  contact:
    email: supportautoload@avito.ru
  description: 'API для размещения, редактирования и снятия с публикации вакансии Авито Работа

    **Авито API для бизнеса предоставляется согласно Условиям

    использования.**'
  title: Авито.Работа Job API
  version: '1'
servers:
- url: https://api.avito.ru/
tags:
- description: 'API для размещения, редактирования и снятия с публикации вакансии Авито Работа

    Описание API произведено в формате **Swagger 3.0**.'
  name: Job
  x-displayName: Работа
paths:
  /job/v1/applications/apply_actions:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - deprecated: true
      description: 'Устаревший заголовок, используйте X-Employee-Of. Сотрудник может менять статусы откликов для вакансий которые он разместил в рамках компании.

        '
      in: header
      name: X-Is-Employee
      schema:
        type:
        - boolean
        - 'null'
    - description: 'Идентификатор компании, от имени которой работает сотрудник. Сотрудник может менять статусы откликов для вакансий которые он разместил в рамках компании.

        '
      in: header
      name: X-Employee-Of
      schema:
        minimum: 1
        type:
        - integer
        - 'null'
    post:
      description: 'Переводит сразу несколько откликов в новый статус одним запросом. В запросе нужно передать целевой статус, а также список идентификаторов откликов, к которым он должен быть применён

        Максимальный размер батча — не более 100 идентификаторов откликов в одном запросе'
      operationId: applicationsApplyActions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationsApplyActionsRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApplicationsIdsResult'
          description: Успешный ответ
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
      security:
      - AuthorizationCode:
        - job:applications
      - ClientCredentials: []
      summary: Батчевая смена статуса откликов
      tags:
      - Job
  /job/v1/applications/get_by_ids:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - deprecated: true
      description: 'Устаревший заголовок, используйте X-Employee-Of. Сотрудник может получить информацию по откликам для вакансий которые он разместил в рамках компании.

        '
      in: header
      name: X-Is-Employee
      schema:
        type:
        - boolean
        - 'null'
    - description: 'Идентификатор компании, от имени которой работает сотрудник. Сотрудник может получить информацию по откликам для вакансий которые он разместил в рамках компании.

        '
      in: header
      name: X-Employee-Of
      schema:
        minimum: 1
        type:
        - integer
        - 'null'
    post:
      description: Получение списка откликов по uuid, полученным по подписке на уведомления (webhook) и через метод получение идентификаторов откликов Максимальный лимит = 100
      operationId: applicationsGetByIds
      requestBody:
        content:
          application/json:
            schema:
              properties:
                ids:
                  items:
                    description: идентификатор отклика
                    example: 11102026de0ad1be10e2236f
                    type: string
                  maxItems: 100
                  type: array
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApplicationsByIdsResult'
          description: Успешный ответ
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
      security:
      - AuthorizationCode:
        - job:applications
      - ClientCredentials: []
      summary: Получение списка откликов
      tags:
      - Job
  /job/v1/applications/get_ids:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - deprecated: true
      description: 'Устаревший заголовок, используйте X-Employee-Of. Сотрудник может получить список его откликов для вакансий которые он разместил в рамках компании.

        '
      in: header
      name: X-Is-Employee
      schema:
        type:
        - boolean
        - 'null'
    - description: 'Идентификатор компании, от имени которой работает сотрудник. Сотрудник может получить список его откликов для вакансий которые он разместил в рамках компании.

        '
      in: header
      name: X-Employee-Of
      schema:
        minimum: 1
        type:
        - integer
        - 'null'
    get:
      description: 'Возвращает лимитированное количество идентификаторов откликов отсортированных по дате создания начиная с самых свежих, для последующего получения по ним расширенной информации через метод получение списка откликов.

        Максимальный лимит = 100'
      operationId: applicationsGetIds
      parameters:
      - $ref: '#/components/parameters/authHeader'
      - description: Фильтр по дате обновления (от). Обязателен, если не указан updatedAtFrom. Формат YYYY-MM-DD.
        in: query
        name: updatedAtFrom
        schema:
          example: '2006-01-02'
          format: YYYY-MM-DD
          type: string
      - description: Фильтр по дате создания (от). Обязателен, если не указан createdAtFrom. Формат YYYY-MM-DD.
        in: query
        name: createdAtFrom
        schema:
          example: '2006-01-02'
          format: YYYY-MM-DD
          type: string
      - description: "<p>Идентификатор последнего отклика из предыдущего запроса</p>\n\n<p>Пример использования параметра:</p>\n\n<p>Получение первой страницы откликов, с датой обновления от 12 июня 2022 года:</p>\n\n<p><code>GET /job/v1/applications/get_ids?updatedAtFrom=2022-06-12</code></p>\n\n<p><code>[<br>\n  &nbsp{\"id\": \"62e3e7e542c3d9af3d85205e\",<...>},<br>\n  &nbsp<...>,<br>\n  &nbsp{\"id\": \"<strong>623850d1d3819d935dd02702</strong>\",<...>}<br>\n]</code></p>\n\n<p>Получение следующей страницы откликов:</p>\n\n<p><code>GET /job/v1/applications/get_ids?updatedAtFrom=2022-06-12&cursor=<strong>623850d1d3819d935dd02702</strong></code></p>\n"
        in: query
        name: cursor
        schema:
          example: 623850d1d3819d935dd02702
          type: string
      - description: Идентификаторы вакансий. Опциональный фильтр (можно указать одно или несколько значений через запятую)
        in: query
        name: vacancyIds
        schema:
          example: 2241333,1424232
          type: string
      - description: Отклик просмотрен
        in: query
        name: is_viewed
        schema:
          example: true
          type: boolean
      - description: Статус отклика. Опциональный фильтр по текущему статусу отклика
        in: query
        name: state
        schema:
          example: new
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApplicationsIdsResult'
          description: Успешный ответ
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
      security:
      - AuthorizationCode:
        - job:applications
      - ClientCredentials: []
      summary: Получение идентификаторов откликов
      tags:
      - Job
  /job/v1/applications/get_states:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - deprecated: true
      description: 'Устаревший заголовок, используйте X-Employee-Of. Получение списка возможных статусов откликов.

        '
      in: header
      name: X-Is-Employee
      schema:
        type:
        - boolean
        - 'null'
    - description: 'Идентификатор компании, от имени которой работает сотрудник. Получение списка возможных статусов откликов.

        '
      in: header
      name: X-Employee-Of
      schema:
        minimum: 1
        type:
        - integer
        - 'null'
    get:
      description: Возвращает список доступных статусов откликов и их описания
      operationId: applicationsGetStates
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationsGetStatesResult'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Ошибка в теле запроса
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
          description: Требуется аутентификация
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentError'
          description: Ошибка оплаты
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Получение данных по откликам недоступно
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Данные по откликам не найдены
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
          description: Внутренняя ошибка метода API
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
          description: Метод API временно недоступен
      security:
      - AuthorizationCode:
        - job:applications
      - ClientCredentials: []
      summary: Получение списка возможных статусов откликов
      tags:
      - Job
  /job/v1/applications/set_is_viewed:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - deprecated: true
      description: 'Устаревший заголовок, используйте X-Employee-Of. Предоставляет возможность менять статус отклика от имени сотрудника.

        '
      in: header
      name: X-Is-Employee
      schema:
        type:
        - boolean
        - 'null'
    - description: 'Идентификатор компании, от имени которой работает сотрудник. Предоставляет возможность менять статус отклика от имени сотрудника.

        '
      in: header
      name: X-Employee-Of
      schema:
        minimum: 1
        type:
        - integer
        - 'null'
    post:
      description: Возвращает информацию по откликам и статусу просмотренности отклика, при изменении статуса также статус изменится в Авито Pro. Максимальный лимит = 100
      operationId: applicationsSetIsViewed
      requestBody:
        content:
          application/json:
            schema:
              properties:
                applies:
                  description: Список откликов
                  items:
                    properties:
                      id:
                        description: Идентификатор отклика
                        type: string
                      is_viewed:
                        description: Фильтр откликов по статусу просмотренности
                        type: boolean
                    required:
                    - id
                    - is_viewed
                    type: object
                  type: array
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetApplicationsIsViewedResult'
          description: Успешный ответ
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
      security:
      - AuthorizationCode:
        - job:applications
      - ClientCredentials: []
      summary: Изменение статуса отклика
      tags:
      - Job
  /job/v1/applications/webhook:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    delete:
      description: Отписка от уведомлений о создании и обновлении откликов на вакансии. Если авторизация происходит от имени приложения, отписка от вебхука будет для приложения
      operationId: applicationsWebhookDelete
      parameters:
      - $ref: '#/components/parameters/webhookUrl'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  ok:
                    example: true
                    type: boolean
                type: object
          description: Успешный ответ
      security:
      - AuthorizationCode:
        - job:applications
      - ClientCredentials: []
      summary: Отключение уведомлений по откликам (webhook)
      tags:
      - Job
    get:
      description: Получение информации по существующим подпискам на создание и обновление откликов. Будет возвращен самый старый активный вебхук. Если авторизация происходит от имени приложения, будет возвращен вебхук приложения
      operationId: applicationsWebhookGet
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscribeRequestBody'
          description: Успешный ответ
      security:
      - AuthorizationCode:
        - job:applications
      - ClientCredentials: []
      summary: Получение информации о подписках (webhook)
      tags:
      - Job
    put:
      description: 'Подписка на уведомления о создании и обновлении откликов на вакансии. Если авторизация происходит от имени приложения, вебхук будет привязан к приложению. Исключение:

        - изменение сотрудника относящегося к объявлению (employee_id)


        Важно:

        Проверьте доступность url, при его недоступности из контура Авито webhook не будет создан/перезаписан.

        Если url недоступен больше месяца, то он удаляется и на него не придут новые уведомления.

        Список адресов с которых идут запросы по url IP 185.89.12.0/22, 146.158.48.0/21, 185.79.237.224/28 и 87.245.204.32/28.'
      operationId: applicationsWebhookPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSubscribeRequestBody'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscribeRequestBody'
          description: Успешный ответ
      security:
      - AuthorizationCode:
        - job:applications
      - ClientCredentials: []
      summary: Включение уведомлений по откликам (webhook)
      tags:
      - Job
  /job/v1/applications/webhooks:
    get:
      description: Получение списка активных подписок на создание и обновление откликов в хронологическом порядке от самого старого к самому новому. Если авторизация происходит от имени приложения, будут возвращены вебхуки приложения
      operationId: applicationsWebhooksGet
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksSubscriptionResultList'
          description: Успешный ответ
      security:
      - AuthorizationCode:
        - job:applications
      - ClientCredentials: []
      summary: Получение списка подписок (webhook)
      tags:
      - Job
  /job/v1/resumes/:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - deprecated: true
      description: 'Устаревший заголовок, используйте X-Employee-Of. Включает привилегии компании для сотрудника.

        '
      in: header
      name: X-Is-Employee
      schema:
        type:
        - boolean
        - 'null'
    - description: 'Идентификатор компании, от имени которой работает сотрудник. Включает привилегии компании для сотрудника.

        '
      in: header
      name: X-Employee-Of
      schema:
        minimum: 1
        type:
        - integer
        - 'null'
    - description: Количество записей на странице (положительное число от 1 до 100)
      in: query
      name: per_page
      schema:
        default: 25
        example: 50
        format: int32
        type: integer
    - description: Номер страницы (положительное число больше 0, произведение page на per_page не должно превышать 5000)
      in: query
      name: page
      schema:
        default: 1
        example: 1
        format: int32
        type: integer
    - description: Курсор поиска (если не указан, будет начат новый поиск и его курсор будет возвращен в ответе)
      in: query
      name: cursor
      schema:
        format: int64
        type: integer
    - description: Поля ответа (можно указать несколько значений через запятую)
      in: query
      name: fields
      schema:
        enum:
        - title
        - location
        - specialization
        - education_level
        - total_experience
        - gender
        - age
        - salary
        - address_details
        - is_purchased
        - created_at
        - updated_at
        - nationality
        - driver_licence
        - driver_licence_category
        - driving_experience
        - own_transport
        - medical_book
        example: title,specialization,total_experience,salary
        type: string
    - description: Поисковая фраза
      in: query
      name: query
      schema:
        example: оператор call-центра
        type: string
    - description: 'Идентификатор региона поиска (можно указать несколько значений через запятую)

        <br>

        Метод принимает идентификаторы сущностей Region и City из [справочника](https://autoload.avito.ru/format/Locations.xml).

        '
      in: query
      name: location
      schema:
        example: 637640
        format: int64
        type: integer
    - description: 'Идентификатор метро поиска (можно указать несколько значений через запятую)

        <br>

        Метод принимает идентификаторы сущности Subway из [справочника](https://autoload.avito.ru/format/Locations.xml).

        '
      in: query
      name: metro
      schema:
        example: 13
        format: int64
        type: integer
    - description: 'Идентификатор района поиска (можно указать несколько значений через запятую)

        <br>

        Метод принимает идентификаторы сущности District из [справочника](https://autoload.avito.ru/format/Locations.xml).

        '
      in: query
      name: district
      schema:
        example: 717
        format: int64
        type: integer
    - description: 'Радиус поиска

        '
      in: query
      name: radius
      schema:
        properties:
          maxDistance:
            description: Максимальное расстояние от центра в метрах, значение от 0 до 100_000
            format: int32
            type: integer
          minDistance:
            description: Минимальное расстояние от центра в метрах, значение от 0 до 10_000
            format: int32
            type: integer
          point:
            description: Географические координаты (для указания точки на карте), в градусах — десятичные дроби
            properties:
              lat:
                description: Широта, значение от -90.0 до 90.0
                example: 55.822883
                format: float
                type: number
              lon:
                description: Долгота, значение от -180.0 до 180.0
                example: 37.606281
                format: float
                type: number
            required:
            - lon
            - lat
            type: object
        required:
        - point
        - minDistance
        - maxDistance
        type: object
    - description: 'Идентификатор сферы деятельности (можно указать несколько значений через запятую)

        <br>

        Возможные значения:

        - 10166 - IT, интернет, телеком

        - 10167 - Медицина, фармацевтика

        - 10168 - Продажи

        - 10169 - Страхование

        - 10170 - Транспорт, логистика

        - 10171 - Образование, наука

        - 10172 - Строительство

        - 10173 - Туризм, рестораны

        - 10174 - Фитнес, салоны красоты

        - 10175 - Без опыта, студенты

        - 10180 - Автомобильный бизнес

        - 10181 - Бухгалтерия, финансы

        - 10182 - Высший менеджмент

        - 10183 - Госслужба, НКО

        - 10184 - ЖКХ, эксплуатация

        - 10185 - Искусство, развлечения

        - 10186 - Консультирование

        - 10187 - Маркетинг, реклама, PR

        - 10188 - Охрана, безопасность

        - 10189 - Управление персоналом

        - 10190 - Юриспруденция

        - 10191 - Административная работа

        - 10192 - Банки, инвестиции

        - 10193 - Производство, сырьё, с/х

        - 16844 - Домашний персонал

        - 2804251 - Курьерская доставка

        - 2804250 - Такси

        '
      in: query
      name: specialization
      schema:
        example: 10175,10186
        format: int64
        type: integer
    - description: 'График работы (можно указать несколько значений через запятую)

        <br>

        Возможные значения:

        - partial-day - Неполный рабочий день

        - full-day - Полный рабочий день

        - fly-in-fly-out - Вахтовый метод

        - flexible - Гибкий график

        - shift - Сменный график

        - remote - Удаленная работа

        '
      in: query
      name: schedule
      schema:
        enum:
        - partial-day
        - full-day
        - fly-in-fly-out
        - flexible
        - shift
        - remote
        example: remote
        type: string
    - description: 'Готовность к командировкам (можно указать несколько значений через запятую)

        <br>

        Возможные значения:

        - ready - Готов

        - never - Не готов

        - sometimes - Иногда

        '
      in: query
      name: business_trip_readiness
      schema:
        enum:
        - ready
        - never
        - sometimes
        type: string
    - description: 'Готовность к переезду (можно указать несколько значений через запятую)

        <br>

        Возможные значения:

        - possible - Возможен

        - never - Невозможен

        '
      in: query
      name: relocation_readiness
      schema:
        enum:
        - possible
        - never
        type: string
    - description: 'Пол (можно указать несколько значений через запятую)

        <br>

        Возможные значения:

        - female - Женщина

        - male - Мужчина

        '
      in: query
      name: gender
      schema:
        enum:
        - female
        - male
        type: string
    - description: Минимальный возраст (включительно, положительное число от 14 до 99)
      in: query
      name: age_min
      schema:
        default: 14
        format: int32
        type: integer
    - description: Максимальный возраст (включительно, положительное число от 18 до 99)
      in: query
      name: age_max
      schema:
        default: 99
        format: int32
        type: integer
    - description: 'Уровень образования (можно указать несколько значений через запятую)

        <br>

        Возможные значения:

        - higher - Высшее

        - unfinished-higher - Неоконченное высшее

        - secondary - Среднее

        - special-secondary - Среднее специальное

        '
      in: query
      name: education_level
      schema:
        enum:
        - higher
        - unfinished-higher
        - secondary
        - special-secondary
        example: unfinished-higher
        type: string
    - description: Минимальный стаж работы (включительно, положительное число от 0 до 50)
      in: query
      name: experience_min
      schema:
        default: 0
        format: int32
        type: integer
    - description: Максимальный стаж работы (включительно, положительное число от 0 до 50)
      in: query
      name: experience_max
      schema:
        default: 50
        example: 3
        format: int32
        type: integer
    - description: Минимальный размер заработной платы (включительно, положительное число)
      in: query
      name: salary_min
      schema:
        default: 0
        format: int64
        type: integer
    - description: Максимальный размер заработной платы (включительно, положительное число)
      in: query
      name: salary_max
      schema:
        example: 25000
        format: int64
        type: integer
    - description: Дата последнего обновления (от updated_at до текущей даты)
      in: query
      name: updated_at
      schema:
        format: date-time
        type: string
    - description: Дата последнего обновления (от updated_at)
      in: query
      name: updated_from
      schema:
        format: date-time
        type: string
    - description: Дата последнего обновления (до updated_at)
      in: query
      name: updated_to
      schema:
        format: date-time
        type: string
    - description: 'Идентификатор гражданства(можно указать несколько значений через запятую)</br>

        см. идентификаторы гражданства в [справочнике](https://www.avito.st/s/openapi/catalog_nationality.xml)</br>

        Распространенные значения:

        - 15973 - Россия

        - 15974 - Украина

        - 15975 - Белоруссия

        - 15979 - Азербайджан

        - 15985 - Армения

        - 16020 - Грузия

        - 15976 - Казахстан

        - 16046 - Киргизия

        - 16082 - Молдавия

        - 16129 - Таджикистан

        - 16140 - Узбекистан

        '
      in: query
      name: nationality
      schema:
        example: 15973,15974,15975
        format: int64
        type: integer
    - description: 'Водительское удостоверение

        <br>

        Возможные значения:

        - yes - Удостоверение есть

        - no - Удостоверения нет

        '
      in: query
      name: driver_licence
      schema:
        enum:
        - true
        - false
        type: string
    - description: "Категория водительского удостоверения (можно указать несколько значений через запятую)\n<br>\nВозможные значения:\n  - a\n  - b\n  - be\n  - c\n  - ce\n  - d\n  - de\n  - m\n  - tm\n  - tb\n"
      in: query
      name: driver_licence_category
      schema:
        enum:
        - a
        - b
        - be
        - c
        - ce
        - d
        - de
        - m
        - tm
        - tb
        type: string
    - description: "Стаж вождения (можно указать несколько значений через запятую)\n<br>\nВозможные значения:\n  - less-than-three-years - Стаж вождения меньше трех лет\n  - more-than-three-years - Стаж вождения больше трех лет\n"
      in: query
      name: driving_experience
      schema:
        enum:
        - less-than-three-years
        - more-than-three-years
        type: string
    - description: "Свой транспорт (можно указать несколько значений через запятую)\n<br>\nВозможные значения:\n  - no - Нет\n  - car - Легковое авто\n  - cargo-car - Грузовое авто\n  - bike - Мотоцикл\n  - scooter - Мопед\n"
      in: query
      name: own_transport
      schema:
        enum:
        - false
        - car
        - cargo-car
        - bike
        - scooter
        type: string
    - description: "Медкнижка\n<br>\nВозможные значения:\n  - yes - Медкнижка есть\n  - no - Медкнижки нет\n"
      in: query
      name: medical_book
      schema:
        enum:
        - true
        - false
        type: string
    get:
      operationId: resumesGet
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/ResumeSearchMeta'
                  resumes:
                    items:
                      $ref: '#/components/schemas/SimplifiedResume'
                    title: Список резюме
                    type: array
                title: Список найденных резюме
                type: object
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Неверный запрос
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
          description: Требуется аутентификация
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
          description: Внутренняя ошибка метода API
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
          description: Метод API временно недоступен
      security:
      - AuthorizationCode:
        - job:cv
      - ClientCredentials: []
      summary: Поиск резюме
      tags:
      - Job
  /job/v1/resumes/{resume_id}/contacts/:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - deprecated: true
      description: 'Устаревший заголовок, используйте X-Employee-Of. Сотрудник компании может получить информацию о резюме приобретенных компанией.

        '
      in: header
      name: X-Is-Employee
      schema:
        type:
        - boolean
        - 'null'
    - description: 'Идентификатор компании, от имени которой работает сотрудник. Сотрудник компании может получить информацию о резюме приобретенных компанией.

        '
      in: header
      name: X-Employee-Of
      schema:
        minimum: 1
        type:
        - integer
        - 'null'
    - description: Идентификатор резюме
      in: path
      name: resume_id
      required: true
      schema:
        format: int64
        type: integer
    - description: 'Идентификатор сотрудника компании в рамках иерархии аккаунтов. Используется для возможности списать контакт с лимита на покупку резюме для указанного сотрудника.

        '
      in: query
      name: employee_id
      schema:
        format: int64
        type:
        - integer
        - 'null'
    get:
      description: Для получения контактов пользователя необходимо приобрести пакет просмотров в личном кабинете. Если резюме было получено из отклика, контакты предоставляются без списания из пакета просмотров.
      operationId: resumeGetContacts
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResumeContacts'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Неверный запрос
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
          description: Требуется аутентификация
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchasingError'
          description: Требуется пополнение пакета просмотров резюме
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchasingError'
          description: Требуется верификация работодателя
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
          description: Резюме не найдено
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
          description: Внутренняя ошибка метода API
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
          description: Метод API временно недоступен
      security:
      - AuthorizationCode:
        - job:cv
      - ClientCredentials: []
      summary: Доступ к контактным данным соискателя
      tags:
      - Job
  /job/v1/vacancies:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - deprecated: true
      description: 'Устаревший заголовок, используйте X-Employee-Of. Вакансия будет публиковаться от имени сотрудника компании, к которой он привязан.

        '
      in: header
      name: X-Is-Employee
      schema:
        type:
        - boolean
        - 'null'
    - description: 'Идентификатор компании, от имени которой работает сотрудник. Вакансия будет публиковаться от имени сотрудника компании, к которой он привязан.

        '
      in: header
      name: X-Employee-Of
      schema:
        minimum: 1
        type:
        - integer
        - 'null'
    post:
      description: Для публикации вакансии необходимо приобрести тариф в личном кабинете.
      operationId: vacancyCreate
      requestBody:
        content:
          application/json:
            example:
              address: Москва
              age:
                from: 65
                to: 16
              age_preferences:
              - olderThan45
              - withHealthProblems
              allow_messages: true
              apply_processing:
                additional_questions:
                - experience
                - age
                - citizenship
                apply_type: with_assistant
              billing_type: package
              business_area: 7
              citizenship:
              - rus
              - blr
              contacts:
                email: ivalerevich@company.ru
                name: Игорь Валерьевич
                phone:
                  city: '201'
                  country: '+7'
                  number: '1001158'
              description: описание
              employment: partial
              experience:
                id: moreThan1
              is_remote: true
              is_side_job: false
              name: объявление
              payout_frequency:
                id: dailyPay
              profession: 3201667
              schedule:
                id: flyInFlyOut
            schema:
              $ref: '#/components/schemas/VacancyCreate'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VacancyCreateResult'
          description: Успешный ответ
          headers:
            Location:
              description: Заголовок будет содержать ссылку на добавленную вакансию.
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Ошибка в поле вакансии
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
          description: Требуется аутентификация
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentError'
          description: Ошибка оплаты
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreationForbiddenError'
          description: Создание вакансий недоступно
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Ресурс не найден
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
          description: Внутренняя ошибка метода API
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
          description: Метод API временно недоступен
      security:
      - AuthorizationCode:
        - job:write
      - ClientCredentials: []
      summary: Публикация вакансии
      tags:
      - Job
  /job/v1/vacancies/archived/{vacancy_id}:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - $ref: '#/components/parameters/pathVacancyId'
    - deprecated: true
      description: 'Устаревший заголовок, используйте X-Employee-Of. Сотрудник компании может остановить публикацию только для своих вакансий.

        '
      in: header
      name: X-Is-Employee
      schema:
        type:
        - boolean
        - 'null'
    - description: 'Идентификатор компании, от имени которой работает сотрудник. Сотрудник компании может остановить публикацию только для своих вакансий.

        '
      in: header
      name: X-Employee-Of
      schema:
        minimum: 1
        type:
        - integer
        - 'null'
    put:
      description: Снимает с публикации объявление в категории Вакансии.
      operationId: vacancyArchive
      requestBody:
        content:
          application/json:
            example:
              employee_id: 12342348
            schema:
              $ref: '#/components/schemas/VacancyArchive'
      responses:
        '204':
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Ошибка в поле запроса
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
          description: Требуется аутентификация
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentError'
          description: Ошибка оплаты
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoppingForbiddenError'
          description: Остановка публикации вакансий недоступно
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemNotFoundError'
          description: Вакансия не найдена
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
          description: Внутренняя ошибка метода API
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
          description: Метод API временно недоступен
      security:
      - AuthorizationCode:
        - job:write
      - ClientCredentials: []
      summary: Остановка публикации вакансии
      tags:
      - Job
  /job/v1/vacancies/{vacancy_id}:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - $ref: '#/components/parameters/pathVacancyId'
    - deprecated: true
      description: 'Устаревший заголовок, используйте X-Employee-Of. Сотрудник компании может редактировать только свои вакансии.

        '
      in: header
      name: X-Is-Employee
      schema:
        type:
        - boolean
        - 'null'
    - description: 'Идентификатор компании, от имени которой работает сотрудник. Сотрудник компании может редактировать только свои вакансии.

        '
      in: header
      name: X-Employee-Of
      schema:
        minimum: 1
        type:
        - integer
        - 'null'
    put:
      description: Редактирует объявление в категории Вакансии. Необходимо приобрести тариф в личном кабинете.
      operationId: vacancyUpdate
      requestBody:
        content:
          application/json:
            example:
              address: Москва
              age_preferences:
              - olderThan45
              - withHealthProblems
              allow_messages: true
              apply_processing:
                apply_type: only_with_resume
              billing_type: package
              contacts:
                email: ivalerevich@company.ru
                name: Игорь Валерьевич
                phone:
                  city: '201'
                  country: '+7'
                  number: '1001158'
              description: описание
              experience:
                id: moreThan1
              is_remote: false
              is_side_job: true
              name: объявление
              payout_frequency:
                id: dailyPay
              profession: 3201667
            schema:
              $ref: '#/components/schemas/VacancyUpdate'
        required: true
      responses:
        '204':
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Ошибка в поле вакансии
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
          description: Требуется аутентификация
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentError'
          description: Ошибка оплаты
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditingForbiddenError'
          description: Редактирование вакансий недоступно
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemNotFoundError'
          description: Редактируемая вакансия не найдена
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'
          description: Конфликт при редактировании вакансии
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
          description: Внутренняя ошибка метода API
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
          description: Метод API временно недоступен
      security:
      - AuthorizationCode:
        - job:write
      - ClientCredentials: []
      summary: Редактирование вакансии
      tags:
      - Job
  /job/v1/vacancies/{vacancy_id}/prolongate:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - $ref: '#/components/parameters/pathVacancyId'
    - deprecated: true
      description: 'Устаревший заголовок, используйте X-Employee-Of. Сотрудник компании может реактивировать только свою вакансию.

        '
      in: header
      name: X-Is-Employee
      schema:
        type:
        - boolean
        - 'null'
    - description: 'Идентификатор компании, от имени которой работает сотрудник. Сотрудник компании может реактивировать только свою вакансию.

        '
      in: header
      name: X-Employee-Of
      schema:
        minimum: 1
        type:
        - integer
        - 'null'
    post:
      description: Реактивирует объявление в категории Вакансии. Необходимо приобрести тариф в личном кабинете.
      operationId: vacancyProlongate
      requestBody:
        content:
          application/json:
            example:
              billing_type: package
            schema:
              $ref: '#/components/schemas/VacancyProlongate'
        required: true
      responses:
        '204':
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestShort'
          description: Ошибка в поле вакансии
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
          description: Требуется аутентификация
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentError'
          description: Ошибка оплаты
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationForbiddenError'
          description: Активация вакансий недоступна
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemNotFoundError'
          description: Вакансия не найдена
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
          description: Внутренняя ошибка метода API
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
          description: Метод API временно недоступен
      security:
      - AuthorizationCode:
        - job:write
      - ClientCredentials: []
      summary: Реактивация вакансии
      tags:
      - Job
  /job/v2/resumes/{resume_id}:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - deprecated: true
      description: 'Устаревший заголовок, используйте X-Employee-Of. Включает привилегии компании для сотрудника, получает доступ к резюме от имени компании.

        '
      in: header
      name: X-Is-Employee
      schema:
        type:
        - boolean
        - 'null'
    - description: 'Идентификатор компании, от имени которой работает сотрудник. Включает привилегии компании для сотрудника, получает доступ к резюме от имени компании.

        '
      in: header
      name: X-Employee-Of
      schema:
        minimum: 1
        type:
        - integer
        - 'null'
    - description: Идентификатор резюме
      in: path
      name: resume_id
      required: true
      schema:
        format: int64
        type: integer
    - description: Поля основного тела ответа (можно указать несколько значений через запятую). По умолчанию отображаются все поля.
      in: query
      name: fields
      schema:
        enum:
        - address_details
        - description
        - is_active
        - is_purchased
        - salary
        - start_time
        - title
        - update_time
        - url
        example: title,description,salary
        type: string
    - description: Дополнительные поля, которые входят в params (можно указать несколько значений через запятую). По умолчанию отображаются все поля.
      in: query
      name: params
      schema:
        enum:
        - ability_to_business_trip
        - address
        - age
        - business_area
        - driver_licence
        - driver_licence_category
        - education
        - education_list
        - experience
        - experience_list
        - language_list
        - moving
        - nationality
        - pol
        - razreshenie_na_rabotu_v_rossii
        - schedule
        example: address,age
        type: string
    - description: Признак того, нужно ли отдавать картинки, по умолчанию false
      in: query
      name: photos
      schema:
        default: false
        example: true
        type: boolean
    get:
      description: По умолчанию fields и params выводятся все. Если указана только часть полей - остальные поля будут отсутствовать в ответе.
      operationId: resumeGetItem
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resume2.0'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
          description: Неверный запрос
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
          description: Требуется аутентификация
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
          description: Резюме не найдено
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
          description: Внутренняя ошибка метода API
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
          description: Метод API временно недоступен
      security:
      - AuthorizationCode:
        - job:cv
      - ClientCredentials: []
      summary: Просмотр данных резюме
      tags:
      - Job
  /job/v2/vacancies:
    get:
      operationId: searchVacancy
      parameters:
      - $ref: '#/components/parameters/authHeader'
      - description: Количество записей на странице (положительное число от 10 до 100)
        in: query
        name: per_page
        schema:
          default: 25
          example: 10
          format: int32
          type: integer
      - description: Номер страницы (положительное число больше 0, произведение page на per_page не должно превышать 5000)
        in: query
        name: page
        schema:
          default: 1
          example: 1
          format: int32
          type: integer
      - description: 'Идентификатор региона поиска (можно указать несколько значений через запятую)

          <br>

          Метод принимает идентификаторы сущностей Region и City из [справочника](https://autoload.avito.ru/format/Locations.xml).

          '
        in: query
        name: location
        schema:
          example: 637640
          format: int64
          type: integer
      - description: 'Идентификатор сферы деятельности  <br> Получить актуальный список доступных значений можно из справочника `business_area` через метод [getDictByID](/api-catalog/job/documentation#operation/getDictByID). <br> Статичный [справочник](https://www.avito.st/s/openapi/catalog-business-area.xml) объявлен устаревшим и более не будет использоваться.  <br>

          '
        in: query
        name: business_area
        schema:
          example: 3278315
          format: int64
          type: integer
      - description: 'Формат работы (можно указать несколько значений через запятую) <br> Получить актуальный список доступных значений можно из справочника `work_format` через метод [getDictByID](/api-catalog/job/documentation#operation/getDictByID). <br>

          '
        in: query
        name: work_format
        schema:
          example: 3286367
          type: string
      - description: 'Режим работы (можно указать несколько значений через запятую) <br> Получить актуальный список доступных значений можно из справочника `schedules` через метод [getDictByID](/api-catalog/job/documentation#operation/getDictByID). <br>

          '
        in: query
        name: schedule
        schema:
          example: 10116
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/VacancySearchMeta'
                  vacancies:
                    items:
                      $ref: '#/components/schemas/SimplifiedVacancy'
                    title: Список вакансий
                    type: array
                title: Список найденных вакансий
                type: object
          description: Успешный ответ
        '204':
          description: Отсутствуют данные по запросу
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Неверный запрос
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
          description: Требуется аутентификация
        '403':
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        description: Код ошибки
                        example: 403
                        format: int32
                        type: integer
                      message:
                        description: Текст ошибки
                        example: Forbidden
                        type: string
                    type: object
                type: object
          description: Доступ запрещен
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
          description: Внутренняя ошибка метода API
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
          description: Метод API временно недоступен
      security:
      - AuthorizationCode:
        - job:vacancy
      - ClientCredentials: []
      summary: Поиск вакансий
      tags:
      - Job
      x-rate-limiter:
        default: 120
    post:
      description: 'Для публикации вакансии необходимо приобрести тариф в личном кабинете.

        Для проверки статуса публикации используйте полученный идентификатор в методе получения статуса.'
      operationId: vacancyCreateV2
      parameters:
      - $ref: '#/components/parameters/authHeader'
      - deprecated: true
        description: 'Устаревший заголовок, используйте X-Employee-Of. Вакансия будет публиковаться от имени сотрудника компании, к которой он привязан.

          '
        in: header
        name: X-Is-Employee
        schema:
          type:
          - boolean
          - 'null'
      - description: 'Идентификатор компании, от имени которой работает сотрудник. Вакансия будет публиковаться от имени сотрудника компании, к которой он привязан.

          '
        in: header
        name: X-Employee-Of
        schema:
          minimum: 1
          type:
          - integer
          - 'null'
      requestBody:
        content:
          application/json:
            example:
              age:
                from: 65
                to: 16
              age_preferences:
              - olderThan45
              - withHealthProblems
              apply_processing:
                additional_questions:
                - experience
                - age
                - citizenship
                apply_type: with_assistant
              billing_type: packageOrSingle
              business_area: 7
              citizenship:
              - rus
              - blr
              contacts:
                allow_messages: true
                email: ivalerevich@company.ru
                name: Игорь Валерьевич
                phone: '+72011001158'
              delivery_method:
              - car
              - bike
              description: описание
              driving_experience: moreThan10
              driving_license_category:
              - B
              - C
              - M
              employment: partial
              experience: moreThan1
              is_company_car: true
              is_remote: false
              is_side_job: true
              location:
                address:
                  house: д.1
                  locality: Москва
                  street: ул. Лесная
                coordinates:
                  latitude: 55.778644
                  longitude: 37.587901
              payout_frequency: dailyPay
              profession: 3201667
              salary:
                from: 1000
                to: 2000
              schedule: flyInFlyOut
              title: объявление
            schema:
              $ref: '#/components/schemas/VacancyV2Create'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VacancyV2CreateResult'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestOnVacancy'
          description: Ошибка в поле вакансии
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
          description: Требуется аутентификация
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreationForbiddenError'
          description: Создание вакансий недоступно
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
          description: Внутренняя ошибка метода API
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
          description: Метод API временно недоступен
      security:
      - AuthorizationCode:
        - job:write
      - ClientCredentials: []
      summary: Публикация вакансии v2
      tags:
      - Job
  /job/v2/vacancies/batch:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - deprecated: true
      description: 'Устаревший заголовок, используйте X-Employee-Of. Сотрудник компании получает информацию по вакансиям, которую он опубликовал для компании.

        '
      in: header
      name: X-Is-Employee
      schema:
        type:
        - boolean
        - 'null'
    - description: 'Идентификатор компании, от имени которой работает сотрудник. Сотрудник компании получает информацию по вакансиям, которую он опубликовал для компании.

        '
      in: header
      name: X-Employee-Of
      schema:
        minimum: 1
        type:
        - integer
        - 'null'
    post:
      description: 'По умолчанию fields и params выводятся все. Если указана только часть полей - остальные поля будут отсутствовать в ответе.

        Для просмотра данных необходимо быть владельцем вакансии.'
      operationId: vacanciesGetByIds
      requestBody:
        content:
          application/json:
            example:
              fields:
              - title
              ids:
              - 12342348
              - 12342349
              params:
              - business_area
              - schedule
            schema:
              $ref: '#/components/schemas/VacanciesGetByIdsBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vacancies2.0'
          description: Успешный ответ
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
          description: Неверный запрос
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
          description: Требуется аутентификация
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Пользователь не владелец объявления
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
          description: Вакансия не найдена
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
          description: Внутренняя ошибка метода API
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
          description: Метод API временно недоступен
      security:
      - AuthorizationCode:
        - job:vacancy
      - ClientCredentials: []
      summary: Просмотр данных вакансий
      tags:
      - Job
  /job/v2/vacancies/statuses:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - deprecated: true
      description: 'Устаревший заголовок, используйте X-Employee-Of. Сотрудник компании получает информацию о статусе публикации вакансии, которую он опубликовал для компании.

        '
      in: header
      name: X-Is-Employee
      schema:
        type:
        - boolean
        - 'null'
    - description: 'Идентификатор компании, от имени которой работает сотрудник. Сотрудник компании получает информацию о статусе публикации вакансии, которую он опубликовал для компании.

        '
      in: header
      name: X-Employee-Of
      schema:
        minimum: 1
        type:
        - integer
        - 'null'
    post:
      description: 'Получение списка статусов процесса публикации и модерации вакансий.

        В запросе используйте идентификатор, полученный методе

        публикации вакансии v2'
      operationId: vacancyGetStatuses
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VacancyStatusesBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VacancyStatusesResult'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Ошибка в формате запроса
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
          description: Требуется аутентификация
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Пользователь не авторизован для этой операции
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
          description: Внутренняя ошибка метода API
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
          description: Метод API временно недоступен
      security:
      - AuthorizationCode:
        - job:write
      - ClientCredentials: []
      summary: Получение статуса публикации вакансий V2
      tags:
      - Job
  /job/v2/vacancies/update/{vacancy_uuid}:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - $ref: '#/components/parameters/pathVacancyUUID'
    - deprecated: true
      description: 'Устаревший заголовок, используйте X-Employee-Of. Сотрудник компании может редактировать только свои вакансии.

        '
      in: header
      name: X-Is-Employee
      schema:
        type:
        - boolean
        - 'null'
    - description: 'Идентификатор компании, от имени которой работает сотрудник. Сотрудник компании может редактировать только свои вакансии.

        '
      in: header
      name: X-Employee-Of
      schema:
        minimum: 1
        type:
        - integer
        - 'null'
    post:
      description: Редактирует объявление в категории Вакансии. Необходимо приобрести тариф в личном кабинете.
      operationId: vacancyUpdateV2
      requestBody:
        content:
          application/json:
            example:
              age_preferences:
              - olderThan45
              - withHealthProblems
              apply_processing:
                apply_type: only_with_resume
              billing_type: packageOrSingle
              business_area: 7
              contacts:
                allow_messages: true
                name: менеджер
                phone: 72011001158
              delivery_method:
              - car
              - bike
              description: описание <strong>c тегами</strong>
              driving_experience: moreThan10
              driving_license_category:
              - B
              - C
              - M
              employment: partial
              experience: moreThan1
              is_company_car: true
              is_remote: true
              is_side_job: true
              location:
                address:
                  house: д.1
                  locality: Москва
                  street: ул. Лесная
                coordinates:
                  latitude: 55.778644
                  longitude: 37.587901
              payout_frequency: dailyPay
              profession: 3201667
              salary:
                from: 1000
                to: 2000
              schedule: flyInFlyOut
              title: объявление
            schema:
              $ref: '#/components/schemas/VacancyV2Create'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VacancyV2CreateResult'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestOnVacancy'
          description: Ошибка в поле вакансии
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
          description: Требуется аутентификация
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreationForbiddenError'
          description: Создание вакансий недоступно
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
          description: Внутренняя ошибка метода API
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
          description: Метод API временно недоступен
      security:
      - AuthorizationCode:
        - job:write
      - ClientCredentials: []
      summary: Редактирование вакансии v2
      tags:
      - Job
  /job/v2/vacancies/{vacancy_id}:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - deprecated: true
      description: 'Устаревший заголовок, используйте X-Employee-Of. Сотрудник компании получает информацию по вакансии, которую он опубликовал для компании.

        '
      in: header
      name: X-Is-Employee
      schema:
        type:
        - boolean
        - 'null'
    - description: 'Идентификатор компании, от имени которой работает сотрудник. Сотрудник компании получает информацию по вакансии, которую он опубликовал для компании.

        '
      in: header
      name: X-Employee-Of
      schema:
        minimum: 1
        type:
        - integer
        - 'null'
    - description: Идентификатор вакансии
      in: path
      name: vacancy_id
      required: true
      schema:
        format: int64
        type: integer
    - description: Поля основного тела ответа (можно указать несколько значений через запятую). По умолчанию отображаются все поля.
      in: query
      name: fields
      schema:
        enum:
        - description
        - is_active
        - salary
        - start_time
        - title
        - update_time
        - url
        example: title,description,salary
        type: string
    - description: 'Дополнительные поля, которые входят в params (можно указать несколько

        значений через запятую). Если значение не задано - возвращаются все поля.


        Устаревшие значения:

        * change (используйте shifts)

        * is_remote (используйте work_format)


        Удалённые значения (более недоступны):

        * manufacturing_type

        * industry_type

        * piecework_flag

        * programs

        * warehouse_functionality

        * where_to_work

        '
      in: query
      name: params
      schema:
        enum:
        - address
        - administrator_organization_type
        - age_preferences
        - applies_filter
        - bonuses
        - business_area
        - change
        - citizenship
        - construction_work_type
        - coordinates
        - cuisine
        - delivery_method
        - driving_experience
        - driving_license_category
        - eatery_type
        - education_level
        - employment
        - experience
        - facility_type
        - food_production_shop_type
        - grade
        - industry_type
        - is_company_car
        - is_remote
        - is_side_job
        - manufacturing_type
        - medical_book
        - medical_specialization
        - paid_period
        - payout_frequency
        - piecework_flag
        - profession
        - programs
        - registration_method
        - retail_equipment_type
        - retail_shop_type
        - salary
        - salary_base_bonus
        - salary_base_range
        - schedule
        - shifts
        - taxes
        - tools_availability
        - vacancy_code
        - vehicle_type
        - warehouse_functionality
        - where_to_work
        - work_days_per_week
        - work_format
        - work_hours_per_day
        - worker_class
        example: address,schedule
        type: string
    get:
      description: 'По умолчанию fields и params выводятся все. Если указана только часть полей - остальные поля будут отсутствовать в ответе.

        Для просмотра данных необходимо быть владельцем вакансии.'
      operationId: vacancyGetItem
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vacancy2.0'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
          description: Неверный запрос
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
          description: Требуется аутентификация
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Пользователь не владелец объявления
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
          description: Вакансия не найдена
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
          description: Внутренняя ошибка метода API
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
          description: Метод API временно недоступен
      security:
      - AuthorizationCode:
        - job:vacancy
      - ClientCredentials: []
      summary: Просмотр данных вакансии
      tags:
      - Job
  /job/v2/vacancies/{vacancy_uuid}/auto_renewal:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - $ref: '#/components/parameters/pathVacancyUUID'
    - deprecated: true
      description: 'Устаревший заголовок, используйте X-Employee-Of. Включает привилегии компании для сотрудника, позволяет включать автопродление вакансий принадлежащих сотруднику опубликованных от имени компании.

        '
      in: header
      name: X-Is-Employee
      schema:
        type:
        - boolean
        - 'null'
    - description: 'Идентификатор компании, от имени которой работает сотрудник. Включает привилегии компании для сотрудника, позволяет включать автопродление вакансий принадлежащих сотруднику опубликованных от имени компании.

        '
      in: header
      name: X-Employee-Of
      schema:
        minimum: 1
        type:
        - integer
        - 'null'
    put:
      description: Включает или выключает автопродление вакансии. Если вакансия в архиве, то при включении автопродления вакансия будет автоматически поднята из архива.
      operationId: vacancyAutoRenewal
      requestBody:
        content:
          application/json:
            example:
              auto_renewal: true
            schema:
              $ref: '#/components/schemas/VacancyAutoRenewal'
        required: true
      responses:
        '204':
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Неверный запрос
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
          description: Требуется аутентификация
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
          description: вакансия не найдена
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
          description: Внутренняя ошибка метода API
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
          description: Метод API временно недоступен
      security:
      - AuthorizationCode:
        - job:write
      - ClientCredentials: []
      summary: Автопродление вакансии v2
      tags:
      - Job
  /job/v2/vacancy/dict:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - deprecated: true
      description: 'Устаревший заголовок, используйте X-Employee-Of. Включает привилегии компании для сотрудника.

        '
      in: header
      name: X-Is-Employee
      schema:
        type:
        - boolean
        - 'null'
    - description: 'Идентификатор компании, от имени которой работает сотрудник. Включает привилегии компании для сотрудника.

        '
      in: header
      name: X-Employee-Of
      schema:
        minimum: 1
        type:
        - integer
        - 'null'
    get:
      description: Возвращает все доступные словари (Заменяет существующие списки)
      operationId: getDicts
      responses:
        '200':
          content:
            application/json:
              example:
              - description: Профессия
                id: profession
              - description: Техника
                id: vehicle_type
              schema:
                items:
                  properties:
                    description:
                      description: Описание категории
                      type: string
                    id:
                      description: Уникальный идентификатор категории
                      example: profession
                      type: string
                  type: object
                type: array
          description: Успешный ответ с массивом категорий
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
          description: Внутренняя ошибка метода API
      summary: Получение списка доступных словарей
      tags:
      - Job
  /job/v2/vacancy/dict/{dictionary_id}:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - $ref: '#/components/parameters/pathDictionaryId'
    - deprecated: true
      description: 'Устаревший заголовок, используйте X-Employee-Of. Включает привилегии компании для сотрудника.

        '
      in: header
      name: X-Is-Employee
      schema:
        type:
        - boolean
        - 'null'
    - description: 'Идентификатор компании, от имени которой работает сотрудник. Включает привилегии компании для сотрудника.

        '
      in: header
      name: X-Employee-Of
      schema:
        minimum: 1
        type:
        - integer
        - 'null'
    get:
      description: Возвращает доступные значения по имени справочника. Значения с признаком deprecated не могут использоваться при создании и обновлении вакансий.
      operationId: getDictByID
      responses:
        '200':
          content:
            application/json:
              example:
              - deprecated: true
                id: 10106
                name: IT, интернет, телеком
              - deprecated: false
                id: 3278315
                name: Архитектура и дизайн
              schema:
                items:
                  properties:
                    deprecated:
                      description: Указывает, является ли значение устаревшим. Устаревшие значения могут использоваться только при чтении ранее созданных вакансий
                      type: boolean
                    id:
                      description: Уникальный идентификатор
                      type: integer
                    name:
                      description: Название
                      type: string
                  type: object
                type: array
          description: Успешный ответ
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
          description: Внутренняя ошибка метода API
      summary: Получение доступных значений списка по ID словаря
      tags:
      - Job
components:
  schemas:
    VacancyUpdate:
      properties:
        address:
          description: Полный адрес объекта (строка длиной от 0 до 256 символов)
          type: string
        administrator_organization_type:
          $ref: '#/components/schemas/AdministratorOrganizationType'
        age:
          $ref: '#/components/schemas/AgeCriteria'
        age_preferences:
          enum:
          - olderThan45
          - olderThan14
          - olderThan16
          - withHealthProblems
          - students
          - pensioners
          items:
            enum:
            - olderThan45
            - olderThan14
            - olderThan16
            - withHealthProblems
            - students
            - pensioners
            type: string
          type:
          - array
          - 'null'
        allow_calls:
          $ref: '#/components/schemas/AllowCalls'
        allow_messages:
          description: Возможность откликнуться на вакансию через сайт. Если передается apply_processing, то значение allow_messages будет игнорироваться и равно true.
          type: boolean
        apply_processing:
          $ref: '#/components/schemas/ApplyProcessing'
        billing_type:
          description: "Вариант платного размещения\n\nВозможные значения:\n  - \"package\" - размещение объявления осуществляется только при наличии подходящего пакета размещения\n  - \"packageOrSingle\" - при наличии подходящего пакета оплата размещения объявления произойдет с него; если нет подходящего пакета, но достаточно денег на кошельке Авито, то произойдет разовое размещение\n  - \"single\" - только разовое размещение, произойдет при наличии достаточной суммы на кошельке Авито; если есть подходящий пакет размещения, он будет проигнорирован\n"
          enum:
          - package
          - single
          - packageOrSingle
          type: string
        bonuses:
          $ref: '#/components/schemas/Bonuses'
        citizenship:
          $ref: '#/components/schemas/CitizenshipCriteria'
        construction_work_type:
          $ref: '#/components/schemas/ConstructionWorkType'
        contacts:
          $ref: '#/components/schemas/Contacts'
        coordinates:
          $ref: '#/components/schemas/Coordinates'
        cuisine:
          $ref: '#/components/schemas/Cuisine'
        custom_employer_name:
          description: Название компании (строка длиной до 60 символов)
          type: string
        delivery_method:
          description: Способ доставки
          items:
            enum:
            - car
            - bike
            - scooter
            - foot
            type: string
          type:
          - array
          - 'null'
        description:
          description: Описание вакансии (строка длиной от 1 до 5000 символов) Поддерживает html-тэги `p`, `ul`, `ol`, `li`, `br`, `strong`, `em`
          type: string
        driving_experience:
          description: Стаж вождения
          properties:
            id:
              enum:
              - noExperience
              - lessThan1
              - 1-2
              - 3-5
              - 6-10
              - moreThan10
              type: string
          required:
          - id
          type:
          - object
          - 'null'
        driving_license_category:
          $ref: '#/components/schemas/DrivingLicenseCategory'
        eatery_type:
          $ref: '#/components/schemas/EateryType'
        education_level:
          $ref: '#/components/schemas/VacancyEducationLevel'
        employee_id:
          description: 'employee_id - Идентификатор сотрудника на Авито.

            Сотрудник может редактировать только закрепленные за ним вакансии в Avito Pro.

            Сотрудник должен быть в активен.

            '
          type: integer
        experience:
          description: Опыт работы
          properties:
            id:
              enum:
              - noMatter
              - moreThan1
              - moreThan3
              - moreThan5
              - moreThan10
              type: string
          required:
          - id
          type: object
        facility_type:
          $ref: '#/components/schemas/FacilityType'
        food_production_shop_type:
          $ref: '#/components/schemas/FoodProductionShopType'
        grade:
          $ref: '#/components/schemas/Grade'
        html_tags:
          $ref: '#/components/schemas/HtmlTags'
        image_url:
          description: URL-адрес логотипа вакансии. Ссылка на файл должна быть прямой | (при переходе не открываются элементы другого сайта (логотипы, кнопки или другие детали интерфейса) и не запрашивается логин и пароль) и доступной для IP 185.89.12.0/22, 146.158.48.0/21, 185.79.237.224/28 и 87.245.204.32/28;
          type: string
        is_company_car:
          description: Предоставляет ли компания автомобиль
          type:
          - boolean
          - 'null'
        is_side_job:
          description: Подработка
          type:
          - boolean
          - 'null'
        medical_book:
          $ref: '#/components/schemas/MedicalBookVacancy'
        medical_specialization:
          $ref: '#/components/schemas/MedicalSpecialization'
        medical_specialization_ids:
          $ref: '#/components/schemas/MedicalSpecializationIds'
        name:
          description: Название вакансии (строка длиной от 0 до 50 символов)
          type: string
        payout_frequency:
          description: "Частота выплат\nВозможные значения:\n  - \"dailyPay\" - Каждый день;\n  - \"biweeklyPay\" - Дважды в месяц;\n  - \"weeklyPay\" - Раз в неделю;\n  - \"thriceMonthlyPay\" - три раза в месяц\n  - \"monthlyPay\" - Раз в месяц.\n\ndeprecated значение hourlyPay будет заменено на dailyPay\n"
          properties:
            id:
              enum:
              - dailyPay
              - weeklyPay
              - biweeklyPay
              - thriceMonthlyPay
              - monthlyPay
              type: string
          required:
          - id
          type:
          - object
          - 'null'
        profession:
          $ref: '#/components/schemas/Profession'
        registration_method:
          $ref: '#/components/schemas/RegistrationMethod'
        retail_equipment_type:
          $ref: '#/components/schemas/RetailEquipmentType'
        retail_shop_type:
          $ref: '#/components/schemas/RetailShopType'
        salary:
          deprecated: true
          description: Зарплата, рублей в месяц, если заполнено вместе с salary_range, то приоритет у salary_range
          type: integer
        salary_detail:
          $ref: '#/components/schemas/SalaryDetail'
        salary_range:
          description: Блок с вилкой зарплаты, если заполнен одновременно с salary, то имеет приоритет
          properties:
            from:
              description: Нижняя граница зарплаты, рублей в месяц
              example: 30000
              type: integer
            to:
              description: Верхняя граница зарплаты, рублей в месяц
              example: 60000
              type: integer
          type: object
        shifts:
          $ref: '#/components/schemas/Shifts'
        tools_availability:
          $ref: '#/components/schemas/ToolsAvailability'
        vacancy_code:
          description: Внутренний идентификатор вакансии или номер заявки на подбор, максимум 150 символов
          type:
          - string
          - 'null'
        vehicle_type:
          $ref: '#/components/schemas/VehicleType'
        work_days_per_week:
          $ref: '#/components/schemas/WorkDaysPerWeek'
        work_format:
          description: "Блок \"Формат работы\" (массив строк)\n\nВозможные значения элементов массива:\n  - \"office\" - В офисе или на объекте;\n  - \"remote\" - Удалённо;\n  - \"gibrid\" - Гибрид.\n"
          items:
            enum:
            - office
            - remote
            - gibrid
            type: string
          type: array
        work_hours_per_day:
          $ref: '#/components/schemas/WorkHoursPerDay'
        worker_class:
          $ref: '#/components/schemas/WorkerClass'
      required:
      - billing_type
      type: object
    VacancyAutoRenewal:
      properties:
        auto_renewal:
          type: boolean
      type: object
    Profession:
      description: Название профессии <br> Получить актуальный список доступных значений можно из справочника `profession` через метод [getDictByID](/api-catalog/job/documentation#operation/getDictByID). <br> Статичный [справочник](https://www.avito.st/s/openapi/catalog-profession.xml?v=5) объявлен устаревшим и более не будет использоваться. <br>
      type:
      - integer
      - 'null'
    BadRequestShort:
      properties:
        error:
          properties:
            reason:
              description: Причина возникновения ошибки (может не присутствовать)
              enum:
              - is_empty
              - wrong_value
              type: string
            type:
              description: Тип ошибки
              enum:
              - bad_json_data
              type: string
            value:
              description: Ключ поля
              type: string
      type: object
    RetailShopType:
      description: "Что продает магазин в котором предстоит работать кандидату\n<br>\nВозможные значения элементов массива:\n  - \"hypermarketOrSupermarket\" - Гипермаркет или супермаркет;\n  - \"grocery\" - Продуктовый;\n  - \"electronicsAndHouseholdAppliances\" - Электроника и бытовая техника;\n  - \"clothesAndShoes\" - Одежда и обувь;\n  - \"perfumesAndCosmetics\" - Парфюмерия и косметика;\n  - \"constructionAndHouseholdGoods\" - Строительство и хозтовары;\n  - \"childrenGoods\" - Детские товары;\n  - \"sportingGoods\" - Спортивные товары;\n  - \"petShop\" - Зоомагазин;\n  - \"pharmacy\" - Аптека;\n  - \"other\" - Другое.\n"
      example:
      - hypermarketOrSupermarket
      items:
        enum:
        - hypermarketOrSupermarket
        - grocery
        - electronicsAndHouseholdAppliances
        - clothesAndShoes
        - perfumesAndCosmetics
        - constructionAndHouseholdGoods
        - childrenGoods
        - sportingGoods
        - petShop
        - pharmacy
        - other
        type: string
      type:
      - array
      - 'null'
    StoppingForbiddenError:
      properties:
        error:
          properties:
            type:
              description: Тип ошибки
              enum:
              - vacancies
              type: string
            value:
              description: Значение ошибки
              enum:
              - chosen_vacancy_belongs_to_another_user
              - unavailable_for_blocked
              - unavailable_for_removed
              - unavailable_for_rejected
              - unavailable_to_stop
              - vacancy_does_not_belong_to_employee
              - employee_is_not_active
              type: string
      type: object
    HtmlTags:
      deprecated: true
      description: 'Поле deprecated - теперь всегда description с html-тэгами.

        Флаг, указывающий на наличие html-тэгов в описании вакансии, для их специальной обработки. По умолчанию `false`

        Поддерживаемые тэги - `p`, `ul`, `ol`, `li`, `br`, `strong`, `em`

        '
      type: boolean
    ApplicationsGetStatesResult:
      properties:
        states:
          description: Список возможных статусов откликов
          items:
            properties:
              description:
                description: Человеко‑читаемое описание статуса
                example: Новый отклик
                type: string
              slug:
                description: Технический идентификатор статуса
                example: new
                type: string
            type: object
          type: array
      type: object
    ConstructionWorkType:
      description: "С какими видами строительных или ремонтных работ предстоит столкнуться кандидату\n<br>\nВозможные значения элементов массива:\n  - \"paintingWorks\" - Малярные работы;\n  - \"wallCovering\" - Облицовка стен;\n  - \"tileWork\" - Работы с плиткой;\n  - \"mountingAndInstallation\" - Монтаж и установка;\n  - \"finishingWork\" - Отделочные работы;\n  - \"roofing\" - Кровельные работы;\n  - \"installationAndConfigurationOfEquipment\" - Монтаж и настройка оборудования;\n  - \"weldingWork\" - Сварочные работы;\n  - \"constructionOfFacades\" - Строительство фасадов;\n  - \"formingMaterials\" - Формовка материалов;\n  - \"concreteAndStoneWorks\" - Бетонные и каменные работы;\n  - \"repairWork\" - Ремонтные работы;\n  - \"other\" - Другие.\n"
      example:
      - paintingWorks
      items:
        enum:
        - paintingWorks
        - wallCovering
        - tileWork
        - mountingAndInstallation
        - finishingWork
        - roofing
        - installationAndConfigurationOfEquipment
        - weldingWork
        - constructionOfFacades
        - formingMaterials
        - concreteAndStoneWorks
        - repairWork
        - other
        type: string
      type:
      - array
      - 'null'
    ConflictError:
      properties:
        error:
          properties:
            message:
              example: Обнаружен конфликт версий вакансии. Выполните запрос повторно.
              title: Текст ошибки
              type: string
            payload:
              additionalProperties: true
              title: Доп.данные об ошибке (если имеются)
              type:
              - object
              - 'null'
            slug:
              example: conflict
              title: Кодовое название ошибки
              type: string
          type: object
      type: object
    validatingError:
      properties:
        error:
          properties:
            code:
              description: Код ошибки
              example: 400
              format: int32
              type: integer
            fields:
              description: Информация об ошибке валидации параметров в формате ключ-значение
              type:
              - object
              - 'null'
            message:
              description: Сообщение об ошибке
              example: Validation error
              type: string
          required:
          - code
          - message
          type: object
      type: object
    serviceError:
      properties:
        error:
          properties:
            code:
              description: Код ошибки
              example: 500
              format: int32
              type: integer
            message:
[...]
