openapi: 3.0.0
info:
  contact:
    email: supportautoload@avito.ru
  description: 'API для взаимодействия с иерархией аккаунтов в Авито

    **Авито API для бизнеса предоставляется согласно [Условиям использования](https://www.avito.ru/legal/pro_tools/public-api).**

    '
  title: Иерархия Аккаунтов Access Report API
  version: '1'
servers:
- url: https://api.avito.ru/
tags:
- name: Report
  x-displayName: Отчеты Автотеки
  x-subdivName: Отчеты Автотеки
paths:
  /autoteka/v1/previews:
    post:
      description: 'Возвращает идентификатор `previewId`, по которому асинхронно с помощью [запроса на получение превью по ID](#operation/getPreview) можно получить результат

        '
      operationId: postPreviewByVin
      parameters:
      - $ref: '#/components/parameters/authHeader'
      requestBody:
        content:
          application/json:
            example:
              vin: XTA210990Y2766111
            schema:
              $ref: '#/components/schemas/RequestByVinAutoteka'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestPreviewResponseBodyAutoteka'
          description: Успешный ответ
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Ошибка валидации входных параметров
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Операцию невозможно выполнить
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
          description: Информация не найдена
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalError'
          description: Информация об ошибке
      security:
      - ClientCredentials: []
      summary: 'Превью по VIN или номеру кузова

        '
      tags:
      - Report
      x-trailing-slash: true
  /autoteka/v1/previews/{previewId}:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - description: Идентификатор превью
      in: path
      name: previewId
      required: true
      schema:
        minimum: 1
        type: integer
    get:
      description: 'Возвращает текущий статус сбора информации превью, и краткую инфо по запрашиваемому `VIN`

        '
      operationId: getPreview
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPreviewResponseBodyAutoteka'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Ошибка валидации входных параметров
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Операцию невозможно выполнить
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
          description: Информация не найдена
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalError'
          description: Информация об ошибке
      security:
      - ClientCredentials: []
      summary: 'Получение превью по его ID

        '
      tags:
      - Report
      x-trailing-slash: true
  /autoteka/v1/reports:
    post:
      description: 'Метод для запроса отчета по `previewId`, возвращает идентификатор отчета по которому сформированный отчет можно получить в [методе для получения отчета по его идентификатору](#operation/getReport). При запросе происходит списание доступных отчетов

        '
      operationId: postReport
      parameters:
      - $ref: '#/components/parameters/authHeader'
      requestBody:
        content:
          application/json:
            example:
              previewId: 123
            schema:
              $ref: '#/components/schemas/RequestReportByPreviewIdAutoteka'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateReportResponseBodyAutoteka'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Ошибка валидации входных параметров
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Операцию невозможно выполнить
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
          description: Данные по превью не найдены
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalError'
          description: Информация об ошибке
      security:
      - ClientCredentials: []
      summary: 'Отчет по превью

        '
      tags:
      - Report
      x-trailing-slash: true
  /autoteka/v1/reports-by-vehicle-id:
    post:
      description: 'Метод для запроса отчета по идентификатору авто (vin/frame), возвращает идентификатор отчета по которому сформированный отчет можно получить в [методе для получения отчета по его идентификатору](#operation/getReport). При запросе происходит списание доступных отчетов

        '
      operationId: postReportByVehicleId
      parameters:
      - $ref: '#/components/parameters/authHeader'
      requestBody:
        content:
          application/json:
            example:
              vehicleId: XTA210990Y2766111
            schema:
              $ref: '#/components/schemas/RequestReportByVehicleIdAutoteka'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateReportResponseBodyAutoteka'
          description: Успешный ответ
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Ошибка валидации входных параметров
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Операцию невозможно выполнить
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
          description: Информация не найдена
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalError'
          description: Информация об ошибке
      security:
      - ClientCredentials: []
      summary: 'Отчет по идентификатору авто (vin/frame)

        '
      tags:
      - Report
      x-trailing-slash: true
  /autoteka/v1/reports/{report_id}:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - description: Идентификатор отчета.
      in: path
      name: report_id
      required: true
      schema:
        minimum: 1
        type: integer
    get:
      description: 'Получение подробного отчета по его идентификатору, полученному из [запроса на создание отчета](#operation/postReport)

        '
      operationId: getReport
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReportAsync'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Ошибка валидации входных параметров
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Операцию невозможно выполнить
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
          description: Отчет не найден
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalError'
          description: Информация об ошибке
      security:
      - ClientCredentials: []
      summary: 'Получение отчета по его ID

        '
      tags:
      - Report
      x-trailing-slash: true
  /autoteka/v1/request-preview-by-external-item:
    post:
      description: 'Возвращает идентификатор `previewId`, по которому асинхронно с помощью [запроса на получение превью по ID](#operation/getPreview) можно получить результат

        '
      operationId: postPreviewByExternalItem
      parameters:
      - $ref: '#/components/parameters/authHeader'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                itemId:
                  minLength: 3
                  type: string
                site:
                  minLength: 3
                  type: string
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestPreviewResponseBodyAutoteka'
          description: Успешный ответ
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Ошибка валидации входных параметров
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Операцию невозможно выполнить
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
          description: Информация не найдена
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalError'
          description: Информация об ошибке
      security:
      - ClientCredentials: []
      summary: 'Превью по ID объявления другой площадки

        '
      tags:
      - Report
  /autoteka/v1/request-preview-by-item-id:
    post:
      description: 'Возвращает идентификатор `previewId`, по которому асинхронно с помощью [запроса на получение превью по ID](#operation/getPreview) можно получить результат

        '
      operationId: postPreviewByItemId
      parameters:
      - $ref: '#/components/parameters/authHeader'
      requestBody:
        content:
          application/json:
            example:
              itemId: 1234567
            schema:
              $ref: '#/components/schemas/RequestPreviewByItemIdAutoteka'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestPreviewResponseBodyAutoteka'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Ошибка валидации входных параметров
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Операцию невозможно выполнить
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
          description: Preview не найдено
        '500':
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      codex:
                        description: Код ошибки
                        example: 400
                        format: int32
                        type: integer
                      message:
                        description: Сообщение об ошибке
                        example: Service is temporary unavailable
                        type: string
                    required:
                    - codex
                    - message
                    type: object
                type: object
          description: Информация об ошибке
      security:
      - ClientCredentials: []
      summary: Превью по ID объявления Авито
      tags:
      - Report
  /autoteka/v1/request-preview-by-regnumber:
    x-gateway:
      timeouts:
        connect: 200ms
        envoy: 5.0s
        read: 5s
        send: 5s
    post:
      description: 'Возвращает идентификатор `previewId`, по которому асинхронно с помощью [запроса на получение превью по ID](#operation/getPreview) можно получить результат

        '
      operationId: postPreviewByRegNumber
      parameters:
      - $ref: '#/components/parameters/authHeader'
      requestBody:
        content:
          application/json:
            example:
              regNumber: X777XX777
            schema:
              $ref: '#/components/schemas/RequestByRegNumberAutoteka'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestPreviewResponseBodyAutoteka'
          description: Успешный ответ
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Ошибка валидации входных параметров
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Операцию невозможно выполнить
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
          description: Информация не найдена
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalError'
          description: Информация об ошибке
      security:
      - ClientCredentials: []
      summary: 'Превью по государственному номеру

        '
      tags:
      - Report
  /autoteka/v1/sync/create-by-regnumber:
    post:
      description: 'Метод для создания отчета по государственному регистрационному номеру в синхронном режиме без превью. Возвращает отчет. Таймаут - 30 секунд. Списывает проверку. Если в течение 30 секунд отчет не был сформирован, повторный запрос в течение часа не спишет дополнительных проверок.

        Чтобы подключить эту возможность, обратитесь к менеджеру Автотеки.

        '
      operationId: postSyncCreateReportByRegNumber
      parameters:
      - $ref: '#/components/parameters/authHeader'
      requestBody:
        content:
          application/json:
            example:
              regNumber: X777XX777
            schema:
              $ref: '#/components/schemas/RequestByRegNumberAutoteka'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReport'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Ошибка валидации входных параметров
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Операцию невозможно выполнить
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalError'
          description: Информация об ошибке
      security:
      - ClientCredentials: []
      summary: 'Синхронное создание отчета по ГРЗ

        '
      tags:
      - Report
  /autoteka/v1/sync/create-by-vin:
    post:
      description: 'Метод для создания отчета по VIN или номеру кузова в синхронном режиме без превью. Возвращает отчет. Таймаут - 30 секунд. Списывает проверку. Если в течение 30 секунд отчет не был сформирован, повторный запрос в течение часа не спишет дополнительных проверок.

        Чтобы подключить эту возможность, обратитесь к менеджеру Автотеки.

        '
      operationId: postSyncCreateReportByVin
      parameters:
      - $ref: '#/components/parameters/authHeader'
      requestBody:
        content:
          application/json:
            example:
              vin: XTA210990Y2766111
            schema:
              $ref: '#/components/schemas/RequestByVinAutoteka'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReport'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Ошибка валидации входных параметров
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Операцию невозможно выполнить
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalError'
          description: Информация об ошибке
      security:
      - ClientCredentials: []
      summary: 'Синхронное создание отчёта по VIN или номеру кузова

        '
      tags:
      - Report
components:
  schemas:
    CreateReportResponseBodyAutoteka:
      properties:
        result:
          $ref: '#/components/schemas/CreateReportResponseDataAutoteka'
      type: object
    GetPreviewResponseDataAutoteka:
      properties:
        preview:
          $ref: '#/components/schemas/PreviewAutoteka'
      type: object
    GetPreviewResponseBodyAutoteka:
      properties:
        result:
          $ref: '#/components/schemas/GetPreviewResponseDataAutoteka'
      type: object
    TaxiDataAutoteka:
      description: Сведения об использовании в такси
      nullable: true
      properties:
        events:
          description: Список записей об использовании в такси
          items:
            $ref: '#/components/schemas/TaxiDataEventAutoteka'
          type: array
        recaps:
          deprecated: true
          description: Суммарная информация
          items:
            $ref: '#/components/schemas/RecapAutoteka'
          type: array
        requestTime:
          description: Дата запроса к источнику UnixTime
          example: 1566507600
          nullable: true
          type: integer
      required:
      - events
      - recaps
      type: object
    TechInspectionHistoryEvent:
      description: Информация о событии прохождения тех. осмотра
      properties:
        cardNumber:
          description: Номер диагностической карты
          example: 65320071902728
          nullable: true
          type: string
        endDate:
          description: Действителен до
          example: 1566507600
          format: int64
          nullable: true
          type: integer
        mileage:
          description: Пробег
          example: 75000
          format: int64
          nullable: true
          type: integer
        startDate:
          description: Дата техосмотра
          example: 1566507600
          format: int64
          type: integer
      required:
      - startDate
      - endDate
      - mileage
      - cardNumber
      type: object
    internalError:
      properties:
        error:
          properties:
            code:
              description: Код ошибки
              example: 500
              format: int32
              type: integer
            message:
              description: Сообщение об ошибке
              example: Service is temporary unavailable
              type: string
          required:
          - code
          - message
          type: object
      type: object
    RequestReportByPreviewIdAutoteka:
      properties:
        previewId:
          description: Идентификатор превью.
          minimum: 1
          type: integer
      required:
      - previewId
      type: object
    AvitoPriceValuation:
      description: Оценка подержаного автомобиля от Авито
      nullable: true
      properties:
        avgMarketPrice:
          description: Оценка на основе объявлений
          example: 950000
          nullable: true
          type: integer
        avgMileage:
          description: Средний пробег аналогов
          example: 50000
          nullable: true
          type: integer
        avgPriceWithCondition:
          description: Оценка с учетом состояния автомобилей на основе реальных сделок
          example: 936000
          type: integer
        avgYear:
          description: Средний год выпуска аналогов
          example: 2012.9999
          format: float
          nullable: true
          type: number
        imvUrl:
          deprecated: true
          description: Поле больше не заполняется. Ссылка на страницу Авито IMV вида https://www.avito.ru/au-imv-info/2963331288
          example: https://www.avito.ru/au-imv-info/2963331288
          nullable: true
          type: string
        itemsCount:
          description: Количество машин, учтенных в оценке
          example: 121
          nullable: true
          type: integer
        marketNormalPriceRange:
          description: Диапазон "рыночной" оценки данного автомобиля по закрытым сделкам
          nullable: true
          properties:
            max:
              description: Максимальная граница "рыночной" оценки данного автомобиля по закрытым сделкам
              example: 5248900
              type: integer
            min:
              description: Минимальная граница "рыночной" оценки данного автомобиля по закрытым сделкам
              example: 3248900
              type: integer
          required:
          - min
          - max
          type: object
        maxPrice:
          description: Максимальная цена похожих авто на основе объявлений
          example: 1000000
          nullable: true
          type: integer
        minPrice:
          description: Минимальная цена похожих авто на основе объявлений
          example: 800000
          nullable: true
          type: integer
      required:
      - avgPriceWithCondition
      type: object
    ArbitrationCases:
      description: Арбитражные дела
      nullable: true
      properties:
        cases:
          items:
            description: Список арбитражных дел
            properties:
              caseId:
                description: ID дела
                example: c9babcc7-e797-429c-b6e4-xxyyzzd7334a
                type: string
              caseNumber:
                description: Номер дела
                example: А53-30848/2015
                type: string
              caseUrl:
                description: Ссылка на дело на kad.arbitr.ru
                example: https://kad.arbitr.ru/Card/c9babcc7-e797-429c-b6e4-xxyyzzd7334a
                type: string
              contentTypes:
                description: Уточненные типы документа
                items:
                  example: Оставить без изменения определение первой инстанции, а жалобу - без удовлетворения (ст.272 АПК)
                  type: string
                type: array
              court:
                description: Название суда
                example: 15 арбитражный апелляционный суд
                type: string
              fileName:
                description: Название файла
                example: А53-837163-2015__20181221.pdf
                type: string
              fileUrl:
                description: Ссылка для загрузки файла
                example: https://kad.arbitr.ru/PdfDocument/c9babcc7-e797-429c-b6e4-6287b5d7334a/b6e2f927-00ea-4dee-8fca-xxyyzzd7334a/А53-30848-2015__20181221.pdf?download=true
                type: string
              instanceLevel:
                description: Уровень инстанции
                example: 2
                format: int64
                type: integer
              instanceNumber:
                description: Номер инстанции
                example: 15АП-20855/2018
                type: string
              registrationDate:
                description: Дата регистрации документа в формате Unixtime
                example: 1520889000
                format: int64
                type: integer
              type:
                description: Тип документа
                example: Постановление апелляционной инстанции
                type: string
            required:
            - caseId
            - caseUrl
            - registrationDate
            - instanceNumber
            - caseNumber
            - fileName
            - fileUrl
            - instanceLevel
            - court
            - type
            - contentTypes
            type: object
          type: array
      type: object
    RequestPreviewResponseBodyAutoteka:
      properties:
        result:
          $ref: '#/components/schemas/RequestPreviewResponseDataAutoteka'
      type: object
    validatingError:
      properties:
        error:
          properties:
            code:
              description: Код ошибки
              example: 400
              format: int32
              type: integer
            message:
              description: Сообщение об ошибке
              example: Validation error
              type: string
          required:
          - code
          - message
          type: object
      type: object
    OwnersHistoryAutoteka:
      description: Период владения
      properties:
        organisationName:
          description: Название организации, в случае юрлица
          nullable: true
          type: string
        owner:
          deprecated: true
          description: Владелец
          example: Владелец 1
          type: string
        period:
          description: Период владения
          example: Октябрь 2011 - Июнь 2013
          type: string
        region:
          description: Регион владения
          example: г. Москва
          type: string
        title:
          description: Тип владельца текстом
          example: Юридическое лицо
          type: string
        type:
          description: Тип владельца `1` -  физлицо, `2` - юрлицо
          example: 2
          format: int64
          type: integer
      required:
      - owner
      - period
      - region
      - title
      - type
      type: object
    notFoundError:
      properties:
        error:
          properties:
            code:
              description: Код ошибки
              example: 404
              format: int32
              type: integer
            message:
              description: Сообщение об ошибке
              example: Not found
              type: string
          required:
          - code
          - message
          type: object
      type: object
    InsurancePayments:
      description: Сведения о страховых выплатах
      items:
        $ref: '#/components/schemas/InsurancePaymentsItem'
      type: array
    RestrictionsAutoteka:
      description: Ограничения
      properties:
        pledge:
          description: Авто в залоге
          properties:
            history:
              description: История залогов, подключается в отчёт по дополнительному согласованию
              nullable: true
              properties:
                pledges:
                  items:
                    properties:
                      closedAt:
                        description: Дата закрытия залога
                        example: 1520889000
                        format: int64
                        nullable: true
                        type: integer
                      contractEnd:
                        description: Дата окончания действия договора
                        example: 1520889000
                        format: int64
                        nullable: true
                        type: integer
                      contractStart:
                        description: Дата начала действия договора
                        example: 1520889000
                        format: int64
                        nullable: true
                        type: integer
                      notificationId:
                        description: Номер документа
                        type: string
                      organizationName:
                        description: Залогодержатель
                        nullable: true
                        type: string
                    required:
                    - notificationId
                    - contractStart
                    - contractEnd
                    - closedAt
                    - organizationName
                    type: object
                  type: array
              type: object
            pledgeAdditionalData:
              description: Подробная информация
              items:
                properties:
                  data:
                    description: Данные о найденных залогах
                    items:
                      properties:
                        dateFrom:
                          deprecated: true
                          description: С какой даты в залоге в формате Unixtime (значение поле дублируется из корневого объекта)
                          example: 1521089000
                          format: int64
                          nullable: true
                          type: integer
                        dateTo:
                          description: До какого в залоге в формате Unixtime
                          example: 1521089000
                          format: int64
                          type: integer
                        organizationName:
                          deprecated: true
                          description: Наименование залогодержателя (значение поле дублируется из корневого объекта)
                          nullable: true
                          type: string
                      required:
                      - dateFrom
                      - dateTo
                      - organizationName
                      type: object
                    type: array
                  dateFrom:
                    description: С какой даты в залоге в формате Unixtime
                    example: 1521089000
                    format: int64
                    nullable: true
                    type: integer
                  hasPledge:
                    description: наличие залога
                    example: true
                    type: boolean
                  organizationName:
                    description: Наименование залогодержателя
                    nullable: true
                    type: string
                  source:
                    deprecated: true
                    description: источник `nbki`, `fciit`
                    example: nbki
                    type: string
                  updatedAt:
                    description: Дата обновления в формате Unixtime
                    example: 1520889000
                    format: int64
                    type: integer
                required:
                - data
                - source
                - updatedAt
                - hasPledge
                type: object
              type: array
            requestTime:
              description: Дата, на которую данные актуальны
              example: 1520889000
              format: int64
              nullable: true
              type: integer
            status:
              description: Статус блока
              enum:
              - ok
              - warning
              - incomplete
              example: ok
              type: string
            text:
              description: Текстовое описание
              example: Не обнаружены сведения о нахождении в залоге
              type: string
          required:
          - pledgeAdditionalData
          - status
          - text
          - requestTime
          - history
          type: object
        registration:
          description: Ограничения на регистрационные действия
          properties:
            additionalInfo:
              description: Подробная информация если есть ограничения
              items:
                properties:
                  amount:
                    description: Сумма ограничения
                    example: 1234567.89
                    format: float
                    nullable: true
                    type: number
                  data:
                    type: string
                  documentType:
                    description: Тип документа
                    example: Исполнительный лист
                    nullable: true
                    type: string
                  eventDate:
                    description: Дата события
                    example: '2021-11-22'
                    type: string
                  organisationName:
                    description: Название организации
                    example: Судебный пристав
                    type: string
                  reasons:
                    description: Причины ограничения
                    example: 'Документ: 111111...'
                    nullable: true
                    type: string
                  region:
                    description: Регион
                    example: Нижегородская область
                    type: string
                  restrictionName:
                    description: Название ограничения
                    example: Запрет на регистрационные действия
                    type: string
                  source:
                    type: string
                required:
                - data
                - source
                - eventDate
                - restrictionName
                - organisationName
                - region
                type: object
              type: array
            requestTime:
              description: Дата обновления в формате Unixtime
              example: 1520889000
              format: int64
              nullable: true
              type: integer
            status:
              description: Статус блока
              enum:
              - ok
              - warning
              - incomplete
              example: ok
              type: string
            text:
              description: Текстовое описание
              example: Не обнаружены ограничения на регистрационные действия
              type: string
          required:
          - additionalInfo
          - status
          - text
          - requestTime
          type: object
        stealing:
          description: Авто в угоне
          properties:
            additionalInfo:
              description: Подробная информация если авто в угоне
              items:
                properties:
                  data:
                    type: string
                  source:
                    type: string
                required:
                - data
                - source
                type: object
              type: array
            requestTime:
              description: Дата обновления в формате Unixtime
              example: 1520889000
              format: int64
              nullable: true
              type: integer
            status:
              description: Статус блок
              enum:
              - ok
              - warning
              - incomplete
              example: ok
              type: string
            text:
              description: Текстовое описание
              example: Не обнаружены сведения о нахождении в розыске
              type: string
          required:
          - additionalInfo
          - status
          - text
          - requestTime
          type: object
      required:
      - registration
      - stealing
      - pledge
      type: object
    AvitoAuctions:
      nullable: true
      properties:
        auctions:
          description: Авито-аукционы
          items:
            properties:
              date:
                description: Дата события
                example: 2020-01-01T00:00:00Z00:00
                type: string
              deal:
                description: Была ли совершена сделка
                type: boolean
              images:
                items:
                  description: Фотографии машины с аукциона
                  example: https://10.img.avito.st/640x480/4030786210.jpg
                  type: string
                type: array
              mileage:
                description: Пробег автомобиля (км)
                type: integer
              region:
                description: Место события
                example: Краснодарский край, Новороссийск
                type: string
            type: object
          type: array
      type: object
    FineEventAutoteka:
      description: Информация о штрафе
      properties:
        createdAt:
          description: Дата постановления
          example: 1568669460
          type: integer
        dateIncident:
          description: Дата правонарушения
          example: 1568669460
          nullable: true
          type: integer
        koapCode:
          description: Статья КАОП
          example: 12.9ч.6
          type: string
        koapText:
          description: Текст статьи КОАП
          example: Повторное совершение административного правонарушения, предусмотренного частью 3
          type: string
        numPost:
          description: Номер постановления (УИН)
          example: 12345678901234567000
          nullable: true
          type: string
        status:
          description: Неоплачен/Передан ФССП
          example: Передан в ФССП 11 ноября 2019
          type: string
        sum:
          description: Сумма штрафа без скидки
          example: 2000
          type: integer
      required:
      - koapCode
      - koapText
      - status
      - sum
      - createdAt
      - numPost
      - dateIncident
      type: object
    Epts:
      description: Сведения об электронном ПТС
      nullable: true
      properties:
        customsClearance:
          description: Таможенное оформление
          example: Отсутствуют
          type: string
        customsRestrictions:
          description: Таможенные ограничения
          example: Отсутствуют
          type: string
        lastAction:
          description: Последнее регистрационное действие
          example: РФ - Постановка на регистрационный учет (02.06.2021)
          type: string
        number:
          description: Номер ЭПТС
          example: 123456789
          nullable: true
          type: string
        otherRestrictions:
          description: Прочие ограничения
          example: ОТСУТСТВУЮТ
          type: string
        recyclingFee:
          description: Утилизационный сбор
          example: РФ уплачен
          type: string
        status:
          description: Статус ЭПТС
          example: действующий
          type: string
        type:
          description: Тип ЭПТС
          example: Электронный паспорт транспортного средства
          type: string
      required:
      - type
      - status
      - recyclingFee
      - customsClearance
      - customsRestrictions
      - otherRestrictions
      - lastAction
      type: object
    ServiceInfoAutoteka:
      description: Сервисная информация об отчете
      properties:
        reportCompleteStatus:
          description: Информация о завершенности отчета
          properties:
            status:
              description: 'Полный или нет отчет: `incomplete`, `ok`'
              example: incomplete
              type: string
            unavailableSources:
              deprecated: true
              description: Источники по которым не удалось получить данные
              items:
                properties:
                  dataType:
                    description: Тип данных
                    example: ownersHistory
                    type: string
                  source:
                    description: Источник
                    example: ownersHistory
                    type: string
                required:
                - dataType
                - source
                type: object
              type: array
          required:
          - status
          - unavailableSources
          type: object
      required:
      - reportCompleteStatus
      type: object
    GetReportAsync:
      properties:
        result:
          $ref: '#/components/schemas/GetReportResultAsync'
      type: object
    ReportWithoutDataAutoteka:
      properties:
        reportId:
          description: Идентификатор сгенерированного отчета, по которому его можно получить
          example: 1
          format: int64
          minimum: 1
          type: integer
        status:
          description: Текущий статус генерации отчета
          enum:
          - success
          - processing
          example: processing
          type: string
      required:
      - reportId
      - status
      type: object
    Insights:
      nullable: true
      properties:
        isImported:
          description: Флаг ввоза авто из-за рубежа
          example: true
          nullable: true
          type: boolean
      required:
      - isImported
      type: object
    TechInspectionHistory:
      description: Сведения о технических осмотрах
      nullable: true
      properties:
        events:
          description: Список записей о прохождении тех. осмотра
          items:
            $ref: '#/components/schemas/TechInspectionHistoryEvent'
          type: array
      required:
      - events
      type: object
    DiagnosticsEvent:
      description: События проведения диагностического осмотра (ДО)
      properties:
        city:
          description: Город проведения ДО
          example: Тверь
          type: string
        condition:
          description: Описание состояния автомобиля
          properties:
            issues:
              description: Описание состояния автомобиля
              example: Грязный салон
              items:
                type: string
              type: array
          required:
          - issues
          type: object
        createdAt:
          description: Дата проведения ДО UnixTime
          example: 1489104000
          format: int64
          type: integer
        damages:
          description: Массив событий с найденными на ДО повреждениями а/м
          items:
            $ref: '#/components/schemas/DiagnosticsEventDamage'
          type: array
        dealerName:
          description: Название компании проводившей ДО
          example: AutoPrice
          type: string
        mileage:
          description: Пробег на момент ДО
          example: 114500
          format: int64
          type: integer
        photos:
          description: Массив фотографий с ДО
          items:
            $ref: '#/components/schemas/DiagnosticsEventPhoto'
          type: array
        region:
          description: Область проведения ДО
          example: Тверская область
          type: string
      required:
      - dealerName
      - city
      - region
      - mileage
      - createdAt
      - condition
      - photos
      - damages
      type: object
    forbiddenError:
      properties:
        error:
          properties:
            code:
              description: Код ошибки
              example: 403
              format: int32
              type: integer
            message:
              description: Сообщение об ошибке
              example: Forbidden
              type: string
          required:
          - code
          - message
          type: object
      type: object
    AutotekaTeaser:
      deprecated: true
      description: Для получения теперь тизера нужно использовать [отдельный сервис](#operation/postTeaser)
      nullable: true
      properties:
        hasRegularService:
          description: Регулярное ТО
          type: boolean
        isOneOwner:
          description: У авто один владелец
          type: boolean
        isRealMileage:
          description: Реальный пробег
          type: boolean
        withoutCrashes:
          description: Без ДТП
          type: boolean
      required:
      - isOneOwner
      - withoutCrashes
      - hasRegularService
      - isRealMileage
      type: object
    OtherAutoteka:
      deprecated: true
      description: Дополнительная информация
      properties:
        status:
          deprecated: true
          description: Статус `ok`, `warning`
          example: ok
          type: string
        text:
          deprecated: true
          description: Текстовое описание
          example: Оригинальный ПТС (Не обнаружены сведения о выдаче дубликата ПТС)
          type: string
        type:
          deprecated: true
          description: тип события `originalPTS`
          example: originalPTS
          type: string
      required:
      - status
      - text
      - type
      type: object
    VehicleSpecifications:
      deprecated: true
      description: Спецификация автомобиля, поле не поддерживается, актуальная информация в блоке Equpment
      nullable: true
      properties:
        events:
          deprecated: true
          description: Список параметров спецификации
          items:
            $ref: '#/components/schemas/VehicleSpecificationsParam'
          type: array
        requestTime:
          deprecated: true
          description: Дата запроса к источнику UnixTime
          example: 1566507600
          type: integer
      required:
      - events
      - requestTime
      type: object
    InsurancePaymentsItem:
      properties:
        companyName:
          description: Компания
          example: АЛЬФАСТРАХОВАНИЕ
          nullable: true
          type: string
        isCourtPayment:
          description: Cудебная выплата
          example: true
          nullable: true
          type: boolean
        isForVictim:
          description: Флаг, что владелец авто получил этот платеж (для виновника будет false)
          example: true
          type: boolean
        month:
          description: Месяц
          nullable: true
          type: integer
        paymentAmount:
          description: Сумма выплаты
          example: '20600'
          format: float
          type: number
        year:
          description: Год выплаты
          example: 2017
          type: integer
      required:
      - paymentAmount
      - year
      - companyName
      - isForVictim
      type: object
    Report_autoteka_async:
      properties:
        data:
          $ref: '#/components/schemas/ReportDataAutoteka'
        pdfLink:
          description: Ссылка на скачивание pdf версии отчета
          example: https://autoteka.ru/report/pdf/uuid/2b88036a-c371-4d6b-a078-3966dab04957?vin=XTA000FY9H201S000
          format: uri
          type: string
        reportId:
          description: Идентификатор сгенерированного отчета, по которому его можно получить
          example: 1
          format: int64
          minimum: 1
          type: integer
        status:
          description: Текущий статус генерации отчет
          enum:
          - success
          - processing
          example: processing
          type: string
        webLink:
          description: Ссылка на web версию отчета
          example: https://autoteka.ru/report/web/uuid/2b88036a-c371-4d6b-a0ce-3966dab04966
          format: uri
          type: string
      required:
      - reportId
      - status
      type: object
    GetReportResultAsync:
      properties:
        report:
          $ref: '#/components/schemas/Report_autoteka_async'
      type: object
    RequestReportByVehicleIdAutoteka:
      properties:
        vehicleId:
          description: Идентификатор запрашиваемого авто (vin/frame).
          minLength: 1
          type: string
      required:
      - vehicleId
      type: object
    RecallItem:
      properties:
        complaintCode:
          description: Код отзывной
          example: '19295382'
          nullable: true
          type: string
        completeInfo:
          nullable: true
          properties:
            city:
              description: Город
              example: Архангельск
              nullable: true
              type: string
            completedAt:
              description: Дата прохождения отзывной кампании
              example: '2018-12-18'
              type: string
            dealerName:
              description: Дилер, у которого была пройдена отзывная кампания
              example: CENTR Arkhangelsk LLC
              nullable: true
              type: string
            mileage:
              description: Пробег на момент прохождения отзывной кампании
              example: 141746
              format: int64
              nullable: true
              type: integer
            region:
              description: Регион
              example: Архангельская область
              nullable: true
              type: string
          type: object
        completenessStatus:
          description: Флаг прохождения отзывной кампании
          example: true
          type: boolean
        createdAt:
          description: Дата создания
          example: '2019-03-11 00:00:00'
          type: string
        link:
          description: Ссылка
          example: https://www.gost.ru//newsRST/redirect/news/1/5775
          nullable: true
          type: string
        organization:
          description: Организация
          example: ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ФОЛЬКСВАГЕН ГРУП РУС"
          type: string
        reason:
          description: Причина
          example: Причиной отзыва транспортных средств является возможный отказ дополнительного нагревательного элемента климатической установки из-за недостаточной фиксации разъемного соединения. Как следствие, это может привести к термическим повреждениям.
          type: string
        recommendation:
          description: Рекомендация
          example: На транспортных средствах будет выполнена проверка разъёма нагревательного элемента.
          nullable: true
          type: string
      required:
      - createdAt
      - organization
      - reason
      - recommendation
      - link
      type: object
    Leasing:
      nullable: true
      properties:
        contracts:
          description: Лизинг контракты
          items:
            properties:
              contractDate:
                description: Дата заключения договора
                nullable: true
                type: integer
              endDate:
                description: Дата окончания финансовой аренды (лизинга)
                nullable: true
                type: integer
              lesseeName:
                description: Название арендатора
                nullable: true
                type: string
              lessorName:
                description: Название арендодателя
                nullable: true
                type: string
              startDate:
                description: Дата начала финансовой аренды (лизинга)
                nullable: true
                type: integer
            type: object
          type: array
      type: object
    MaxPosterValuationLiquidityRating:
      nullable: true
      properties:
        attentionCode:
          description: Код уровня внимания
          example: level-2
          type: string
        rating:
          description: Рейтинг ликвидности
          example: B
          type: string
        ratingValue:
          description: Значение ликвидности (1-15)
          example: 11
          type: integer
      required:
      - rating
      - ratingValue
      - attentionCode
      type: object
    CarImageAutoteka:
      description: Титульное фото с авито
      properties:
        originalUrl:
          description: Оригинальное фото загруженное на avito.ru
          example: https://69.img.avito.st/1280x960/3897113869.jpg
          type: string
        previewUrl:
          description: Изображение авто 640x480
          example: https://69.img.avito.st/640x480/3897113869.jpg
          type: string
      required:
      - originalUrl
      - previewUrl
      type: object
    GetReport:
      properties:
        result:
          $ref: '#/components/schemas/GetReportResult'
      type: object
    RecapAutoteka:
      properties:
        description:
          nullable: true
          type: string
        label:
          example: Обнаружено 5 неоплаченных штрафов
          type: string
        status:
          example: caution
          type: string
        type:
          example: fines
          type: string
      required:
      - description
      - label
      - status
      - type
      type: object
    PreviewIdOnlyAutoteka:
      properties:
        previewId:
          description: preview Id
          example: 1
          format: int64
          minimum: 1
          type: integer
      required:
      - previewId
      type: object
    CarsharingDataEventAutoteka:
      description: Информация об использовании ТС в каршеринге
      properties:
        company:
          description: Компания эксплуатант ТС
          example: OOO Вектор
          type: string
        inaccurateData:
          description: Автомобиль мог не использоваться в каршеринге. Такое возможно, если компания оказывает услуги лизинга помимо каршеринга.
          example: false
          type: boolean
      required:
      - company
      - inaccurateData
      type: object
    RequestPreviewResponseDataAutoteka:
      properties:
        preview:
          $ref: '#/components/schemas/PreviewIdOnlyAutoteka'
      type: object
    EventsAutoteka:
      deprecated: true
      description: Блок с предупреждениями об авто
      properties:
        avitoOnSale:
          description: Находится ли в данный момент в продаже на Авито
          properties:
            additionalInfo:
              description: Доп. информация по объявлению
              properties:
                date:
                  description: Дата последнего обновления
                  format: int64
                  type: integer
                price:
                  description: Цена
                  format: int64
                  type: integer
                title:
                  description: Заголовк объявления
                  type: string
                url:
                  description: Ссылка на объявление
                  type: string
              required:
              - date
              - price
              - title
              - url
              type: object
            description:
              description: Текстовое описание
              example: Авто в продаже
              type: string
            type:
              description: статус события `caution`, `ok`, `warning`
              example: ok
              type: string
            value:
              description: true - находится, false - не находится
              example: true
              type: boolean
          required:
          - additionalInfo
          - type
          - value
          - description
          type: object
        bodyRepair:
          description: наличие кузовных ремонтов
          properties:
            description:
              description: Текстовое описание
              example: 1 кузовной ремонт
              type: string
            type:
              description: статус события `caution`, `ok`, `warning`
              example: caution
              type: string
            value:
              description: есть или нет кузовные ремонты
              example: true
              type: boolean
          required:
          - description
          - type
          - value
          type: object
        crashes:
          description: Наличие ДТП
          properties:
            description:
              description: Текстовое описание
              example: 3 ДТП
              type: string
            type:
              description: статус события `caution`, `ok`, `warning`
              example: warning
              type: string
            value:
              description: Наличие ДТП
              example: true
              type: boolean
          required:
          - description
          - type
          - value
          type: object
        dealerDataAvailable:
          description: Наличие диллерских данных
          properties:
            description:
              description: Текстовое описание
              example: Нет данных от дилера
              type: string
            type:
              description: статус события `caution`, `ok`, `warning`
              example: ok
              type: string
            value:
              description: true - в отчете есть данные дилера, false - данных дилера нет
              example: true
              type: boolean
          required:
          - description
          - type
          - value
          type: object
        firstSellDate:
          description: Дата первой продажи
          properties:
            type:
              description: статус события `caution`, `ok`, `warning`
              example: ok
              type: string
            value:
              description: дата первой продажи
              example: '2020-01-01'
              type: string
          required:
          - type
          - value
          type: object
        lastMileageRecord:
          description: Последний зафиксированный пробег
          properties:
            description:
              description: Текстовое описание
              example: Пробег 105 125 км
              type: string
            type:
              description: статус события `caution`, `ok`, `warning`
              example: warning
              type: string
            value:
              description: значение пробега в километрах
              example: 105125
              format: int64
              type: integer
          required:
          - description
          - type
          - value
          type: object
        owners:
          description: Количество владельцев
          properties:
            description:
              description: Количество владельце
              example: 3 владельца
              type: string
            type:
              description: статус события `caution`, `ok`, `warning`
              example: ok
              type: string
            value:
              description: Количество владельце
              example: 3
              format: int64
              type: integer
          required:
          - description
          - type
          - value
          type: object
        pledge:
          description: Наличие залогов
          properties:
            description:
              description: Текстовое описание
              example: Залоги не обнаружены
              type: string
            type:
              description: статус события `caution`, `ok`, `warning`
              example: caution
              type: string
            value:
              description: true - залог есть, false - залогов нет
              example: false
              type: boolean
          required:
          - description
          - type
          - value
          type: object
        publicPerson:
          description: Владелец частное или юридическое лицо
          properties:
            description:
              description: Текстовое описание
              example: Регистрация на юрлицо
              type: string
            type:
              description: статус события `caution`, `ok`, `warning`
              example: ok
              type: string
            value:
              description: владелец true - юрлицо, false -  физлицо
              example: true
              type: boolean
          required:
          - description
          - type
          - value
          type: object
      required:
      - crashes
      - bodyRepair
      - publicPerson
      - owners
      - dealerDataAvailable
      - lastMileageRecord
      - pledge
      - avitoOnSale
      - firstSellDate
      type: object
    RequestByVinAutoteka:
      properties:
        vin:
          description: VIN или номер кузова запрашиваемого авто.
          type: string
      required:
      - vin
      type: object
    MaxPosterPriceValuation:
      deprecated: true
      description: Оценка автомобиля от MaxPoster. Поле не поддерживается, актуальная структура AvitoPriceValuation
      nullable: true
      properties:
        analyticByActualSales:
          description: Аналитика стоимости на основе текущих размещений на рынке
          nullable: true
          properties:
            avgPriceWithCorrection:
              description: Средняя цена по рынку с учетом пробега и региона продажи
              example: 294500
              type: integer
            maxPriceWithCorrection:
              description: Максимальная цена по рынку с учетом пробега и региона продажи
              example: 2945
              type: integer
            minPriceWithCorrection:
              description: Минимальная цена по рынку с учетом пробега и региона продажи
              example: 2945
              type: integer
            pricePosition:
              description: Позиция оцениваемого ТС по цене среди похожих на рынке
              example: 2945
              type: integer
          required:
          - avgPriceWithCorrection
          - minPriceWithCorrection
          - maxPriceWithCorrection
          - pricePosition
          type: object
        analyticByCompletedSales:
          description: Аналитика стоимости на основе реальных сделок
          properties:
            avgDaysInSale:
              deprecated: true
              description: Среднее количество дней продажи
              example: 30
              type: integer
            avgMileage:
              deprecated: true
              description: Средний пробег
              example: 98326
              type: integer
            avgPrice:
              deprecated: true
              description: Средняя цена
              example: 1001000
              type: integer
            avgPriceWithCorrection:
              description: ПЦП Maxposter (Прогнозная цена продажи с учетом состояния автомобиля)
              example: 936000
              type: integer
            avgYear:
              deprecated: true
              description: Средний год производства
              example: 2012.9777777777779
              format: float
              type: number
            maxPrice:
              deprecated: true
              description: Максимальная цена
              example: 1295000
              type: integer
            maxPriceWithCorrection:
              deprecated: true
              description: Максимальная цена продажи с корректировкой
              example: 1048000
              type: integer
            maxPurchasePrice:
              deprecated: true
              description: Максимальная рекомендуемая закупочная цена
              nullable: true
              type: integer
            minPrice:
              deprecated: true
              description: Минимальная цена
              example: 730000
              type: integer
            minPriceWithCorrection:
              deprecated: true
              description: Минимальная цена продажи с корректировкой
              example: 834000
              type: integer
            minPurchasePrice:
              deprecated: true
              description: Минимальная рекомендуемая закупочная цена
              nullable: true
              type: integer
            pricePosition:
              deprecated: true
              description: Позиция оцениваемого ТС по цене
              example: 1
              type: integer
            recommendedPurchasePrice:
              deprecated: true
              description: Рекомендуемая закупочная цена
              nullable: true
              type: integer
            usefulSalesTotal:
              description: Число продаж, участвующих в оценке
              example: 45
              type: integer
          required:
          - usefulSalesTotal
          - minPrice
          - maxPrice
          - avgPrice
          - avgMileage
          - avgYear
          - avgPriceWithCorrection
          - minPriceWithCorrection
          - maxPriceWithCorrection
          - pricePosition
          - avgDaysInSale
          - recommendedPurchasePrice
          - minPurchasePrice
          - maxPurchasePrice
          type: object
        liquidity:
          description: Ликвидность и другие показатели оборачиваемости автомобиля
          properties:
            accidentRating:
              $ref: '#/components/schemas/MaxPosterValuationLiquidityRating'
            actualMarketSales:
              description: Количество авто на рынке
              example: 20
              nullable: true
              type: integer
            averageDaysInSale:
              description: Среднее количество дней в продаже
              example: 129155
              type: integer
            averageMarketMileage:
              description: Средний пробег аналогичных ТС
              example: 28
              type: integer
            completedMarketSales:
              description: Количество проданных на рынке
              example: 100
              nullable: true
              type: integer
            mileageRating:
              $ref: '#/components/schemas/MaxPosterValuationLiquidityRating'
            popularityRating:
              $ref: '#/components/schemas/MaxPosterValuationLiquidityRating'
            totalMarketSales:
              description: Количество уникальных предложений за 60 дней
              example: 2945
              type: integer
            totalRating:
              $ref: '#/components/schemas/MaxPosterValuationLiquidityRating'
            turnoverRating:
              $ref: '#/components/schemas/MaxPosterValuationLiquidityRating'
          required:
          - totalRating
          - turnoverRating
          - popularityRating
          - mileageRating
          - accidentRating
          - totalMarketSales
          - averageMarketMileage
          - averageDaysInSale
          type: object
      required:
      - analyticByCompletedSales
      - liquidity
      type: object
    FinesAutoteka:
      description: Информация о штрафах
      nullable: true
      properties:
        events:
          description: Список штрафов
          items:
            $ref: '#/components/schemas/FineEventAutoteka'
          type: array
        recaps:
          deprecated: true
          description: Суммарная информация
          items:
            $ref: '#/components/schemas/RecapAutoteka'
          type: array
        requestTime:
          description: Дата запроса к источнику UnixTime
          example: 1566507600
          nullable: true
          type: integer
      required:
      - recaps
      - events
      type: object
    GetReportResult:
      properties:
        report:
          $ref: '#/components/schemas/Report_autoteka'
      type: object
    tooManyRequestsError:
      properties:
        error:
          properties:
            code:
              description: Код ошибки
              example: 429
              format: int32
              type: integer
          required:
          - code
          type: object
      type: object
    Recalls:
      description: Отзывные кампании
      items:
        $ref: '#/components/schemas/RecallItem'
      type: array
    PreviewAutoteka:
      properties:
        data:
          $ref: '#/components/schemas/PreviewDataAutoteka'
        previewId:
          description: Id возвращаемый в методе /v1/request-preview/
          example: 1
          format: int64
          minimum: 1
          type: integer
        regNumber:
          description: Государственный номер запрашиваемого авто
          example: X777XX777
          type: string
        status:
          description: текущий статус готовности превью
          enum:
          - success
          - processing
          - notFound
          example: processing
          type: string
        vin:
          description: VIN номер запрашиваемого авто
          example: XUUNF487JA0007223
          type: string
      required:
      - previewId
      type: object
    DiagnosticsEventDamage:
      description: Описание повреждения, найденного на ДО
      properties:
        degree:
          description: Степень повреждения
          example: Значительное
          nullable: true
          type: string
        part:
          description: З/ч с повреждением
          example: Порог в зоне передней левой двери
          type: string
        photoUrl:
          description: Ссылка на фото с повреждением
          example: http://s32.gcdn.co/?file=201703102F1799506
          nullable: true
          type: string
        type:
          description: Описание повреждения
          example: Накладка порога повреждена-отсутствует
          type: string
      required:
      - part
      - type
      - degree
      - photoUrl
      type: object
    ExtendedSpecifications:
      description: Нормализованная спецификация автомобиля.
      nullable: true
      properties:
        events:
          description: Список параметров. Количество обозначенных параметров может быть различным в разных отчетах.
          items:
            $ref: '#/components/schemas/ExtendedSpecificationsParam'
          type: array
        requestTime:
          description: Дата запроса к источнику UnixTime
          example: 1566507600
          type: integer
      required:
      - events
      - requestTime
      type: object
    ReportDataAutoteka:
      description: Представление отчета для партнерского API
      nullable: true
      properties:
        accidents:
          properties:
            crashesHistory:
              description: Подробная детализация ДТП
              items:
                $ref: '#/components/schemas/CrashesHistoryAutoteka'
              type: array
            requestTime:
              description: Дата, на которую данные актуальны
              example: 1520889000
              format: int64
              nullable: true
              type: integer
          required:
          - requestTime
          - crashesHistory
          type: object
        arbitrationCases:
          $ref: '#/components/schemas/ArbitrationCases'
        avitoAuctions:
          $ref: '#/components/schemas/AvitoAuctions'
        avitoItems:
          description: История публикации на Авито
          items:
            $ref: '#/components/schemas/AvitoItemAutoteka'
          type: array
        avitoPriceValuation:
          $ref: '#/components/schemas/AvitoPriceValuation'
        carImage:
          $ref: '#/components/schemas/CarImageAutoteka'
        carsharingData:
          $ref: '#/components/schemas/CarsharingDataAutoteka'
        crashesHistory:
          deprecated: true
          description: Подробная детализация ДТП, блок больше не поддерживается, рекомендуем смотреть блок accidents
          items:
            $ref: '#/components/schemas/CrashesHistoryAutoteka'
          type: array
        customs:
          $ref: '#/components/schemas/Customs'
        diagnostics:
          $ref: '#/components/schemas/Diagnostics'
        epts:
          $ref: '#/components/schemas/Epts'
        equipment:
          $ref: '#/components/schemas/EquipmentAutoteka'
        events:
          $ref: '#/components/schemas/EventsAutoteka'
        eventsOthersHistory:
          description: История владения, включающяя все события произошедшие с авто
          items:
            $ref: '#/components/schemas/EventsOthersHistoryAutoteka'
          type: array
        extendedSpecifications:
          $ref: '#/components/schemas/ExtendedSpecifications'
        externalPlacements:
          description: Размещения на других площадках
          items:
            $ref: '#/components/schemas/ExternalPlacementAutoteka'
          nullable: true
          type: array
        fines:
          $ref: '#/components/schemas/FinesAutoteka'
        head:
          $ref: '#/components/schemas/HeadAutoteka'
        insights:
          $ref: '#/components/schemas/Insights'
        insurancePayments:
          $ref: '#/components/schemas/InsurancePayments'
        insurancePolicies:
          $ref: '#/components/schemas/InsurancePoliciesAutoteka'
        leasing:
          $ref: '#/components/schemas/Leasing'
        maxPosterPriceValuation:
          $ref: '#/components/schemas/MaxPosterPriceValuation'
        other:
          deprecated: true
          description: Прочее
          items:
            $ref: '#/components/schemas/OtherAutoteka'
          type: array
        ownersHistory:
          deprecated: true
          description: История регистраций авто, блок не поддерживается, рекомендуем использовать registrationActions
          items:
            $ref: '#/components/schemas/OwnersHistoryAutoteka'
          type: array
        paidFines:
          $ref: '#/components/schemas/FinesAutoteka'
        priceStat:
          $ref: '#/components/schemas/PriceStatAutoteka'
        priceStatForNewCars:
          $ref: '#/components/schemas/PriceStatForNewCarsAutoteka'
        ptsData:
          $ref: '#/components/schemas/PtsData'
        ptsType:
          description: Тип ПТС
          example: Бумажный оригинал
          nullable: true
          type: string
        recalls:
          $ref: '#/components/schemas/Recalls'
        registrationActions:
          description: История регистраций авто
          properties:
            ownersHistory:
              items:
                $ref: '#/components/schemas/OwnersHistoryAutoteka'
              type: array
            requestTime:
              description: Дата, на которую данные актуальны
              example: 1520889000
              format: int64
              nullable: true
              type: integer
          required:
          - ownersHistory
          - requestTime
          type: object
        restrictions:
          $ref: '#/components/schemas/RestrictionsAutoteka'
        salvageCarAuctionRecords:
          $ref: '#/components/schemas/SalvageCarAuctionRecords'
        serviceInfo:
          $ref: '#/components/schemas/ServiceInfoAutoteka'
        taxiData:
          $ref: '#/components/schemas/TaxiDataAutoteka'
        teaser:
          $ref: '#/components/schemas/AutotekaTeaser'
        techInspectionHistory:
          $ref: '#/components/schemas/TechInspectionHistory'
        vehicleSpecifications:
          $ref: '#/components/schemas/VehicleSpecifications'
      required:
      - head
      - carImage
      - events
      - equipment
      - ownersHistory
      - registrationActions
      - restrictions
      - other
      - avitoItems
      - eventsOthersHistory
      - crashesHistory
      - accidents
      - techInspectionHistory
      - customs
      - serviceInfo
      - diagnostics
      - ptsData
      - recalls
      - insurancePayments
      - salvageCarAuctionRecords
      - arbitrationCases
      - leasing
      - avitoAuctions
      type: object
    PriceStatAutoteka:
      deprecated: true
      description: Поле не поддерживается, актуальная структура AvitoPriceValuation
      nullable: true
      properties:
        recaps:
          deprecated: true
          description: Суммарная информация
          items:
            $ref: '#/components/schemas/RecapAutoteka'
          type: array
        report:
          $ref: '#/components/schemas/PriceStatReportAutoteka'
        status:
          description: Полный или нет отчет
          enum:
          - incomplete
          - ok
          example: ok
          type: string
        type:
          description: Источник данных
          example: priceStat
          type: string
      required:
      - status
      - type
      - recaps
      - report
      type: object
    Customs:
      description: Сведения о таможенном оформлении
      nullable: true
      properties:
        color:
          description: Цвет
          example: Красный
          nullable: true
          type: string
        company:
          description: Компания
          nullable: true
          type: string
        createdAt:
          description: Дата растаможки
          example: 1566507600
          format: int64
          nullable: true
          type: integer
        ecology:
          description: Эко-стандарт
          example: Евро-4
          nullable: true
          type: string
        fromCountry:
          description: Страна вывоза
          example: 65320071902728
          nullable: true
          type: string
        mileage:
          description: Пробег
          example: 10000
          format: int64
          nullable: true
          type: integer
        owner:
          description: Получатель
          example: Юридическое лицо
          nullable: true
          type: string
        specification:
          description: Спецификация
          example: Паспорт
          nullable: true
          type: string
        statPrice:
          description: Оценочная стоимость ТС
          example: 1202.5
          format: float
          nullable: true
          type: number
        toCountry:
          description: Страна ввоза
          example: 65320071902728
          nullable: true
          type: string
      required:
      - createdAt
      - color
      - owner
      - ecology
      - mileage
      - toCountry
      - fromCountry
      - statPrice
      - specification
      type: object
    HeadAutoteka:
      description: Блок основных данных об авто
      properties:
        brand:
          description: Марка
          enum:
          - AUDI
          - BENTLEY
          - BMW
          - CADILLAC
          - CHERY
          - CHEVROLET
          - CHRYSLER
          - CITROEN
          - DACIA
          - DAEWOO
          - DAF
          - DATSUN
          - DODGE
          - FIAT
          - FORD
          - FREIGHTLINER
          - GAZ
          - GEELY
          - GENESIS
          - GREAT WALL
          - HONDA
          - HYUNDAI
          - Honda
          - INFINITI
          - ISUZU
          - IVECO
          - JEEP
          - Jaguar
          - KAMAZ
          - KIA
          - LADA
          - LEXUS
          - LIFAN
          - Land Rover
          - MAN
          - MAZ
          - MAZDA
          - MERCEDES
          - MERCEDES-BENZ
          - MINI
          - MITSUBISHI
          - NISSAN
          - OPEL
          - PEUGEOT
          - PORSCHE
          - RENAULT
          - ROVER
          - SEAZ
          - SKODA
          - SMART
          - SSANGYONG
          - SUBARU
          - Suzuki
          - TAGAZ
          - TOYOTA
          - UAZ
          - VAZ
          - VOLKSWAGEN
          - VOLVO
          - YAMAHA
          - ZAZ
          type: string
        createdAt:
          description: Время генерации отчета в формате Unix time
          example: 1520889000
          format: int64
          type: integer
        model:
          description: Модель
          example: x5
          type: string
        regNumber:
          description: Государственный номер авто
          example: X777XX777
          nullable: true
          type: string
        regNumbersHistory:
          description: История государственных номеров авто
          items:
            properties:
              number:
                description: Государственный номер авто
                example: X777XX777
                type: string
            required:
            - number
            type: object
          nullable: true
          type: array
        vehicleIdentifierType:
          description: тип идентификатора авто
          enum:
          - vin
          - frame
          - unknown
          type: string
        vin:
          description: VIN
          example: XUUNF487JA0007223
          type: string
        year:
          description: Год выпуска
          example: 2015
          format: int64
          type: integer
      required:
      - brand
      - model
      - year
      - vin
      - createdAt
      type: object
    EventsOthersHistoryAutoteka:
      description: История владения
      properties:
        date:
          description: Дата событи в формате Unixtime
          example: 1370030400
          format: int64
          type: integer
        description:
          description: Подробное описание события
          example: 'Расчет стоимости ремонта: 65 541 RUR <br/> НАДБАВКА ВРЕМЕНИ ОСНОВНЫЕ ОПЕРАЦИИ: <br/>ФАРЫ - ОТРЕГУЛИРОВАТЬ: <br/>БАМПЕР З - ЗАМ  (СНЯТ): <br/>КРЫЛО П ПР1 747 346: Замена<br/>'
          type: string
        event:
          description: Тип события текстом
          example: Расчет стоимости ремонта
          type: string
        mileage:
          description: Пробег зафиксированный во время события
          example: 105125
          format: int64
          type: integer
        operationCodeId:
          description: Код регистрационного действия
          example: 11
          format: int64
          nullable: true
          type: integer
        source:
          description: Источник данных
          example: Audatex
          type: string
        sourceId:
          description: sourceId
          example: 105125
          format: int64
          nullable: true
          type: integer
          x-skip-documentation: true
        type:
          description: Тип события `accident`,`avitoPlacement`,`bodyRepair`,`changeInDocuments`,`customs`,`diagnostic`,`emergencyCommissionerCall`,`externalPlacement`,`inspection`,`recallRecord`,`registration`,`regulation`,`repair`,`repairCalculation`,`salvageCarAuction`,`sell`,`service`,`serviceRequest`,`to`,`tradeInValuations`,`upgrade`
          example: repair
          type: string
      required:
      - date
      - description
      - event
      - mileage
      - source
      - type
      type: object
    PreviewDataAutoteka:
      nullable: true
      properties:
        brand:
          description: Brand
          example: BMW
          type: string
        model:
          description: Model
          example: X5
          type: string
        sellByProSeller:
          description: Если значение поля true, то у продавца есть автомобили, которые размещали на Авито в течение 3 месяцев. Есть шанс, что и эта машина куплена для перепродажи
          example: false
          type: boolean
        year:
          description: Year
          example: 2015
          format: int64
          type: integer
      type: object
    DiagnosticsEventPhoto:
      description: Фотография с диагностического осмотра
      properties:
        name:
          description: Описание фотографии
          example: Кузов справа
          type: string
        url:
          description: Ссылка на фото
          example: http://s32.gcdn.co/?file=201703102F1799506
          type: string
      required:
      - url
      - name
      type: object
    ExternalPlacementAutoteka:
      description: Объявления на другой площадке
      properties:
        city:
          description: Город
          nullable: true
          type: string
        date:
          description: Дата публикации
          example: 05.12.2017
          type: string
        isCrashed:
          description: Битое авто
          type: boolean
        mileage:
          description: Пробег
          format: int64
          nullable: true
          type: integer
        price:
          description: Цена
          format: int64
          nullable: true
          type: integer
        region:
          description: Регион
          nullable: true
          type: string
        url:
          description: Ссылка на размещение
          type: string
      required:
      - date
      - price
      - mileage
      - region
      - city
      - url
      - isCrashed
      type: object
    EquipmentAutoteka:
      description: Комплектация авто
      properties:
        body:
          description: Тип кузова
          properties:
            description:
              enum:
              - Микроавтобус
              - Кабриолет
              - Купе
              - Кроссовер
              - Универсал
              - Минивэн
              - Хэтчбек
              - Внедорожник
              - Пикап
              - Седан
              - Фургон
              - Лимузин
              type: string
            title:
              description: Заголовок
              example: Кузов
              type: string
            value:
              description: Числовое значение
              example: 7
              format: int64
              type: integer
          required:
          - description
          - title
          - value
          type: object
        bodyNumber:
          nullable: true
          properties:
            title:
              description: Номер кузова
              example: Номер кузова
              type: string
            value:
              description: Строковое значение
              type: string
          required:
          - title
          - value
          type: object
        brand:
          description: Бренд
          properties:
            title:
              description: Заголовок
              example: Бренд
              type: string
            value:
              description: Текстовое значение
              enum:
              - AUDI
              - BENTLEY
              - BMW
              - CADILLAC
              - CHERY
              - CHEVROLET
              - CHRYSLER
              - CITROEN
              - DACIA
              - DAEWOO
              - DAF
              - DATSUN
              - DODGE
              - FIAT
              - FORD
              - FREIGHTLINER
              - GAZ
              - GEELY
              - GENESIS
              - GREAT WALL
              - HONDA
              - HYUNDAI
              - Honda
              - INFINITI
              - ISUZU
              - IVECO
              - JEEP
              - Jaguar
              - KAMAZ
              - KIA
              - LADA
              - LEXUS
              - LIFAN
              - Land Rover
              - MAN
              - MAZ
              - MAZDA
              - MERCEDES
              - MERCEDES-BENZ
              - MINI
              - MITSUBISHI
              - NISSAN
              - OPEL
              - PEUGEOT
              - PORSCHE
              - RENAULT
              - ROVER
              - SEAZ
              - SKODA
              - SMART
              - SSANGYONG
              - SUBARU
              - Suzuki
              - TAGAZ
              - TOYOTA
              - UAZ
              - VAZ
              - VOLKSWAGEN
              - VOLVO
              - YAMAHA
              - ZAZ
              example: BMW
              type: string
          required:
          - title
          - value
          type: object
        chasisNumber:
          nullable: true
          properties:
            title:
              description: Номер шасси
              example: Номер шасси
              type: string
            value:
              description: Строковое значение
              type: string
          required:
          - title
          - value
          type: object
        color:
          description: Цвет кузова
          properties:
            description:
              description: Текстовое значение
              example: Синий
              type: string
            title:
              description: Заголовок
              example: Цвет
              type: string
            value:
              description: Текстовое значение
              enum:
              - Бежево-Серый
              - Бежевый
              - Белый
              - Белый Металлик
              - Белый Перламутр
              - Белый Черный
              - Белый-Желтый-Серый
              - Белый/Черный
              - Бордовый
              - Бронзовый
              - Вишнево-Красный
              - Жемчужно-Белый
              - Зеленый
              - Золотисто-Коричневый
              - Золотисто-Охристый
              - Коричневый
              - Красный
              - Мальва
              - Многоцветный (Красный, Чёрный)
              - Мурена (Тёмно-Синий)
              - Оранжево-Красный
              - Оранжево-Черный
              - Оранжевый
              - Оранжевый Перламутровый
              - Оранжевый Черный
              - Перлам-Серебристый
              - Перламутрово-Серебристый
              - Светло-Коричневый
              - Светло-Серый
              - Светло-Синий
              - Серебристо-Белый
              - Серебристый
              - Серо Зеленый
              - Серо-Зеленый
              - Серо-Золотистый
              - Серо-Коричневый
              - Серо-Сине-Зеленый Металлик
              - Серо-Синий
              - Серый
              - Сине-Черный
              - Синий
              - Синий Темный
              - Скат
              - Средний Серо-Зеленый
              - Стальной
              - Темно Серый
              - Темно-Бордовый
              - Темно-Вишневый
              - Темно-Голубой
              - Темно-Зеленый
              - Темно-Серый
              - Темно-Синий
              - Черно-Серый
              - Черный
              - Черный Металлик
              example: Синий
              type: string
          required:
          - description
          - title
          - value
          type: object
        drive:
          deprecated: true
          description: Привод
          properties:
            description:
              description: Текстовое значение
              example: Задний
              type: string
            title:
              description: Заголовок
              example: Привод
              type: string
            value:
              description: Числовое значение
              example: 2
              format: int64
              type: integer
          required:
          - description
          - title
          - value
          type: object
        engineNumber:
          nullable: true
          properties:
            title:
              description: Номер двигателя
              example: Номер двигателя
              type: string
            value:
              description: Строковое значение
              type: string
          required:
          - title
          - value
          type: object
        engineType:
          description: Тип двигателя
          properties:
            title:
              description: Заголовок
              example: Тип двигателя
              type: string
            value:
              description: Текстовое значение
              enum:
              - Бензин
              - Дизель
              - Электро
              - Газ
              - Гибрид
              - Бензиновый на сжиженном газе
              - Бензиновый на сжатом газе
              - Дизельный на сжиженном газе
              - Дизельный на сжатом газе
              - Электро-бензиновый
              - Электро-дизельный
              example: Бензиновый
              type: string
          required:
          - title
          - value
          type: object
        equipment:
          description: Название комплектации
          properties:
            title:
              description: Заголовок
              example: Комплектация
              type: string
            value:
              description: Текстовое значение
              example: Luxure
              type: string
          required:
          - title
          - value
          type: object
        horsepower:
          description: Количество лошадиных сил
          properties:
            description:
              description: Текстовое значение
              example: 265 л.с.
              type: string
            title:
              description: Заголовок
              example: Мощность
              type: string
            value:
              description: Числовое значение
              example: 265
              format: int64
              type: integer
          required:
          - description
          - title
          - value
          type: object
        maxWeight:
          description: Разрешенная максимальная масса
          properties:
            description:
              description: Текстовое значение
              example: 1645 кг
              type: string
            title:
              description: Заголовок
              example: Разрешенная максимальная масса
              type: string
            value:
              description: Числовое значение
              example: 1645
              format: int64
              type: integer
          required:
          - title
          - value
          - description
          type: object
        model:
          description: Модель
          properties:
            title:
              description: Заголовок
              example: Модель
              type: string
            value:
              description: Текстовое значение
              example: Serie 1
              type: string
          required:
          - title
          - value
          type: object
        modification:
          description: Модификация
          properties:
            title:
              description: Заголовок
              example: Модификация
              type: string
            value:
              description: Текстовое значение
              example: Sport
              type: string
          required:
          - title
          - value
          type: object
        netWeight:
          description: Масса без нагрузки
          properties:
            description:
              description: Текстовое значение
              example: 1245 кг
              type: string
            title:
              description: Заголовок
              example: Масса без нагрузки
              type: string
            value:
              description: Числовое значение
              example: 1245
              format: int64
              type: integer
          required:
          - title
          - value
          - description
          type: object
        transmission:
          deprecated: true
          description: Тип КПП
          properties:
            description:
              description: Текстовое значение
              example: Механическая
              type: string
            title:
              description: Заголовок
              example: Трансмиссия
              type: string
            value:
              description: Числовое значение
              example: 1
              format: int64
              type: integer
          required:
          - description
          - title
          - value
          type: object
        vehicle:
          deprecated: true
          description: Тип ТС
          properties:
            description:
              description: Текстовое значение
              example: Легковой
              type: string
            title:
              description: Заголовок
              example: Тип ТС
              type: string
            value:
              description: Числовое значение
              example: 1
              format: int64
              type: integer
          required:
          - description
          - title
          - value
          type: object
        vehicleCategory:
          description: Категория ТС
          properties:
            title:
              description: Заголовок
              example: Категория ТС
              type: string
            value:
              description: Текстовое значение
              enum:
              - A
              - B
              - C
              - D
              - E
              - O
              - M1
              - M1G
              - N1
              example: D
              type: string
          required:
          - title
          - value
          type: object
        vehicleType:
          description: Тип ТС
          properties:
            title:
              description: Заголовок
              example: Категория ТС
              type: string
            value:
              description: Текстовое значение
              enum:
              - Автобусы прочие
              - Грузовой бортовой
              - Грузовой прочий
              - Грузовой фургон
              - Грузовые автомобили бортовые
              - Грузовые автомобили фургоны
[...]
