openapi: 3.2.0
info:
  contact:
    email: partner@autoteka.ru
  title: Автотека Authorization API
  version: '1'
  x-codegen-version: v2
servers:
- url: https://pro.autoteka.ru/
tags:
- name: Authorization
  x-displayName: Авторизация
  x-subdivName: Авторизация
paths:
  /token:
    post:
      description: 'Получение временного ключа для авторизации, пример `curl -L -X POST ''https://pro.autoteka.ru/token/'' -H ''Content-Type: application/x-www-form-urlencoded'' --data-urlencode ''grant_type=client_credentials'' --data-urlencode ''client_id=XXX'' --data-urlencode ''client_secret=YYY''`'
      operationId: getAccessToken
      parameters:
      - description: Тип OAuth flow – строка client_credentials
        in: query
        name: grant_type
        required: true
        schema:
          default: client_credentials
          type: string
      - in: query
        name: client_id
        required: true
        schema:
          type: string
      - in: query
        name: client_secret
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                access_token: value
                expires_in: 3600
                token_type: Bearer
              schema:
                properties:
                  access_token:
                    description: Ключ для временной авторизации в системе
                    type: string
                  expires_in:
                    description: Время жизни ключа в секундах
                    format: int32
                    type: number
                  token_type:
                    description: Тип ключа авторизации
                    type: string
                type: object
          description: Успешный ответ
      summary: Получение access token
      tags:
      - Authorization
components:
  securitySchemes:
    ClientCredentials:
      description: Это API использует OAuth 2 с механизмом client_credentials. Используйте его для доступа к возможностям своей личной учетной записи. [Подробнее](#tag/Access)
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://pro.autoteka.ru/token
      type: oauth2
x-gateway:
  exportTo:
  - gateway: open-api-gateway
