openapi: 3.0.0
info:
  contact:
    email: supportautoload@avito.ru
  description: 'API для взаимодействия с иерархией аккаунтов в Авито

    **Авито API для бизнеса предоставляется согласно [Условиям использования](https://www.avito.ru/legal/pro_tools/public-api).**

    '
  title: Иерархия Аккаунтов Access Authorization API
  version: '1'
servers:
- url: https://api.avito.ru/
tags:
- name: Authorization
  x-displayName: Авторизация
  x-subdivName: Авторизация
paths:
  /token:
    post:
      description: 'Получение временного ключа для авторизации, пример `curl -L -X POST ''https://pro.autoteka.ru/token/'' -H ''Content-Type: application/x-www-form-urlencoded'' --data-urlencode ''grant_type=client_credentials'' --data-urlencode ''client_id=XXX'' --data-urlencode ''client_secret=YYY''`

        '
      operationId: getAccessToken
      parameters:
      - description: Тип OAuth flow – строка client_credentials
        in: query
        name: grant_type
        required: true
        schema:
          default: client_credentials
          type: string
      - in: query
        name: client_id
        required: true
        schema:
          type: string
      - in: query
        name: client_secret
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                access_token: value
                expires_in: 3600
                token_type: Bearer
              schema:
                properties:
                  access_token:
                    description: Ключ для временной авторизации в системе
                    type: string
                  expires_in:
                    description: Время жизни ключа в секундах
                    format: int32
                    type: number
                  token_type:
                    description: Тип ключа авторизации
                    type: string
                type: object
          description: Успешный ответ
      summary: 'Получение access token

        '
      tags:
      - Authorization
components:
  securitySchemes:
    AuthorizationCode:
      description: Это API использует OAuth 2 с механизмом authorization_code. Используйте его для доступа к данным других пользователей при разработке стороннего приложения. [Подробнее](/api-catalog/auth/documentation#tag/ApplicationAccess)
      flows:
        authorizationCode:
          authorizationUrl: https://avito.ru/oauth
          scopes:
            ah:access: Взаимодействие с иерархией аккаунтов
          tokenUrl: https://api.avito.ru/token
      type: oauth2
    ClientCredentials:
      description: Это API использует OAuth 2 с механизмом client_credentials. Используйте его для доступа к возможностям своей личной учетной записи. [Подробнее](#tag/Access)
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://api.avito.ru/token
      type: oauth2
