openapi: 3.2.0
info:
  contact:
    email: partner@autoteka.ru
  title: Автотека Risks Assessment API
  version: '1'
  x-codegen-version: v2
servers:
- url: https://pro.autoteka.ru/
tags:
- name: RisksAssessment
  x-displayName: Оценка рисков
  x-subdivName: Оценка рисков
paths:
  /autoteka/v1/scoring/by-vehicle-id:
    post:
      description: 'Метод для запроса скоринга рисков по идентификатору авто (vin/frame). Возвращает идентификатор, по которому скоринг можно получить в методе для получения скоринга рисков по его идентификатору. При запросе происходит списание доступных проверок.


        Чтобы подключить эту возможность, обратитесь к менеджеру Автотеки. Обратите внимание, что для её подключения надо завести отдельную учётную запись Автотеки.'
      operationId: scoringByVehicleId
      parameters:
      - $ref: '#/components/parameters/authHeader'
      requestBody:
        content:
          application/json:
            example:
              vehicleId: XTA210990Y2766111
            schema:
              $ref: '#/components/schemas/RequestReportByVehicleIdAutoteka'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateScoringResponseBodyAutoteka'
          description: Успешный ответ
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Ошибка валидации входных параметров
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Операцию невозможно выполнить
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
          description: Информация не найдена
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tooManyRequestsError'
          description: Превышено допустимое количество запросов
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalError'
          description: Информация об ошибке
      security:
      - ClientCredentials: []
      summary: Скоринг рисков по идентификатору авто (vin/frame)
      tags:
      - RisksAssessment
      x-trailing-slash: true
  /autoteka/v1/scoring/{scoring_id}:
    parameters:
    - $ref: '#/components/parameters/authHeader'
    - description: Идентификатор скоринга.
      in: path
      name: scoring_id
      required: true
      schema:
        minimum: 1
        type: integer
    get:
      description: 'Получение скоринга рисков по его идентификатору, полученному из запроса на создание скоринга.


        Чтобы подключить эту возможность, обратитесь к менеджеру Автотеки. Обратите внимание, что для её подключения надо завести отдельную учётную запись Автотеки.'
      operationId: scoringGetById
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetScoring'
          description: Успешный ответ
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
          description: Ошибка валидации входных параметров
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
          description: Операцию невозможно выполнить
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
          description: Отчет не найден
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalError'
          description: Информация об ошибке
      security:
      - ClientCredentials: []
      summary: Получение скоринга рисков по его ID
      tags:
      - RisksAssessment
      x-trailing-slash: true
components:
  schemas:
    ScoringNormalizedValue:
      description: Нормализованное значение
      properties:
        value:
          type: string
        valueId:
          description: Идентификатор значения из каталога Авито
          minimum: 1
          type:
          - integer
          - 'null'
      required:
      - value
      - valueId
      type:
      - object
      - 'null'
    ScoringDataAutoteka:
      description: Представление скоринга для партнерского API
      properties:
        accidents:
          $ref: '#/components/schemas/ScoringAccidents'
        carsharing:
          description: Каршеринг
          properties:
            relevanceDate:
              description: Дата актуальности данных
              example: 1699882792
              format: int64
              type: integer
            value:
              description: Признак, что использовалось в каршеринге
              example: true
              type: boolean
          required:
          - relevanceDate
          - value
          type:
          - object
          - 'null'
        epts:
          description: ЭПТС
          properties:
            relevanceDate:
              description: Дата актуальности данных
              example: 1699882792
              format: int64
              type: integer
            status:
              description: Статус ЭПТС
              example: Действующий
              type: string
          required:
          - relevanceDate
          - status
          type:
          - object
          - 'null'
        import:
          description: Ввоз из-за рубежа
          properties:
            company:
              description: Получатель
              example: ООО Авто
              type:
              - string
              - 'null'
            fromCountry:
              description: Страна вывоза
              example: Япония
              type:
              - string
              - 'null'
            importDate:
              description: Дата прохождения таможни
              example: 1641053779
              format: int64
              type:
              - integer
              - 'null'
            ownerType:
              description: Тип получателя
              enum:
              - unknown
              - company
              - person
              example: company
              type:
              - string
              - 'null'
            relevanceDate:
              description: Дата актуальности данных
              example: 1699882792
              format: int64
              type: integer
            value:
              description: Признак, что авто было ввезено не новым
              example: true
              type: boolean
          required:
          - relevanceDate
          - value
          type:
          - object
          - 'null'
        leasing:
          description: Лизинг
          properties:
            relevanceDate:
              description: Дата актуальности данных
              example: 1699882792
              format: int64
              type: integer
            value:
              description: Признак, что авто находится в лизинге
              example: true
              type: boolean
          required:
          - relevanceDate
          - value
          type:
          - object
          - 'null'
        placements:
          $ref: '#/components/schemas/ScoringPlacements'
        pledges:
          description: Залоги
          properties:
            relevanceDate:
              description: Дата актуальности данных
              example: 1699882792
              format: int64
              type: integer
            value:
              description: Признак наличия залогов
              example: true
              type: boolean
          required:
          - relevanceDate
          - value
          type:
          - object
          - 'null'
        priceEvaluation:
          description: Оценка автомобиля
          properties:
            avgMarketPrice:
              description: Средняя цена по рынку
              example: 950000
              type:
              - integer
              - 'null'
            avgMileage:
              description: Средний пробег аналогов
              example: 50000
              type:
              - integer
              - 'null'
            avgPriceWithCondition:
              description: Средняя цена с учетом состояния автомобиля
              example: 936000
              type:
              - integer
              - 'null'
            avgYear:
              description: Средний год выпуска аналогов
              example: 2012.9999
              format: float
              type:
              - number
              - 'null'
            imvUrl:
              description: Ссылка на страницу Авито IMV вида https://www.avito.ru/au-imv-info/2963331288
              example: https://www.avito.ru/au-imv-info/2963331288
              type:
              - string
              - 'null'
            itemsCount:
              description: Количество машин, учтенных в оценке
              example: 121
              type:
              - integer
              - 'null'
            maxPrice:
              description: Максимальная граница цены похожих автомобилей по совершенным сделкам
              example: 1000000
              type:
              - integer
              - 'null'
            minPrice:
              description: Минимальная граница цены похожих автомобилей по совершенным сделкам
              example: 800000
              type:
              - integer
              - 'null'
            relevanceDate:
              description: Дата актуальности данных
              example: 1699882792
              format: int64
              type: integer
          required:
          - relevanceDate
          type:
          - object
          - 'null'
        registrations:
          description: Регистрации авто
          properties:
            isActual:
              description: Признак наличия действующей регистрации
              example: true
              type: boolean
            owners:
              description: Количество владельцев
              example: 3
              type: integer
            relevanceDate:
              description: Дата актуальности данных
              example: 1699882792
              format: int64
              type: integer
          required:
          - relevanceDate
          - owners
          - isActual
          type:
          - object
          - 'null'
        restrictions:
          description: Ограничения
          properties:
            relevanceDate:
              description: Дата актуальности данных
              example: 1699882792
              format: int64
              type: integer
            value:
              description: Признак наличия ограничений на регистрационные действия
              example: true
              type: boolean
          required:
          - relevanceDate
          - value
          type:
          - object
          - 'null'
        seriousDamage:
          $ref: '#/components/schemas/ScoringSeriousDamage'
        stealing:
          description: Угоны
          properties:
            relevanceDate:
              description: Дата актуальности данных
              example: 1699882792
              format: int64
              type: integer
            value:
              description: Признак нахождения в угоне
              example: true
              type: boolean
          required:
          - relevanceDate
          - value
          type:
          - object
          - 'null'
        taxi:
          description: Такси
          properties:
            isActual:
              description: Признак наличия действующего разрешения
              example: true
              type: boolean
            relevanceDate:
              description: Дата актуальности данных
              example: 1699882792
              format: int64
              type: integer
            value:
              description: Признак, что использовалось в такси
              example: true
              type: boolean
          required:
          - relevanceDate
          - value
          - isActual
          type:
          - object
          - 'null'
        techSpecification:
          $ref: '#/components/schemas/ScoringTechSpecification'
      type:
      - object
      - 'null'
    ScoringPlacements:
      description: Размещения объявлений
      properties:
        isActive:
          description: Есть активное размещение
          example: true
          type:
          - boolean
          - 'null'
        lastPlacementDate:
          description: Дата последнего размещения
          example: 1699882792
          format: int64
          type:
          - integer
          - 'null'
        lastPlacementIsCrashed:
          description: Признак "Битый" в последнем размещении
          example: true
          type:
          - boolean
          - 'null'
        lastPlacementPrice:
          description: Цена в последнем размещении
          example: 2500000
          format: int64
          type:
          - integer
          - 'null'
        minPrice:
          description: Минимальная цена среди всех размещений
          example: 2100000
          format: int64
          type:
          - integer
          - 'null'
        number:
          description: Общее количество размещений
          example: 3
          format: int64
          type:
          - integer
          - 'null'
        placementsWithCrashesNumber:
          description: Количество размещений с меткой "Битый"
          example: 3
          format: int64
          type:
          - integer
          - 'null'
        relevanceDate:
          description: Дата актуальности данных
          example: 1699882792
          format: int64
          type: integer
      required:
      - relevanceDate
      type:
      - object
      - 'null'
    RequestReportByVehicleIdAutoteka:
      properties:
        vehicleId:
          description: Идентификатор запрашиваемого авто (vin/frame).
          minLength: 1
          type: string
      required:
      - vehicleId
      type: object
    CreateScoringResponseBodyAutoteka:
      properties:
        result:
          $ref: '#/components/schemas/CreateScoringResponseDataAutoteka'
      type: object
    internalError:
      properties:
        error:
          properties:
            code:
              description: Код ошибки
              example: 500
              format: int32
              type: integer
            message:
              description: Сообщение об ошибке
              example: Service is temporary unavailable
              type: string
          required:
          - code
          - message
          type: object
      type: object
    ScoringTechSpecification:
      properties:
        bodyNumber:
          properties:
            gibddValue:
              description: Строковое значение
              type: string
          required:
          - gibddValue
          type:
          - object
          - 'null'
        brand:
          description: Бренд
          properties:
            gibddValue:
              description: Текстовое значение
              example: BMW
              type:
              - string
              - 'null'
            normalizedValue:
              $ref: '#/components/schemas/ScoringNormalizedValue'
          type:
          - object
          - 'null'
        chasisNumber:
          properties:
            gibddValue:
              description: Строковое значение
              type: string
          required:
          - gibddValue
          type:
          - object
          - 'null'
        color:
          description: Цвет кузова
          properties:
            gibddValue:
              description: Текстовое значение
              example: Синий
              type: string
          type:
          - object
          - 'null'
        engineNumber:
          properties:
            gibddValue:
              description: Строковое значение
              type: string
          required:
          - gibddValue
          type:
          - object
          - 'null'
        engineType:
          description: Тип двигателя
          properties:
            gibddValue:
              description: Текстовое значение
              example: Бензиновый
              type:
              - string
              - 'null'
            normalizedValue:
              $ref: '#/components/schemas/ScoringNormalizedValue'
          type:
          - object
          - 'null'
        horsepower:
          description: Количество лошадиных сил
          properties:
            gibddValue:
              description: Числовое значение
              example: 265
              format: int64
              type:
              - integer
              - 'null'
            normalizedValue:
              $ref: '#/components/schemas/ScoringNormalizedValue'
          type:
          - object
          - 'null'
        maxWeight:
          description: Разрешенная максимальная масса
          properties:
            gibddValue:
              description: Числовое значение
              example: 1645
              format: int64
              type: integer
          type:
          - object
          - 'null'
        model:
          description: Модель
          properties:
            gibddValue:
              description: Текстовое значение
              example: Serie 1
              type:
              - string
              - 'null'
            normalizedValue:
              $ref: '#/components/schemas/ScoringNormalizedValue'
          type:
          - object
          - 'null'
        netWeight:
          description: Масса без нагрузки
          properties:
            gibddValue:
              description: Числовое значение
              example: 1245
              format: int64
              type: integer
          type:
          - object
          - 'null'
        vehicleCategory:
          description: Категория ТС
          properties:
            gibddValue:
              description: Текстовое значение
              enum:
              - A
              - B
              - C
              - D
              - E
              - O
              - M1
              - M1G
              - N1
              example: D
              type: string
          type:
          - object
          - 'null'
        vehicleType:
          description: Тип ТС
          properties:
            gibddValue:
              description: Текстовое значение
              enum:
              - Автобусы прочие
              - Грузовой бортовой
              - Грузовой прочий
              - Грузовой фургон
              - Грузовые автомобили бортовые
              - Грузовые автомобили фургоны
              - Легковое купе
              - Легковой прочий
              - Легковой седан
              - Легковой универсал
              - Легковой хэтчбек (комби)
              - Легковые автомобили кабриолет
              - Легковые автомобили комби (хэтчбек)
              - Легковые автомобили купе
              - Легковые автомобили прочие
              - Легковые автомобили седан
              - Легковые автомобили универсал
              - Мотоциклы
              type:
              - string
              - 'null'
            normalizedValue:
              $ref: '#/components/schemas/ScoringNormalizedValue'
          type:
          - object
          - 'null'
        volume:
          description: Объем двигателя
          properties:
            gibddValue:
              description: Числовое значение
              example: 2996
              format: int64
              type:
              - integer
              - 'null'
            normalizedValue:
              $ref: '#/components/schemas/ScoringNormalizedValue'
          required:
          - gibddValue
          type:
          - object
          - 'null'
        year:
          description: Год выпуска
          properties:
            gibddValue:
              description: Числовое значение
              example: 2008
              format: int64
              type:
              - integer
              - 'null'
            normalizedValue:
              $ref: '#/components/schemas/ScoringNormalizedValue'
          required:
          - gibddValue
          type:
          - object
          - 'null'
      type:
      - object
      - 'null'
    ScoringIdResultAutoteka:
      properties:
        scoringId:
          description: Идентификатор скоринга, по которому его можно получить
          example: 1
          format: int64
          minimum: 1
          type: integer
      required:
      - scoringId
      type: object
    ScoringAccidents:
      description: ДТП
      properties:
        relevanceDate:
          description: Дата актуальности данных
          example: 1699882792
          format: int64
          type: integer
        value:
          description: Признак наличия ДТП
          example: true
          type: boolean
      required:
      - relevanceDate
      - value
      type:
      - object
      - 'null'
    tooManyRequestsError:
      properties:
        error:
          properties:
            code:
              description: Код ошибки
              example: 429
              format: int32
              type: integer
          required:
          - code
          type: object
      type: object
    CreateScoringResponseDataAutoteka:
      properties:
        scoring:
          $ref: '#/components/schemas/ScoringIdResultAutoteka'
      type: object
    GetScoring:
      properties:
        result:
          $ref: '#/components/schemas/GetScoringResult'
      type: object
    forbiddenError:
      properties:
        error:
          properties:
            code:
              description: Код ошибки
              example: 403
              format: int32
              type: integer
            message:
              description: Сообщение об ошибке
              example: Forbidden
              type: string
          required:
          - code
          - message
          type: object
      type: object
    validatingError:
      properties:
        error:
          properties:
            code:
              description: Код ошибки
              example: 400
              format: int32
              type: integer
            message:
              description: Сообщение об ошибке
              example: Validation error
              type: string
          required:
          - code
          - message
          type: object
      type: object
    ScoringAutoteka:
      properties:
        createdAt:
          description: Дата формирования отчета
          example: 1699882792
          format: int64
          type: integer
        data:
          $ref: '#/components/schemas/ScoringDataAutoteka'
        isCompleted:
          description: Признак, что формирование всех блоков скоринга завершено
          example: true
          type: boolean
        scoringId:
          description: Идентификатор скоринга, по которому его можно получить
          example: 1
          format: int64
          minimum: 1
          type: integer
      required:
      - scoringId
      - isCompleted
      - createdAt
      type: object
    notFoundError:
      properties:
        error:
          properties:
            code:
              description: Код ошибки
              example: 404
              format: int32
              type: integer
            message:
              description: Сообщение об ошибке
              example: Not found
              type: string
          required:
          - code
          - message
          type: object
      type: object
    ScoringSeriousDamage:
      description: Серьезные повреждения
      properties:
        relevanceDate:
          description: Дата актуальности данных
          example: 1699882792
          format: int64
          type: integer
        salvageCarAuctions:
          description: Аукционы аварийных автомобилей
          properties:
            auctionsCount:
              description: Количество аукционов
              example: 2
              format: int64
              type: integer
            lastAuctionDate:
              description: Дата последнего аукциона
              example: 1678599575
              format: int64
              type: integer
            relevanceDate:
              description: Дата актуальности данных
              example: 1699882792
              format: int64
              type: integer
          required:
          - relevanceDate
          - auctionsCount
          - lastAuctionDate
          type:
          - object
          - 'null'
        value:
          description: Признак наличия серьезных повреждений
          example: true
          type: boolean
      required:
      - relevanceDate
      - value
      type:
      - object
      - 'null'
    GetScoringResult:
      properties:
        risksAssessment:
          $ref: '#/components/schemas/ScoringAutoteka'
      type: object
  parameters:
    authHeader:
      description: Токен для авторизации
      example: Bearer ACCESS_TOKEN
      in: header
      name: Authorization
      schema:
        type: string
  headers:
    X-RateLimit-Remaining:
      description: Доступное количество запросов в текущем временном окне
      schema:
        format: int32
        type: integer
    X-RateLimit-Limit:
      description: Количество запросов в минуту
      schema:
        format: int32
        type: integer
  securitySchemes:
    ClientCredentials:
      description: Это API использует OAuth 2 с механизмом client_credentials. Используйте его для доступа к возможностям своей личной учетной записи. [Подробнее](#tag/Access)
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://pro.autoteka.ru/token
      type: oauth2
x-gateway:
  exportTo:
  - gateway: open-api-gateway
